[2020-08-17 23:28] opentaps opened #2 "set up database and load eGRID database data"
Set up a local database (couchdb) with a table for UTILITY_EMISSION_FACTORS with the following fields:

- Year
- Country (USA for now, can add others)
- Division_type (can be BALANCING_AUTHORITY, STATE_PROVINCE, SUBREGION, COUNTRY)
_ Division_id
- Division_name
- Net_Generation
- Net_Generation_UOM (unit of measure, can be MWH)
- CO2_Equivalent_Emissions
- CO2_Equivalent_Emissions_UOM (unit of mea

[2020-08-17 23:43] opentaps opened #3 "load utility identifiers into database"
[Utility_Data_2019_Data_Early_Release.xlsx](https://github.com/opentaps/blockchain-carbon-accounting/files/5087335/Utility_Data_2019_Data_Early_Release.xlsx)
Based on the US Energy Information Administration's [EIA-861](https://www.eia.gov/electricity/data/eia861/), it seems there are standard utility numbers for each utility.  We can use this to set up a lookup table UTILITY_LOOKUP for utilities:

[2020-08-17 23:46] opentaps commented on #2
This is the spreadsheet.

[2020-08-17 23:46] opentaps commented on #2
[egrid2018_data_v2.xlsx](https://github.com/opentaps/blockchain-carbon-accounting/files/5087342/egrid2018_data_v2.xlsx)

[2020-08-18 00:04] opentaps opened #4 "calculate CO2 emissions for US Utility"
Based on #2 and #3, calculate the CO2 emissions for utility

Input:
- Utility Number
- Thru Date
- Usage
- Usage_UOM = for example, KWH or MWH
- Emissions_UOM = Tons

Output:
- Emissions
- Division_type

Get Utility Emissions Factors from #12 with Division_type and Year of Thru_date

Calculate Emissions = Utility Emissions Factors.CO2_Equivalent_Emissions  / Net_Generation * Usage * (Usage_UOM/Net

[2020-08-18 19:03] opentaps opened #5 "store raw utility bill data"
Find a way to store the raw utility bill data, which could be a PDF of a bill or a Green Button XML document.

It should be encrypted but available for review by authorized parties, for example external regulators, investors, etc.

[2020-08-18 19:04] opentaps opened #6 "Private data for emissions record"
Calculated from #4 should be stored as private data on the ledger, so that it's available to the company, the emissions auditor, and other authorized parties like customers, regulators, investors.

[2020-08-18 19:07] opentaps opened #7 "user interface for utility emissions"
Simple user interface which includes sending utility bill with raw data (see #5) and accessing the emissions records from #4 #6

I think we can use the existing [opentaps_seas](https://github.com/opentaps/opentaps_seas) as a starting point.

[2020-08-19 21:14] lamnd09 commented on #3
As discussed in the last meeting, the default db implemented in HF is LevelDB, and we might use CouchDB. Should we import all data from excel into CouchDB for a simple demo?

[2020-08-20 15:44] opentaps commented on #3
In that case, how about just store it on the ledger.  That way it can work
with either LevelDB or CouchDB.
-----
Si Chen
Open Source Strategies, Inc.

Join our Hyperledger Open Source Carbon Accounting & Certification Working
Group
<https://wiki.hyperledger.org/display/CASIG/Carbon+Accounting+and+Certification+Working+Group>
-
Video <https://www.youtube.com/watch?v=Jbq2TYXPmj0>

On Wed, Aug 19, 20

[2020-08-26 15:20] opentaps opened #9 "docker-compose network up failed"
Hi @udosson Any idea why this might be failing now?  There were no docker containers running before I did this.
![Screen Shot 2020-08-26 at 8 19 14 AM](https://user-images.githubusercontent.com/1706353/91322734-ed333480-e774-11ea-8ef4-ca8dc6b54ec9.png)

[2020-08-26 16:48] udosson commented on #9
Could you try to run ‘./network.sh down‘ and then try to start again?

[2020-08-26 17:51] opentaps commented on #9
That fixed it!  Thank you.

[2020-08-26 17:51] #9 closed

[2020-08-27 16:14] opentaps commented on #2
@lamnd09 Can you change your import to use the data format described in this task?  See the original description and the spreadsheet that I've attached.

[2020-08-27 23:27] opentaps commented on #2
@lamnd09 After some more thinking I still believe it is better to separate the logic of looking up emissions factors from storing this seed data on the chain.  So can you just load one of these records based on what's here and then calculate the emissions by making the conversion?  Then we can work on loading and getting data from a DB, either Orbit or Dynamo DB or something else.

[2020-08-28 11:56] lamnd09 commented on #2
@opentaps , it sounds reasonable! I will update the data format as #2 #3 with NRL18 to compute emissions. So I will create 2 structure, one for Utility to get NERC_REGION, then with NERC_REGION, a strucuture for emissions we compute the emission as #4. In second part, first step, I just take away some colums contain values of CO2 emission? How do you think?

[2020-08-28 15:43] opentaps commented on #2
Yes, so currently you have one Value struct, we'll need 3: Emissions which
mirrors the emissions.js from node, and then a UtilityData for the fields
from #3 and EmissionsFactors for the fields from #2.

Just initialize with one record of UtilityData and one of EmissionsFactor
for now.  We can later work on code for getting them.

Then the calculation should have some conversion in case there are o

[2020-08-30 13:24] udosson commented on #7
The first version of REST API can be used for testing. Who will tackle this issue and get a simple UI up and running?

[2020-08-31 12:22] lamnd09 commented on #7
I have no problem with trying to create a simple UI for testing and I also want to try, but it cannot be quick because of the lack of UI design experiences. I will do it as a study process, if someone has the experiences, feel free to create one.

[2020-08-31 16:46] opentaps opened #10 "Convert Go chain code to use contract API"

[2020-08-31 19:36] opentaps commented on #3
@lamnd09 Please take a look at my commit to emissioncc.go and let me know what you think.

[2020-09-09 08:50] udosson opened #11 "Sign Transactions Offline - fabric-node-sdk"
1. Test the following [tutorial](https://hyperledger.github.io/fabric-sdk-node/release-2.2/tutorial-sign-transaction-offline.html) locally
2. Implement functionality in REST API

[2020-09-10 19:42] opentaps commented on #11
Sounds good.  Please let me know how it goes.

[2020-09-16 01:40] opentaps opened #12 "Get emissions factor for utility"
Input:

Utility Number
Thru Date

Output
Utility Emissions Factors from #2

How it works:

Find Utility using #3

With Utility.Divisions
if Division_type=BALANCING_AUTHORITY is available
then Division_type = BALANCING_AUTHORITY
else if Division_type=NERC_REGION is available
then Division_type = NERC_REGION
// could have others here like COUNTRY, STATE_PROVINCE, etc.

Get Utility Emissions Factors

[2020-09-16 02:18] opentaps commented on #7
@udosson The REST API looks very nice.  Thank you!
@lamnd09 We can integrate it into [opentaps seas](https://github.com/opentaps/opentaps_seas).  It already has buildings, meters, and utility data integration built there.

[2020-09-16 07:36] lamnd09 commented on #7
Sounds good! @opentaps, do we have a tutorial of opentaps seas? So I can try to run it.

[2020-09-16 15:55] opentaps commented on #7
Sure, take a look at
https://github.com/opentaps/opentaps_seas/tree/master/docs  There's
documentation on installation and on using it.

We're cleaning it up a bit and will try to get the UI hooked up to the rest
interface.

Also take a look at opentaps.org -- there's a video for it.

-----
Si Chen
Open Source Strategies, Inc.

Join our Hyperledger Open Source Carbon Accounting & Certification Wor

[2020-09-21 21:45] #2 closed

[2020-09-21 21:45] #3 closed

[2020-09-21 23:19] #12 closed

[2020-09-22 01:14] #10 closed

[2020-09-22 17:29] rybalko opened #13 "Get the blockchain network up and running issue"
I've found one strange issue, utils in the utility-emissions-channel/docker-compose-setup/bin/ are not linux execute binary files.
For example
bash: ./peer: cannot execute binary file: Exec format error
So I get same utils from
https://github.com/hyperledger/fabric.git
fabric/scripts/fabric-samples/bin/
put them into utility-emissions-channel/docker-compose-setup/bin1/
changed utility-emissions-ch

[2020-09-24 16:46] opentaps opened #14 "implement get list of emissions record"
Implement new chain code method to get list of emissions record for utility, customer, and from_date, thru_date range.

It will return a list of the emissions records with from_date > from_date and thru_date < thru_date

[2020-09-25 16:25] opentaps commented on #7
Got a basic UI working: See

![Screen Shot 2020-09-25 at 9 22 40 AM](https://user-images.githubusercontent.com/1706353/94291922-19c3a300-ff11-11ea-9881-9ff8b5bd1221.png)
![Screen Shot 2020-09-25 at 9 23 18 AM](https://user-images.githubusercontent.com/1706353/94291928-1cbe9380-ff11-11ea-8ec0-7c538e5f861a.png)

[2020-10-01 00:12] opentaps opened #15 "Unexpected end of JSON input with retrieving emissions records after recent updates"
After recent updates, I'm having an "Failed to evaluate transaction: SyntaxError: Unexpected end of JSON input" error after registering the org admin, the user, creating an emissions record, and then trying to retrieve the emissions record.

![Screen Shot 2020-09-30 at 5 09 48 PM](https://user-images.githubusercontent.com/1706353/94752382-eaad9700-033f-11eb-9732-5699f03122a9.png)
![Screen Shot 202

[2020-10-02 14:07] udosson commented on #15
Hi Si, thanks a lot for reporting. I could reproduce the error. The error message occurs because `getEmissionsData` produces the lookup key with the wrong date. Have a look [here](https://github.com/opentaps/blockchain-carbon-accounting/blob/a2ba0c52746fab2d10f078eba74610c1bb5ea17f/utility-emissions-channel/chaincode/node/lib/emissionscontract.js#L98)

In `recordEmission` you set dates as follows:

[2020-10-02 14:07] #15 closed

[2020-10-02 21:53] opentaps commented on #15
You are right!  Here is what it looks like now.  Thanks!
![Uploading Screen Shot 2020-10-02 at 2.52.56 PM.png…]()

[2020-10-15 14:53] opentaps opened #16 "Questions about docker-compose"
Hi @udosson When you have a moment, could you let me know:

1.  Can we move the application/ folder from utility-emissions-channel/docker-compose-setup/ to utility-emissions-channel/ so it is parallel to chaincode/ and docker-compose-setup?  It seems the rest api should work with any chain code set up.

2.  Is there an explorer down with docker compose or how do we stop the explorer?

3.  Does dep

[2020-10-16 19:32] #7 closed

[2020-10-16 19:32] #4 closed

[2020-10-16 19:33] opentaps opened #17 "change get/record emissions to use date object instead of string"
Chain chaincode and rest api for get/record emissions to use date object instead of string.

[2020-10-16 21:23] opentaps opened #18 "load rest of eGrid Database and use for utility emissions calculations"
Follow up on #2 and load all the other tabs of the eGrid database.  Modify chain code to use them for utility emissions calculations.

[2020-10-16 21:25] sichen1234 opened #19 "cloud deployment of utility emissions channel"
Set up a "live" deployment of utility emissions channel in the cloud

[2020-10-19 17:14] opentaps commented on #19
See https://docs.microsoft.com/en-us/azure/blockchain/templates/hyperledger-fabric-consortium-azure-kubernetes-service and https://cloud.ibm.com/docs/blockchain/index.html

[2020-10-19 20:53] udosson commented on #16
Hi @opentaps
1. yes. already done
2. explorer down was included in `./network.sh down`. I also added a function to only shut down the explorer: `./network.sh stopBlockchainExplorer`
3. deployCC requires the version of the chaincode as well as the sequence as a flag. I updated the readme file with steps to follow. It'd be similar to `./network.sh deployCC -ccv 2.0 -ccs 2`

[2020-10-22 19:06] michaelbauerinc opened #20 "script to reset wallets"
During some tasks with the opentaps_seas repo, there has been several times where it would be convenient to have a quick script to reset the wallet data.

I'm not sure if this makes sense to include in networkDown, but having the option in the network script would be a simple and streamline way to verify a fresh slate when working with the fabric network/API.

[2020-10-22 19:37] udosson commented on #20
Putting the `reset wallet data` function into the `network.sh` file seems appropriate to me. I gonna tackle this tomorrow.

[2020-10-22 20:24] michaelbauerinc commented on #20
That seems to make sense to me as well. I just pushed some changes that added a resetAllData function to remove the wallets and fabric-ca-server dbs, please let me know if there's anything else thats needed for this task.

[2020-10-23 13:57] udosson commented on #20
Great, thanks a lot @michaelbauerinc.
I would add the `resetAllData` function to `networkDown`. what do you think of this?
`networkDown`--> Stop and remove everything for a fresh start

[2020-10-23 15:47] michaelbauerinc commented on #20
That makes sense to me, except in the case that a developer might want to stop the network without removing data. I believe that if resetAllData was added to networkDown, the only option for that would be to restart docker. Perhaps there could be an argument to networkDown that does not remove data/containers? Or perhaps the default should be not removing data/containers and a "hard" argument coul

[2020-10-23 17:33] opentaps commented on #16
1.  What is the difference between [utility-emissions-channel/application](https://github.com/opentaps/blockchain-carbon-accounting/tree/master/utility-emissions-channel/application) and [utility-emissions-channel/docker-compose-setup/application/ ](https://github.com/opentaps/blockchain-carbon-accounting/tree/master/utility-emissions-channel/docker-compose-setup/application)
2. Thanks!
3. What is

[2020-10-26 09:51] ethicalvats opened #21 "Unable to POST recordEmissions"
Error from peer node

[code]

API response

[code]

[2020-10-26 22:47] opentaps commented on #21
Did you load the egrid-data-loader data into amazon dynamodb?

Also you need to use a real utility, for example utilityId 11208 for Los Angeles Department of Water & Power.  It is going to try to look for real emissions factors of real utilities.

[2020-10-27 18:01] #14 closed

[2020-10-27 18:10] udosson commented on #20
@michaelbauerinc good points!
At the moment, `networkDown` deletes all docker volumes and removes the orphans [network.sh](https://github.com/opentaps/blockchain-carbon-accounting/blob/9d9265bfcfce099e49a7dfdd4abd9847b2b17a4b/utility-emissions-channel/docker-compose-setup/network.sh#L438)
I like the idea of putting an argument which stands for hard reset or just stopping all container.
Have a look

[2020-10-27 18:23] udosson commented on #16
1. There wasn't any different. I removed the duplication at utility-emissions-channel/docker-compose-setup/application/
2. :)
3. -ccs is the chaincode sequence. It's a counter of the sequence of the chaincode deployment. It must increment by one each new version of the chaincode. Where -ccv, the chaincode version, could be of any format like 2 or 2.0.1, etc.

[2020-10-28 01:57] opentaps opened #23 "add renewable energy data to recorded emissions"
Based on #2, add the portion of renewable vs non-renewable energy to the utility seed data and the calculated emissions on the ledger:
1.  Add columns DQ (Total Nonrenewable Generation) and DR (Total renewable generation) to the amazon dynamo database of utility data egrid dataloader
2.  In emissions-calculator.js, also calculate:
2a.  renewableEnergyUseAmount = energyUseAmount * Total Renewable G

[2020-10-29 20:46] #16 closed

[2020-10-29 20:47] #17 closed

[2020-10-30 21:25] opentaps commented on #21
Hey @ethicalvats Did you get it working?  If not send me an email and we'll help get it up and running.

[2020-10-30 21:25] opentaps commented on #19
Also see https://medium.com/faun/how-to-deploy-hyperledger-fabric-on-aws-with-blockchain-templates-12ff1b219d98

[2020-10-30 21:26] #23 closed

[2020-10-30 21:29] opentaps opened #24 "do not allow emissions to be recorded for same time"
Do not allow emissions records for the same utility and account to be recorded in overlapping time periods.  This means the chain code should check that there are no existing emissions records which have date range (from date to thru date) that contain the new emission record's from date and thru date.

For example, if you've already recorded emissions for utility 11208, account 1234567890, from 2

[2020-10-30 21:33] #20 closed

[2020-10-30 21:56] sichen1234 opened #25 "create a net emissions channel"
Initial implementation of the net emissions channel (https://wiki.hyperledger.org/display/CASIG/Net+Emissions+Data+Channel) with only utility emissions netting out renewable energy certificates and carbon offsets.

We'll return dummy values for REC's of 100 KWH and 0.1 ton for carbon offsets for now.  Later we'll hook up other blockchains to get the RECs and offsets.

The tasks would be:
1. Get th

[2020-10-31 23:17] opentaps opened #26 "replace composite key of emissions records with unique key"
I've been thinking about changing the emissions records to use a unique UUID key instead of a composite key like we are now, and instead changing the composite key fields to attributes.  This way we could do things in a way that would be compatible with other types of data channels and other types of ledgers (most importantly public ones like ethereum), which could require a single token id but th

[2020-11-02 11:35] ethicalvats commented on #21
I have not setup my AWS account. Will do it later and test this setup

[2020-11-05 18:10] udosson commented on #26
After some research and especially this [article](https://medium.com/@Mareks_082/auto-increment-keys-vs-uuid-a74d81f7476a) on medium, I recommend using UUID as PK.
Of course, compared to auto-increment keys or composite keys there are downsides like performance loss and the increased storage required. However, we can generate the UUID outside of the chaincode and its a create benefit to have a "gl

[2020-11-06 21:20] opentaps commented on #21
Sure.  Send me an email at sichen@opensourcestrategies.com  I'd like to
find out more about what you're doing and see how we could help.
-----
Si Chen
Open Source Strategies, Inc.

Save the Date!  2020-11-05 6 PM EST/3AM PST
Climate Accounting and Action with Hyperledger
<https://www.meetup.com/Hyperledger-Toronto/events/274129711/>

On Mon, Nov 2, 2020 at 3:36 AM Vatsal Mishra <notifications@gith

[2020-11-08 11:13] ethicalvats opened #27 "Add AWS_REGION in config template"
As the title says, currently data loader script does not allow to specify the AWS region for deploying the DynamoDB tables. By default it is set to use 'us-east-1' zone.

I think it will be a good idea to add that config also inside the template. I have taken the note that the code supports adding a config for AWS_REGION and it does look for that setting while creating a connection object but this

[2020-11-11 18:48] sichen1234 opened #28 "Tokenize net emissions"
Tokenize net emissions according to https://wiki.hyperledger.org/display/CASIG/Net+Emissions+Data+Channel

Following the [Token Taxonomy Framework](https://github.com/InterWorkAlliance/TokenTaxonomyFramework/blob/master/artifacts/token-templates/specifications/CET/latest/CET-spec.pdf) from InterWork Alliance.

[2020-11-11 18:49] opentaps opened #29 "expand utility emissions base data to other regions"
Currently we're using the eGRID database from the USA.  We'd like to expand utility emissions data to other regions, such as Europe, UK, India, etc.  We need help identifying trusted data sets for calculating emissions in those regions.

[2020-11-11 21:59] sichen1234 opened #30 "Identify sources for purchasing renewable energy certificates"
Currently we're aware of https://www.green-e.org/certified-resources for purchasing REC's in the USA.

Please let us know if you know of other sources for buying them in other regions.

[2020-11-11 22:53] opentaps opened #31 "Client applications for emissions"
We're currently using [opentpas SEAS](opentaps.org) for connecting utility data to the ledger.

There could and should be other client apps that could connect to the ledger, calculate total emissions, manage offsets, etc.

We should discuss ideas on what these apps should look like and how they should be built.

[2020-11-12 01:00] sichen1234 opened #32 "create security for REST API"
Currently the REST API is not secured.  It should be secured with tokens for registering users and performing operations.

[2020-11-12 15:46] michaelbauerinc commented on #26
I've gotten a working example of this going this morning. I don't have an opinion on whether we use PK or UUID, as the logic will basically be the same except for that one value. This will leave it flexible in the future, but just a few questions:

1) For the query of ONE emission, would it require all of the same fields and then return the result ONLY unique to that?

2) For querying ALL emission

[2020-11-12 15:56] michaelbauerinc commented on #26
I am also looking at this for generating UUIDs: https://www.npmjs.com/package/uuid

[2020-11-12 16:45] opentaps commented on #26
1.  To query one emission should only require the UUID key
2. Yes, to query a list of emissions, use all the same current parameters to return a list of the emissions.

[2020-11-13 18:01] opentaps opened #33 "Use local database instead of cloud DynamoDB"
Try https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html

See if we can get both the egrid-data-loader and the chain code to run with a local database so you don't have to set it up in the cloud.

[2020-11-13 18:50] opentaps commented on #32
Initially we can just secure it by restricting access to known IP addresses.  This is adequate for a scenario where each client app (ie from an auditor) accesses the chain code through its own REST api.

[2020-11-13 18:55] opentaps opened #34 "switch rest api to typescript instead of javascript"
For better maintainability, we're thinking about switching the REST api from javascript to typescript.

[2020-11-13 18:56] opentaps commented on #34
@udosson What do you think of this?  I remember you were a typescript fan as well.  Mike here has already done some of the coding for it, so we can just finish that up and switch it over.

[2020-11-13 19:31] opentaps commented on #11
@udosson Should we still work on this?  Or do your suggestions for trustID make this unnecessary now?

[2020-11-13 19:55] udosson commented on #34
I agree. TypeScript is much better for maintainability. @michaelbauerinc will you tackle this?

[2020-11-13 20:02] udosson commented on #11
@opentaps I would leave this issue open as at the moment I don't know much about trustID and if it's production-ready (which I don't think). Hopefully, we can gather more information about trustID during the Open Climate Collabathon. And still, signing transactions offline in a kind of wallet app is the way to go if we want to move the user authentication away from the REST API/Frontend layer. If

[2020-11-13 23:18] opentaps commented on #11
Ok sounds good.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Fri, Nov 13, 2020 at 12:02 PM Robin Klemens <notifications@github.com>
wrote:

[2020-11-14 16:03] udosson commented on #32
This would be a simple and effective first step. How would you secure access to the frontend which is connected to the REST API?

I put together a task for the Open Climate Collbathon. Have a look at the google doc under the section CLIENT | SDK Task 1: Secure REST API
https://docs.google.com/document/d/1PYKffkyAAAyyFiYsLqFk3_8T52-GkJHA8BLCbwx-QMg/edit?usp=sharing

[2020-11-14 16:34] opentaps commented on #32
If only one client can access the REST API and then the ledger, then the
client is responsible for providing its own security for its users.  The
scenario is that
1.  there is a network of nodes,
2.  each node is run by/for one of the organizations, ie an auditor,
approved by the other organizations of the node
3.  each auditor can access its node and only its node through a rest api,
4.  each aud

[2020-11-16 07:22] knagware opened #35 "Stop blockchain explorer command not available"
Stop blockchain explorer -Run ./network.sh stopBlockchainExplorer

[2020-11-16 07:24] knagware opened #36 "blockchain explorer container failing with Error: Cannot find module '/opt/explorer/main.js'"
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module '/opt/explorer/main.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Function.Module.runMain (internal/modules/cjs/loader.js:831:12)
    at startup (internal/bootstrap/node.js:283:19)
    at bootstrapNodeJS

[2020-11-16 20:46] michaelbauerinc commented on #27
Added

[2020-11-16 20:46] michaelbauerinc commented on #33
Just pushed this feature.

[2020-11-17 17:37] #26 closed

[2020-11-17 17:40] opentaps commented on #27
This is done now.  See the utility-emissions-channel/chaincode/node/lib/aws-config.js.template

[2020-11-17 17:40] #27 closed

[2020-11-17 17:46] #24 closed

[2020-11-18 00:06] lamnd09 commented on #13
I also got the same problem with Linux. But it works with the macOS.
My solution is similar to @rybalko.

[2020-11-19 10:43] ethicalvats opened #39 "Upgrade to Fabric 2.3"
Hyperledger fabric has released v2.3 which adds the support for [ledger snapshots](https://hyperledger-fabric.readthedocs.io/en/release-2.3/whatsnew.html).

[2020-11-19 10:46] ethicalvats commented on #36
@knagware have you pulled the latest docker image for explorer? It does not need main.js and also the same issue was discussed over https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/22

[2020-11-21 17:50] udosson commented on #35
Does anyone else face this issue? I couldn't verify it. `./network.sh stopBlockchainExplorer` works as expected.

[2020-11-21 17:52] udosson commented on #33
@michaelbauerinc @opentaps
 Can we close this issue then?

[2020-11-21 21:17] lamnd09 commented on #35
It works perfectly.

[2020-11-23 16:48] opentaps commented on #33
Just finalizing its documentation, and then we'll close it.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Sat, Nov 21, 2020 at 9:52 AM Robin Klemens <notifications@github.com>
wrote:

[2020-11-23 16:48] opentaps commented on #35
@knagware Could you pls provide more details?  If not we'll be closing this.

[2020-11-25 17:57] opentaps opened #46 "move multi-cloud-deployment folder inside of utility-emissions-channel"
@udosson multi-cloud-deployment is just for the utility emissions channel, right?  In that case could you please move it there?  That way in the blockchain-carbon-accounting/ main folder we can have other app-level folders, like the net emissions token using eThaler and besu/ethereum.

[2020-11-26 17:50] udosson commented on #46
@opentaps in my view, the multi-cloud-deployment is one fundamental part of blockchain-based carbon accounting. The utility emissions channel could be one of many channels of the "general purpose" Hyperledger Fabric network.
It would like to separate application logic like net emissions token, utility emissions channel from the shared infrastructure layers Common Data as well as Common ID & Agents

[2020-11-28 00:47] opentaps commented on #46
OK then.  We'll put all documentation for deployment there.

[2020-11-28 00:47] #46 closed

[2020-11-30 17:59] udosson opened #47 "Switch chaincode from JavaScript to TypeScript"
Rewrite `emissionscontract.js` to `emissionscontract.ts` for better maintainability. Also, make appropriate changes to deployCC.sh.

[2020-12-01 17:28] opentaps commented on #34
All done.

[2020-12-01 17:28] #34 closed

[2020-12-01 17:29] #33 closed

[2020-12-01 17:30] opentaps commented on #21
You can now use localdynamodb.  We've updated our instructions.  Pls take a look and let us know if this continues to be a problem.

[2020-12-01 17:30] #35 closed

[2020-12-01 18:42] #5 closed

[2020-12-01 18:43] opentaps commented on #47
Sure.  Could you please make a separate branch for it?

[2020-12-02 02:01] opentaps opened #48 "implement net emissions token network smart contracts"
See https://wiki.hyperledger.org/display/CASIG/Net+Emissions+Tokens+Network

We'll be implementing these smart contracts based on the code from the eThaler project.

[2020-12-02 02:05] opentaps opened #49 "implement basic interface for net emissions token network"
Implement a basic interface for net emissions token network for dApp development, based on create-eth-app.

[2020-12-02 07:20] udosson commented on #47
I'll do it once I'm done with the multi-cloud deployment. If anybody has time to tackle this issue feel free to work on this.

[2020-12-02 22:34] opentaps commented on #29
@udosson What do you think of using these data sources for Europe:

- https://www.eea.europa.eu/data-and-maps/data/approximated-estimates-for-the-share-3 has a spreadsheet which shows the percentage of energy coming from renewables for each country.  Note that 0.55 means 55%
- https://www.eea.europa.eu/data-and-maps/daviz/co2-emission-intensity-5 has a CSV file of the carbon intensity of each coun

[2020-12-04 10:04] udosson commented on #36
I think we can close this issue.
@opentaps, @ethicalvats, and @knagware do you agree?

[2020-12-04 16:37] opentaps commented on #36
Sure.  Let's close it for now.

[2020-12-04 18:05] udosson commented on #36
alright then.

[2020-12-04 18:05] #36 closed

[2020-12-04 18:06] udosson commented on #13
Any suggestions on what we should do about this?

[2020-12-04 18:20] opentaps commented on #13
I think we've solved it now during the docker deploy setup.  We can close it now.

[2020-12-04 18:20] #13 closed

[2020-12-06 17:23] udosson opened #51 "Move emissionscontract to separate dir in chaincode"
Move `emissionscontract` to separate dir in the chaincode dir because with the `datalock` chaincode we start having multiple chaincodes in the same channel. With the restructuring, `deployCC.sh` and additional dependencies need to be updated as well. The updated structure of the chaincode dir would be as follows:
./chaincode
---/emissionscontract
------/typescript
------/deploy
------/packaging
--

[2020-12-07 16:34] opentaps commented on #51
OK that sounds good.  We have some basic automated tests now so you can use them.  See https://github.com/opentaps/blockchain-carbon-accounting/tree/master/utility-emissions-channel under "Testing the network"

[2020-12-08 00:10] opentaps opened #52 "test storing emissions seed data in orbitdb"
Check if we could store emissions seed data (from egrid-data-loader) which is currently in dyanmodb on OrbitDb.

[2020-12-08 00:13] opentaps opened #53 "storing documents on document store of the local node"
Currently we're storing the documents in amazon s3 which could be local or in the cloud based on the aws-config.js settings

This should be stored in a local file repository instead of the same being used by the entire network.  The hash code should be stored on the chain and replicated across the nodes.  Then each time a get emissions data record is called, it will retrieve the local copy of the

[2020-12-08 00:24] opentaps opened #54 "electricity emissions data for India"
The best source seems to be https://www.iea.org/countries/india

It has the mix of energy sources (coal, natural gas, renewables, etc.) and total MtCO2e of emissions generated.  The data is available every 5 years for the whole country of India, the last year being 2018.

[2020-12-08 20:42] opentaps commented on #53
This has been confirmed: The amazon s3-config.js is local to each node, so each node can specify its own document store.
 The hash of the document is stored on chain, so if the local node's document store could not return the document, then the record cannot be returned any more.

[2020-12-08 20:42] #53 closed

[2020-12-09 23:05] opentaps commented on #52
After reviewing the orbitdb documentation and requirements, it seems not to be right for us right now.  We should continue to monitor it until it gets to a 1.0 release.

Meanwhile we can make the dynamodb in the cloud open for readonly access, and deploy with a fixed URL to the common dynamodb instance.  If needed we could host several dynamodb instances and have our chain code poll all of them to

[2020-12-11 01:42] opentaps commented on #52
I'll leave this open in case anybody else wants to try it.

[2020-12-11 19:45] sichen1234 opened #55 "Identify sources for tokenized emissions offsets"
Identify sources for purchasing tokenized emissions offsets so that they could be used as part of the net emissions network.

[2020-12-11 19:49] opentaps commented on #55
One good option is the [UPCO2](https://uphold.com/files/UPCO2.pdf) from the Universal Protocol alliance.  These are ERC tokens of REDD+ forestry credit.  There are 40,000 MtCO2e available, and each token contains a serial number which maps to the verra registry:
<img width="1195" alt="Screen Shot 2020-12-08 at 2 53 51 PM" src="https://user-images.githubusercontent.com/1706353/101948363-be678f80-3b

[2020-12-21 18:55] sichen1234 opened #57 "research other ways for storing documents on the channel"
Research whether https://www.blockstack.org/how-blockstack-works and https://xordrive.io/ could be used to store documents such as utility bills locally and yet make them available across the network.

[2020-12-21 18:57] opentaps commented on #57
See https://wiki.hyperledger.org/display/CASIG/2020-12-21+Peer+Programming+Call

[2020-12-21 23:22] opentaps commented on #57
Another good one is https://sia.tech/.  We'll have to look at them all.

[2021-01-21 00:14] opentaps opened #64 "Store emissions factor data on fabric ledger"
Instead of storing emissions factor data in dynamodb or orbitdb, store the emissions factor data directly on fabric ledger.  The benefits would be:

1. Easier installation -- No need to set up either local or cloud based database separately
2. Emissions factors will be replicated across all nodes
3. Emissions factors used will be immutably stored and available for later auditing

Add data type fie

[2021-01-21 15:36] udosson commented on #64
I agree with all the points listed above. I want to add that this would also be easier to maintain. Instead of updating multiple instances of databases each time some factors change we just have to maintain the chaincode and update the chaincode version on all endorsing peers.

Take a look at the following links to get help in implementing this:
https://hyperledger-fabric.readthedocs.io/en/release

[2021-01-22 18:56] opentaps opened #66 "Cannot start fabric network"
After transferring to the hyperldger-labs repository, I've not been able to start the fabric network.

During the transfer binaries were removed to clean it up, but unfortunately it wasn't working any more -- reinstalling binaries got me the mac os x binaries, but the docker containers are ubuntu.  So we tried to put binaries back in.

However it's still not working for me:
[Terminal Saved Output.

[2021-01-22 18:57] opentaps commented on #66
These are the docker images at the end
![Screen Shot 2021-01-22 at 10 57 20 AM](https://user-images.githubusercontent.com/1706353/105533227-abb1a180-5ca0-11eb-8dd3-3940c76742f7.png)

[2021-01-26 21:10] opentaps commented on #66
Thanks for your help!

This is working for me now.

[2021-01-26 21:10] #66 closed

[2021-01-27 19:05] opentaps opened #71 "Python is not set error in startApi.sh script"
When starting the express API server as a docker container, we're getting this error:
![Screen Shot 2021-01-27 at 11 03 30 AM](https://user-images.githubusercontent.com/1706353/106040578-81405980-608f-11eb-8667-a911f06a3b1c.png)

It can be fixed by going to
$ cd typescript_app
$ npm install

But it will reappear if you remove your node_modules directory.

It seems the Dockerfile for the docker con

[2021-01-27 19:07] opentaps commented on #71
@udosson This works OK for now if you $ npm install first from the typescript_app directory.  Could you show me how to fix the docker container so it has the right dependencies?

[2021-02-03 21:15] opentaps commented on #52
This is no longer necessary thanks for #64

[2021-02-03 21:15] #52 closed

[2021-02-03 21:16] opentaps commented on #49
Done.  See https://www.youtube.com/watch?v=C-cUjQLDGJw

[2021-02-03 21:16] #49 closed

[2021-02-03 21:16] opentaps commented on #48
Done.  See https://www.youtube.com/watch?v=C-cUjQLDGJw

[2021-02-03 21:16] #48 closed

[2021-02-03 21:18] opentaps commented on #18
Done now.  We're loading State data.  Since the utility identifiers link down to State, this is the only other useful one.

[2021-02-03 21:18] #18 closed

[2021-02-04 21:19] opentaps commented on #64
This is done now!

[2021-02-04 21:19] #64 closed

[2021-02-04 21:28] opentaps opened #75 "problems with storing emissions on goerli from fabric"
Trying the http://localhost:9000/api-docs/#/emissionscontract/recordAuditedEmissionsToken to store emissions on goerli from fabric, I noticed a few issues:

1. Why is this API GET and not PUT?
2. It should have utilityId and partyId to store only the emissions of one party
3. The API should display emissionsAmount not energyUseAmount here in the log file:
4. The quantity of tokens issued is wrong:

[2021-02-04 21:30] opentaps commented on #21
I don't think this is an issue any more, especially since we're using the fabric channel to store the emissions factor data and not using dynamodb any more.

[2021-02-04 21:30] #21 closed

[2021-02-10 17:14] opentaps opened #76 "problem storing European emissions data on Mac OS X"
This is happening on Mac OS X but not on Ubuntu.  When trying to load the European co2 emissions intensity data, there is an error:
$  node egrid-data-loader.js load_utility_emissions co2-emission-intensity-6.csv Sheet1
Assuming 2019-RES_proxies_EEA.csv has already been imported...
Password:
Cannot get standard output for getUtilityFactor chaincode command
(node:26660) UnhandledPromiseRejectionWar

[2021-02-11 19:56] opentaps commented on #75
A couple of changes after today's testing:

1. store emissions records with UUID as ID instead of taking ID as a paramter of recordEmissions
2. change recordAuditedEmissionsToken to accept a list of these UUID's (or a string separated by ",") and then find those emissions records and tokenize them, and remove all the party id, utility id, from date, thru date in the lookup.

[2021-02-16 18:14] sichen1234 opened #80 "get utility emissions channel automated tests working"
The automated tests in utility-emissions-channel/typescript_app/runTests.sh is not working.  Get the tests to work and be able to verify the record emissions and get emissions.

[2021-02-16 18:20] #75 closed

[2021-02-16 21:52] opentaps opened #81 "The Graph integration through create-eth-app"

[2021-02-16 21:55] opentaps opened #82 "utility-emissions-channel - When calling recordEmissions on chaincode, look for latest available year with data"

[2021-02-16 21:55] #82 closed

[2021-02-17 15:46] jamesondh opened #83 "Static analysis of Solidity code with Slither"
[Slither](https://github.com/crytic/slither) is a powerful Solidity static analysis framework for Python 3.

- Implement in net-emissions-token-network and integrate with Hardhat
- Use detector API to write custom analyses in Python
- Create a write-up in markdown with results and instructions on running the analyses
- Create issues and/or pull requests of security recommendations/improvements/fix

[2021-02-17 16:26] jamesondh opened #84 "Add support for OVM tests for Hardhat with @eth-optimism/plugins/hardhat/ethers"
Using the [@eth-optimism/plugins/hardhat/ethers](https://hardhat.org/plugins/eth-optimism-plugins-hardhat-ethers.html) plugin for Hardhat, implement support for testing the NetEmissionsTokenNetwork contract compiled to the OVM in the `tests/` folder. Build on top of the existing tests as to not duplicate the tests since only the Ethers.js library is being replaced.

[2021-02-18 13:57] jamesondh opened #85 "Add OpenZeppelin upgrade plugin to NetEmissionsTokenNetwork contract"
OpenZeppelin has implemented a plugin for Hardhat that allows for making smart contracts upgradable, i.e. retaining the state of the contract while having the ability to update functions or fix bugs by deploying a new contract. The basic idea is there is a wrapper or proxy contract that simplifies the process of upgrading to a new version. See https://docs.openzeppelin.com/learn/upgrading-smart-co

[2021-03-01 15:24] sichen1234 commented on #54
An excellent data source is available from the Central Electrical Authority of India at https://cea.nic.in/cdm-co2-baseline-database/?lang=en

It was developed for calculating the emissions impact of renewables development as part of the CDM.

[2021-03-02 23:19] #25 closed

[2021-03-02 23:19] #28 closed

[2021-03-08 13:00] jamesondh opened #89 "Display proposal details/calldata on governance page / more details button"

[2021-03-08 19:49] sichen1234 opened #90 "replace chaincode directory with chaincode_ext"
We are using node_ext for kubernetes, but local docker compose still uses node chaincode (which is not external service)

In this task, we will modify local docker compose set up to use external chaincode service (docker image) as well
and after that remove old chaincode directory.

[2021-03-09 13:58] #89 closed

[2021-03-09 13:58] #85 closed

[2021-03-10 19:45] sichen1234 opened #91 "Incorrect dates on issued tokens from DAO"
When a proposal was made, the from and thru dates were 2/1/21 and 2/28/21 and the automatic retirement date was null:
![Screen Shot 2021-03-10 at 11 43 36 AM](https://user-images.githubusercontent.com/1706353/110687968-f2e2eb80-8195-11eb-9a83-4f37db286876.png)

But the DAO issued token with the wrong dates:
![Screen Shot 2021-03-10 at 11 41 57 AM](https://user-images.githubusercontent.com/1706353/

[2021-03-10 19:46] sichen1234 opened #92 "when issued by DAO, the issuer should be the original proposer"
When an offset is issued by the DAO after a successful vote, the issuer should still be the original proposer.

We can store the original proposer as a field on the propsal or the proposed offset, and then set it when the contract executes.

The net result is that the token should show up on the original proposer's dashboard (ie Offsets Dealer's dashboard.)

[2021-03-10 19:51] sichen1234 opened #93 "rearrange UI of proposals on governance page"
Pls rearrange UI of the proposals page:

1. Put the buttons for Queue/Execute/Cancel to the right of the status.  Only display the buttons that are appropriate for that status -- ie Approved then only display Queue.  If Queued then only display Execute.  The buttons should have the proposal ID so you just click on the button.  No need to enter the ID over again.
2. Move Call details to right of Pr

[2021-03-11 21:45] jamesondh commented on #91
@sichen1234 , a value of 0 is passed to the date arguments if left blank, since the type is an unsigned integer and we must pass a value. We use 0 to represent a blank/null value. It is a unix timestamp so it shows the unix epoch, but I will update this to show this as "None" on the interface.

[2021-03-11 23:18] sichen1234 commented on #91
That sounds god.  By convention we can make 0=none
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Thu, Mar 11, 2021 at 1:46 PM Jameson Hodge ***@***.***>
wrote:

[2021-03-12 15:26] jamesondh commented on #92
Added in this commit: https://github.com/opentaps/blockchain-carbon-accounting/commit/2dd4280530fdd93b256183db92e0a690a6904513

- NetEmissionsTokenNetwork.sol now has a function setTimelock() that is used to store the address of Timelock.sol
- In NetEmissionsTokenNetwork.sol issue() has been split into three functions:
  - _issue(), which accepts an issuer and issuee parameter but can only be call

[2021-03-12 15:26] #92 closed

[2021-03-12 15:47] jamesondh commented on #91
Fixed in commit https://github.com/opentaps/blockchain-carbon-accounting/commit/ed819aea67f9d7202b9fcbcda49d2f52fedf1272

[2021-03-13 00:35] jamesondh commented on #93
Fixed in commits
https://github.com/opentaps/blockchain-carbon-accounting/commit/e7b3dc9bfc26f56a75e6adcba343499500d38414
https://github.com/opentaps/blockchain-carbon-accounting/commit/01853a341e0f77f1730f7ed8b95874e1b48e043c
https://github.com/opentaps/blockchain-carbon-accounting/commit/920c6dc1c2bcfb27cc00c4a17758503bcdc31ea4

[2021-03-15 14:41] sichen1234 commented on #91
The From and Thru dates are still incorrect
![Screen Shot 2021-03-15 at 7 40 46 AM](https://user-images.githubusercontent.com/1706353/111171115-df52ce80-8561-11eb-9d9a-c001cc8d3055.png)

Also the field should be "Thru Date" not "Through Date"

[2021-03-15 14:56] sichen1234 commented on #93
Please see these screenshots as examples:
![Screen Shot 2021-03-15 at 7 38 36 AM](https://user-images.githubusercontent.com/1706353/111173431-e11d9180-8563-11eb-8788-ae90299d174c.png)
![Screen Shot 2021-03-15 at 7 33 52 AM](https://user-images.githubusercontent.com/1706353/111173440-e2e75500-8563-11eb-9dff-cbfb1eae361d.png)
![Screen Shot 2021-03-15 at 7 47 12 AM](https://user-images.githubusercont

[2021-03-15 16:22] jamesondh opened #96 "Resolve OVM / OpenZeppelin Upgrades incompatability"
According to this forum post: https://forum.openzeppelin.com/t/openzeppelin-upgrades-support-for-optimism/5511

The OZ upgrades plugin is incompatible out-of-the-box with an OVM deployment. Look into resolving the error message for a successful deployment or just remove the upgrades plugin if it would add too much complexity.

[2021-03-15 17:33] jamesondh commented on #93
See commit https://github.com/opentaps/blockchain-carbon-accounting/commit/d2df2849d10345e3f00d4e9ad86b3ffab9dc2090 and these screenshots for stacked view and wide view:

![2021-03-15_13-28](https://user-images.githubusercontent.com/4026659/111195435-a0893c80-8592-11eb-8b41-a715e9537f81.png)
![2021-03-15_13-28_1](https://user-images.githubusercontent.com/4026659/111195437-a0893c80-8592-11eb-935c-2

[2021-03-15 23:17] #55 closed

[2021-03-15 23:19] #19 closed

[2021-03-15 23:22] sichen1234 opened #98 "test utility emissions channel and update documentation"
Follow steps from https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md, get the utility emissions channel up and running.

Pls also suggest any improvements and updates to the documentation.

[2021-03-15 23:23] sichen1234 opened #99 "test net emissions token network and update documentation"
Follow the documentation for https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/net-emissions-token-network/README.md

Pls suggest updates and improvements to the documentation as you do this.

[2021-03-15 23:26] sichen1234 opened #100 "add oauth 2.0 security to rest api"
Add oauth 2.0 security to the rest api in https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel/typescript_app for accessing the chain code.

Please use a popular oauth 2.0 library such as simple-oauth2 or client-oauth2

[2021-03-15 23:27] sichen1234 commented on #32
Replacing this with #100 and closing this one.

[2021-03-15 23:27] #32 closed

[2021-03-15 23:30] sichen1234 opened #101 "test cloud kubernetes deployment of utility emissions channel and update documentation"
Test the cloud deployment of the utility emissions channel with Kubernetes based on directions in https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/multi-cloud-deployment in either AWS or Digital Ocean

Please suggest improvements and updates to the documentation.

[2021-03-16 12:28] jamesondh opened #102 "Remove automatic retire date from contract/interface"

[2021-03-16 12:31] jamesondh commented on #91
See commits https://github.com/opentaps/blockchain-carbon-accounting/commit/1aabbf4f7c487b63163f84f34bfc3d878f204203 https://github.com/opentaps/blockchain-carbon-accounting/commit/05c8d5eca4eec9beaf42e8103f5c0fb45efc08b2 and screenshot

The propose function was passing the Unix time an order of magnitude wrong so that has been corrected. "Through Date" on dashboard popup is now "Thru Date" too

!

[2021-03-16 16:41] #84 closed

[2021-03-17 23:57] sichen1234 commented on #91
Fixed!

[2021-03-17 23:57] #91 closed

[2021-03-17 23:58] sichen1234 commented on #93
Ok looks good.  Thanks!

[2021-03-17 23:58] #93 closed

[2021-03-19 23:58] sichen1234 opened #107 "add owner sef destruct method to contracts"
So we can clean up obsolete contracts.

[2021-03-20 00:02] sichen1234 opened #108 "deployment changes to net emissions tokens network"
The open source code can stay as it is for testing/demonstration but for net emissions tokens network in production deployment, to avoid creating a security, we can make these changes (as settings or as a fork):

1. Only the owner can add accounts to the network in any role, including consumer.
2. Carbon offsets and REC dealers can only propose new tokens and not issue them.  The tokens can only b

[2021-03-22 13:03] jamesondh opened #109 "Implement Timelock admin for CLM8 contracts"
Using a Timelock contract as an admin proxy for the NetEmissionsTokenNetwork (CLM8) contract is a good idea for a few reasons:
- A time delay is forced between admin actions
- This gives participants the opportunity to see admin transactions before they've been called to increase transparency of the network
- Participants can decide to leave or fork the network if they disagree with an admin trans

[2021-03-22 13:14] jamesondh commented on #107
Added in commit https://github.com/opentaps/blockchain-carbon-accounting/commit/e7baecfbdc8d6baa9cc25f5edde1d9c5b168c52b

Use the selfDestruct() function from the deployer account to delete the contract.

[2021-03-22 16:18] jamesondh commented on #108
WIP - https://github.com/opentaps/blockchain-carbon-accounting/commit/1c05af7c3edf3fc9c73e85e8663fa55f4b7c1bf6

There is now a private var limitedMode (that only the deployer/admin can toggle through the setLimitedMode() function) that will enable these features. It is set by default to false.

Currently implemented:
- All CLM8 tokens must be issued by DAO
- Only the CLM8 admin/deployer can be iss

[2021-03-22 16:47] jamesondh commented on #108
Created hook called before transfers: https://github.com/opentaps/blockchain-carbon-accounting/commit/ee5b34cf8824de272dc4ab9dbc6a3e624433de08

If to address is not the admin and limitedMode is on, then the transfer will be burned -- preventing the transfer. More testing required.

[2021-03-22 20:50] jamesondh commented on #108
See commit https://github.com/opentaps/blockchain-carbon-accounting/commit/03c93b25f8696a0b5947614870b84bb810a40167

More tests added to test limited functionality. Instead of retiring tokens after the initial issuance, all transfers except those executed by the admin account are prevented when limitedMode = true.

[2021-03-22 21:28] jamesondh commented on #107
See the new instructions for calling it on a deployed contract: https://github.com/opentaps/blockchain-carbon-accounting/blob/main/net-emissions-token-network/docs/using-the-contracts.md#destroying-the-contract

[2021-03-24 06:29] udosson opened #111 "Copy of networkConfig.ts.example fails | readme utility-emissions-channel step 4"
The readme of the utility-emissions-channel needs to be updated.

Step 4 of running the network fails with the following error.
[code]

[2021-03-24 16:46] rybalko commented on #111
I've fixed readmes, all typescript_app config files are in the utility-emissions-channel/typescript_app/src/config/ directory now.

[2021-03-24 16:59] udosson commented on #111
Thanks @rybalko!!!

[2021-03-25 16:35] sichen1234 commented on #107
Looks good.  I self-destructed https://goerli.etherscan.io/address/0x3221b36e93563f25969e336e264b60eaab6ceefc#code

[2021-03-25 16:35] #107 closed

[2021-03-25 16:35] sichen1234 commented on #111
@udosson Can this be closed?

[2021-03-25 17:24] #96 closed

[2021-03-26 10:02] #111 closed

[2021-03-26 10:54] udosson opened #112 "Review of emissionscontract.js"
Once chaincode is deployed to the network it is the only thing that reflects the business logic and thus must work without any errors and always behave as expected.
Also, chaincode has a huge impact on the performance of the network spoken in TPS (transactions per seconds) as well as the amount of data storage use.
This is an issue for advanced Hyperleger Fabric developers how are familiar with th

[2021-03-26 13:39] jamesondh opened #114 "Implement quadratic voting on Governor.sol"
Example implementation: https://github.com/AndreiD/qv_voting/blob/master/contracts/QVVoting.sol

[2021-03-26 13:52] jamesondh opened #115 "DAO - Burn dCLM8 tokens after vote and allow user to choose number of votes toward proposal"

[2021-03-26 16:00] sichen1234 opened #116 "transfer DAO dCLM8 tokens to accounts with auto expiration and unlimited supply"
Change the dCLM8 DAO tokens so that there is an unlimited supply of them (instead of the fixed supply in Compound)

Add transfer on the Governance tab for contract owner to transfer them to other accounts.  When they're transferred they're still automatically delegated to the recipient.

dCLM8 tokens should automatically expire so if they have not been voted and burned, they will burn at the time

[2021-03-26 16:04] sichen1234 opened #117 "break up proposal into votes on attributes of proposals"
For example, carbon offset projects have a series of attributes, such as Real, Additional, Realistic Baselines, Permanent, Adequate Leakage Accounting.

So you can vote for the proposal or put all your votes for/against an attribute of the proposal.  For example, you can vote 100 dCLM8 tokens on a carbon offset proposal, which will count as 20 votes on each point.  Or you can vote all 100 tokens o

[2021-03-26 17:12] percy6081 opened #118 "The question of roles missing"
I registered the role in the net-emissions-token-network(http://localhost:3000) ,  i  restart the testnet locally via Hardhat Network(steps is:1. yarn react-app:start，2. npx hardhat node，3. npx hardhat run --network localhost scripts/deploy-all.js), all the roles were missing except for the super administrator.Can you help me solve this problem?

[2021-03-26 17:27] jamesondh commented on #118
Hi, @percy6081

It sounds like the network is being reset after you are registering the roles. The Hardhat Network (`npx hardhat node`) will display the transaction when you register a role from the admin account and it's reset every time it is started, so the deployment and registering of roles must come after and during `npx hardhat node` is running.

We recently changed the deployment process t

[2021-03-28 18:40] Zzocker opened #120 "typo bug in startExtChaincode script for docker-compose-setup"
1. startExtChaincode.sh
        container name of external chainocde for [node-one](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/a074ab55eba60823e1e87b38fc78f5c23fbc1fa2/utility-emissions-channel/docker-compose-setup/docker/nodes/node-one/docker-compose-chaincode.yaml#L12) and [node-two](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/a074ab55eba60823

[2021-03-29 16:03] jamesondh opened #123 "Hardhat project - create task to migrate old NetEmissionsTokenNetwork.sol state to new contract"

[2021-03-29 16:47] sichen1234 commented on #54
The next step is to load the utility emissions data for India similar to how the US and European emissions data are loaded.  See https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#seeding-the-fabric-database

[2021-03-29 16:48] sichen1234 commented on #80
Currently the tests are described in https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#automated-tests.  We need to get them working again.

[2021-03-29 16:54] sichen1234 commented on #100
oauth 2.0 may be unnecessary if we get #11 working, but we should still have some way to secure the API endpoint against DDOS and other bot attacks.

[2021-03-29 16:55] sichen1234 commented on #100
We may also be storing meta data about customers data in the network, which should be secured, even if the transactions are signed by private keys offline.

[2021-03-29 18:47] jamesondh commented on #115
Updated dCLM8 (DAO) tokens to burn after vote in commit https://github.com/opentaps/blockchain-carbon-accounting/commit/c10da9cabeb9cddc3737e95263e6f88727448e96

[2021-03-29 19:18] jamesondh commented on #115
Added new parameter to allow user to choose number of votes (and check against eligible votes): https://github.com/opentaps/blockchain-carbon-accounting/commit/e0ae5c7dc8454faf193caab887d9951811b89c06

[2021-03-29 21:12] #83 closed

[2021-03-30 14:12] stu01509 commented on #39
Hi @sichen1234  and @udosson

I would like to fix it, Could you guide which project should I upgrade?

[2021-03-30 15:50] sichen1234 commented on #120
Thank you!

[2021-03-30 15:50] #120 closed

[2021-03-30 15:52] jamesondh commented on #114
Implemented in commit https://github.com/opentaps/blockchain-carbon-accounting/commit/383fc1873b4137bf388a9b4f0a6f5c24b07c6ce7

Tested here on the interface: I voted with 100 tokens for proposal 1, and 144 tokens for proposal 2 -- as expected the actual votes shown are the square roots while my balance goes down by the amount of tokens I typed.
![2021-03-30_11-49](https://user-images.githubusercon

[2021-03-30 16:13] sichen1234 commented on #39
This would be https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel

[2021-03-31 01:03] sichen1234 commented on #118
Hi @percy6081 let us know if this is still a problem.  Otherwise we'll close the issue.

[2021-03-31 04:54] percy6081 commented on #118
Hi@Si Chen:

      I am still trying to resolve this issue, I will synchronize the situation as soon as possible.
From: Si Chen
Date: 2021-03-31 09:03
To: hyperledger-labs/blockchain-carbon-accounting
CC: percy6081; Mention
Subject: Re: [hyperledger-labs/blockchain-carbon-accounting] The question of roles missing (#118)
Hi @percy6081 let us know if this is still a problem. Otherwise we'll close th

[2021-03-31 05:44] rajpratyush commented on #54
Hi @sichen1234 i would like to contribute to this idea if you are not working on it

[2021-03-31 16:15] sichen1234 commented on #54
That would be great.  Please take a look at what we've started with https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#seeding-the-fabric-database

We're loading these for the US and European countries.  The data is available now for India so you can follow a similar way to do it.

[2021-03-31 16:33] rajpratyush commented on #54
Sure sir

On Wed, 31 Mar, 2021, 9:45 pm Si Chen, ***@***.***> wrote:

[2021-03-31 17:48] sichen1234 opened #133 "remove Create DAO Proposal when issuing an Audited Emissions in react app"
Please hide the "Create DAO Proposal" button when issuing an Audited Emissions in react app.

[2021-03-31 19:05] sichen1234 commented on #108
Can you change some of these error messages:
1. When trying to assign roles, "Only contract owner can assign roles in limited mode."
2. When trying to issue tokens directly, "Direct issuance is not allowed in limited mode.  Please make a proposal to DAO instead."

Also please check toggling the limited mode on and off.  I could turn it on but not off.

[2021-03-31 23:46] petermetz commented on #47
@sichen1234 @udosson I've just started familiarizing myself with the code and tried to take a look at this issue as a first stab (I usually learn faster by doing stuff), but found two separate files with the same name mentioned here. Are they both used (and therefore need to be migrated to TS) or is one of them getting phased out (and if yes which one?)

![Screenshot_EmissionsRecordContract_2021-0

[2021-04-01 00:03] #115 closed

[2021-04-01 00:35] sichen1234 commented on #47
The one on the right is more current.  We're in the process of some
refactorings for kubernetes deployment.  We should be removing the one on
the left soon.

-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Wed, Mar 31, 2021 at 4:47 PM Peter Somogyvari ***@***.***>
wrote:

[2021-04-02 16:27] sichen1234 opened #135 "add sha256 encryption to utility emissions channel party id field"
In case legacy utility data systems use sensitive information as part of their account number, let's encrypt the party id in the chaincode.  We already have https://www.npmjs.com/package/crypto-js in emissionscontract.js so use it sha256 encrypt the party id in the store, update, get, and get all methods.

[2021-04-02 16:29] sichen1234 opened #136 "create generic European utilities for seed data"
As part of https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#seeding-the-fabric-database, create a script to create a generic utility (with generic ID) for each European country.  Since we have only country level emissions factors in Europe this should be sufficient for now.

[2021-04-02 16:48] rybalko commented on #39
Yes, package.json is for npm.

[2021-04-02 21:05] sichen1234 commented on #108
These work:
1.  Only admin can assign roles
2. Offset dealer can only propose issuance and not issue directly
3. Proposed tokens must be issued to admin user (contract owner) to be executed

Need to fix:
1.  After the admin user transfers tokens to another account, the account must be able to retire them, or better the tokens should be automatically retired when transferred.
2.  Emissions auditors

[2021-04-02 22:25] sichen1234 opened #137 "UI changes for deployment (limited mode)"
This is to make UI changes to the React app when the emissions token network is under #108 (limited mode):
1. Issue Tokens button is removed
2. When proposing tokens, issue to address is shown.  By default all tokens are issued to contract owner (admin)
3. Manage roles, transfer, and retire buttons are not available if the user cannot do those things.

[2021-04-03 03:20] stu01509 commented on #51
Hi @sichen1234 and @udosson

I would like to try this, could you assign this issue to me?

[2021-04-05 12:26] jamesondh commented on #114
See commit https://github.com/opentaps/blockchain-carbon-accounting/commit/87acb85cf9a78e38d97cd3cce573c83cf8b60dbe

Since the original dCLM8 amount voted with on a proposal isn't stored on the contract, I approximated the value by taking the square (since the number of votes is the integer sqrt of dCLM8 voted with). The proposal in the picture I used 5,000,000 dCLM8. I left it out of the "you vot

[2021-04-05 12:31] jamesondh commented on #133
DAO proposal button now always disabled for for audited emissions tokens on interface in https://github.com/opentaps/blockchain-carbon-accounting/commit/b3a7c3df71ca23d90f4b379b14b0e9013b50cb68

![2021-04-05_08-28](https://user-images.githubusercontent.com/4026659/113573993-3a1f9900-95e9-11eb-9c03-093ea42e140a.png)

[2021-04-05 13:35] Zzocker commented on #47
I have started working on this issue

[2021-04-05 16:52] jamesondh commented on #108
Updated in commit https://github.com/opentaps/blockchain-carbon-accounting/commit/6f161dab45c0049a125f4cf97e6517d2746d43e

Retiring in limitedMode works now, though it cannot be done automatically after arbitrary transfers with the current design as we use the hook function _beforeTokenTransfer() the ERC-1155 standard provides us. This function is called before minting new tokens, burning tokens,

[2021-04-05 18:00] sichen1234 commented on #47
@Zzocker Thank you.  Please make sure you update to the latest code.  We've refactored and moved some directories around.

[2021-04-05 18:20] jamesondh commented on #137
See commits https://github.com/opentaps/blockchain-carbon-accounting/commit/bd774a43c80ed1b0b870118706cbbe90a2e93911 https://github.com/opentaps/blockchain-carbon-accounting/commit/6208a079f0a19a206ccf038b6c3302308e5969fb and attached screenshot for updates

![2021-04-05_14-15](https://user-images.githubusercontent.com/4026659/113609556-ef6a4500-9619-11eb-9c98-45b0a90bf496.png)

[2021-04-05 18:37] sichen1234 commented on #51
@stu01509 thanks for offering to help.  Let me check on this one first.  I do have a question.

[2021-04-05 18:53] jamesondh opened #141 "Store raw number of dCLM8 votes in receipt in Governor.sol"
When someone casts a vote, store the raw amount of dCLM8 that went into the vote as well as the sqrted vote that is stored now.

- Display raw dCLM8 votes in addition to curved votes on governance dashboard in interface rather than approximate values

[2021-04-05 18:59] sichen1234 commented on #114
Closing this since #141 will fix the remaining UI issue.

[2021-04-05 18:59] #114 closed

[2021-04-05 19:05] sichen1234 commented on #108
Great.  This all works well now.  Thank you!

[2021-04-05 19:05] #108 closed

[2021-04-06 23:18] sichen1234 commented on #54
@rajpratyush How are you doing with this one?  Do you have any questions?

[2021-04-07 05:24] rajpratyush commented on #54
currently learning andgaining basic ideas of blockchain and hyperledger fabric .

could you please point me to some resources to gain a better insight before i begin the work

[2021-04-07 05:29] rajpratyush commented on #54
the 2019 data is now available here. @sichen1234

[2021-04-07 14:39] sichen1234 commented on #54
Try the hyperledger fabric tutorials, and then see if you could install the
utility emissions channel using the README
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Tue, Apr 6, 2021 at 10:29 PM Pratyush Raj ***@***.***>
wrote:

[2021-04-07 14:48] sichen1234 commented on #47
@udosson Do you want to take a look at this one?

[2021-04-07 17:31] percy6081 commented on #118
Hi,@jamesondh

Thinks for your help! I still have some questions:
1. I start the React app from the interface folder with `yarn react-app:start`,But the React app server always out of service after a period of time Automatically (about some hours),is that normal ?
2. Because it's reset every time the local Hardhat Network is started, so now i want to Persistence data,How can i do?Is it have any da

[2021-04-08 07:27] udosson commented on #47
@sichen1234 I'll be on vacation till April 20. Afterward, I can take a look at this. However, if you think we're good to merge you can merge before I'm back

[2021-04-08 15:07] jamesondh commented on #118
@percy6081

1. I haven't run into this problem -- if you could create a GitHub issue with more details (OS and browser, steps to replicate) it will help us look into this more!
2 and 3. Hardhat Network is for local testing so the state only exists while it is running. The state persists on the Goerli testnet and xDai mainnet, so if you connect your React application to one of those you'll be able

[2021-04-08 15:09] #123 closed

[2021-04-08 16:43] percy6081 opened #144 "React app out of service Automatically!"
I start the React app from the interface folder with yarn react-app:start,But the React app server always out of service after a period of time Automatically. My step is:
1.Start the React app from the interface folder with yarn react-app:start
see the start log
2. Run the local Hardhat Network and deploy the contracts locally all in one command with npx hardhat node --show-accounts
see the log2
3

[2021-04-08 16:45] percy6081 commented on #118
@jamesondh

I had created a GitHub issue:https://github.com/hyperledger-labs/blockchain-carbon-accounting/issues/144
and i will close this issue,thinks you !@jamesondh

[2021-04-08 16:45] #118 closed

[2021-04-12 07:24] afzal442 commented on #100
Hi @sichen1234, newbie to this project and wants to contribute here, any guidelines to get involved? Plz, help me where should I make changes? Thanks.

[2021-04-12 08:01] afzal442 commented on #100
I would like to work on it

[2021-04-12 14:00] sichen1234 commented on #100
Great.  Please let us know if you have any questions.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Mon, Apr 12, 2021 at 1:01 AM Afzal Ansari ***@***.***>
wrote:

[2021-04-12 22:52] sichen1234 opened #146 "set quorum for DAO proposals"
The contract owner should have the ability to set quorum for voting on DAO proposals.  A default could be set for all proposals during a period of time until changed.

[2021-04-14 11:39] #39 closed

[2021-04-14 17:39] afzal442 commented on #100
Integrating oauth 2.0 security is a kind of backend work, I think.

[2021-04-14 18:23] jamesondh commented on #144
Hi @percy6081 your steps and outputs look to be correct. We have tested the React application on Mac OS, Ubuntu, and Fedora -- perhaps your Node.js or something else is out of date as you are using CentOS? When the React application stops, does it output anything else? For reference, here is what I'm using on my machine:

[code]

[2021-04-14 18:39] sichen1234 commented on #144
@percy6081 it's deployed at
https://emissionstokens-goerli.opentaps.org/dashboard if you want to try it
out with a Goerli testnet account.

-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Wed, Apr 14, 2021 at 11:23 AM Jameson Hodge ***@***.***>
wrote:

[2021-04-14 23:07] sichen1234 commented on #133
Can we remove the Create DAO Proposal button altogether, instead of just turning it inactive, when issuing audited emissions?

[2021-04-14 23:11] sichen1234 commented on #137
When issuing Audited Emissions you should still be able to set the address.  When issuing carbon offsets or RECs then the address should be set to admin/contract owner.

The button for "Create DAO Proposal" should be "Must be a dealer" if the user does not have the role to issue REC or carbon offset (ie consumer)

Pls change "Must be dealer" to "Must be authorized dealer"

[2021-04-15 13:17] jamesondh commented on #137
See commits: https://github.com/opentaps/blockchain-carbon-accounting/commit/975e751ba93bae431f3517c30e570db018122cef https://github.com/opentaps/blockchain-carbon-accounting/commit/74d84e88f79d395e05206a9fd0c866aaa0ad9b0a https://github.com/opentaps/blockchain-carbon-accounting/commit/24161bebd8390687f9bbbddbc938a35132b4af73 https://github.com/opentaps/blockchain-carbon-accounting/commit/20ccf1b3

[2021-04-15 18:02] sichen1234 commented on #137
All works now.  Thank you!

[2021-04-15 18:02] #137 closed

[2021-04-15 18:03] #133 closed

[2021-04-15 18:16] jamesondh commented on #141
See https://github.com/opentaps/blockchain-carbon-accounting/commit/6af6b78235152b18b450e5dfdf65576b3aa05a81 and attached screenshot:
![Screenshot from 2021-04-15 14-12-28](https://user-images.githubusercontent.com/4026659/114918427-12081500-9df5-11eb-9b67-3360cc0e6c4d.png)

[2021-04-15 18:50] #30 closed

[2021-04-15 18:53] #90 closed

[2021-04-15 18:58] sichen1234 commented on #31
[opentpas SEAS](https://opentaps.org) is designed for an auditor or bureau to manage the energy use and emissions data of a number of customers.

If we have true client side authentication such as trust id or #11, we could have a customer application such as a mobile app which sends utility data and signs them with a customer's ID.

[2021-04-15 19:55] sichen1234 commented on #141
Good.  Thanks!

[2021-04-15 19:55] #141 closed

[2021-04-16 17:03] petermetz commented on #100
@sichen1234 @afzal442 Not sure where the work on this task is currently, but to be sure I figured I'll put this info down here as well:
We've recently added** the same thing to Cactus so that if you expose your contracts as REST API endpoints or you just have some business logic in there, then the Cactus API server can be configured to require and validate JSON Web Tokens (JWTs) for the requests c

[2021-04-16 17:42] sichen1234 commented on #146
This can be done as a parameter from command line using hardhat

[2021-04-16 21:16] sichen1234 opened #151 "implement new dao voting scheme"
See https://wiki.hyperledger.org/display/CASIG/DAO+Project for updated DAO voting rules.  Important changes are:
1.  Votes are staked during the voting period and burned at the close of voting
2. Users could cancel their votes and re-vote up to the close of voting
3. If the proposal does not pass quorum then all votes are returned
4. A minimum number of tokens is required to make a proposal
5. To

[2021-04-17 00:53] afzal442 commented on #100
Thanks @petermetz. Nice job. Well, I'm not sure but you can feel free to draft a PR for this too if you want. @sichen1234 will review that once you are done.

[2021-04-19 21:35] sichen1234 commented on #151
One change: If a proposal does not pass quorum, then all voting tokens are returned EXCEPT the original proposer, who loses 1/4 of their staked tokens.  This is to prevent spam.

[2021-04-20 15:52] #135 closed

[2021-04-20 18:32] jamesondh commented on #151
See commit: https://github.com/opentaps/blockchain-carbon-accounting/commit/81af017c22b98ada5da3f17484f71e461a850630

- Implemented refund() function on Governor.sol that allows one to withdraw locked tokens (along with the quadratically curved votes) on a given proposal for proposals that are active and proposals that have failed by not reaching quorum. Need to implement button on UI for this

[2021-04-20 18:59] jamesondh commented on #146
See commits: https://github.com/opentaps/blockchain-carbon-accounting/commit/6f84285b6036ac49fd27b681d6b909ef7079c6d3 https://github.com/opentaps/blockchain-carbon-accounting/commit/600e98759d7d6a4b9f96ea9158df89e9224bf570

- Created setQuorum() on Governor. By default the value is set to about 3162 dCLM8 or sqrt(4% of total supply)
- To change, run the Hardhat task setQuorum like this: `npx hardh

[2021-04-20 20:50] jamesondh commented on #151
See commit: https://github.com/opentaps/blockchain-carbon-accounting/commit/987f078db9d87ee814155cc2c0a05ca6641dcd9a

- In addition to requiring the proposal threshold when making a proposal, you must also hold a current balance of dCLM8 tokens (in addition to the eligible balance snapshot of before the proposal was made) and that amount of tokens is locked automatically to the Governor.
- Need to

[2021-04-22 22:24] sichen1234 opened #154 "Research Self-Sovereign Identity (SSI) solution"
Identify Self-Sovereign Identity (SSI) solution for the utility emissions channel and ethereum dApp, so that we can identify the parties which are transacting on both the fabric channel and tokens network.

This should enable:
1.  Signing utility emissions channels with client side key instead of through app
2. Verifying the emissions tokens are issued to the same party on the emissions tokens net

[2021-04-23 18:46] sichen1234 opened #155 "add new hardhat task for complete admin switch"
Add new hardhat task to complete admin switch of the DAO

[2021-04-23 18:47] sichen1234 opened #156 "test upgrading of DAO Governor and Timelock"
Test and document procedure for upgrading DAO Governor and Timelock while leaving the DAO token unchanged.

[2021-04-23 23:27] sichen1234 commented on #102
@jwickers Pls work on this.  Remove it both from the emissions token network contract and the react app UI pages.

[2021-04-23 23:38] sichen1234 commented on #146
I tried
`$ npx hardhat setQuorum --network localhost --contract 0x610178dA211FEF7D417bC0e6FeD39F05609AD788 --value 500.000000000000000000`
but got error
`{ Error: invalid BigNumber string (argument="value", value="500.000000000000000000", code=INVALID_ARGUMENT, version=bignumber/5.1.0)
    at Logger.makeError (/Users/sichen/hyperledger/blockchain-carbon-accounting/net-emissions-token-network/node_

[2021-04-24 21:32] petermetz commented on #57
Just took a peek at xordrive, unfortunately they are going to shut the service down at the end of 2021 :/

[2021-04-26 13:38] jamesondh commented on #146
If I run `npx hardhat getQuorum --network localhost --contract 0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9` immediately after `npx hardhat node` I get the value `632000000000` which is 632 (or about sqrt(400000)) with 9 zeros.

If I want to lower quorum to 100 votes, I put 100 followed by 9 zeros: `npx hardhat setQuorum --network localhost --contract 0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9 --val

[2021-04-26 13:40] jamesondh commented on #156
See documentation on upgrading only Governor.sol and Timelock.sol while leaving DAOToken.sol and NetEmissionsTokenNetwork.sol the same: https://github.com/opentaps/blockchain-carbon-accounting/blob/main/net-emissions-token-network/docs/using-the-contracts.md#upgrading-governorsol-and-timelocksol-without-upgrading-daotokensol and commits https://github.com/opentaps/blockchain-carbon-accounting/comm

[2021-04-26 13:42] jamesondh commented on #155
See new documentation on running the completeTimelockAdminSwitch task after deployment under the "Deploying contracts to a public testnet" and "Deploying to xDai" sections: https://github.com/opentaps/blockchain-carbon-accounting/blob/main/net-emissions-token-network/docs/using-the-contracts.md#deploying-contracts-to-a-public-testnet and commit https://github.com/opentaps/blockchain-carbon-account

[2021-04-26 21:10] sichen1234 commented on #146
So I reduced my quroum to 100 votes, then had:
1.  Proposer vote 3600 in favor = 60 votes for
2. Consumer 1 vote 2500 against = 50 votes against
3. Consumer 2 vote 100 votes for = 10 votes for
Total is 70 votes for, 50 votes against, but it was defeated.
![Screen Shot 2021-04-26 at 2 09 06 PM](https://user-images.githubusercontent.com/1706353/116151149-19eb7300-a699-11eb-8267-5ffa53114f66.png)

[2021-04-26 21:15] sichen1234 commented on #146
A second proposal was just "defeated" because it didn't have enough votes.  Does "defeated" mean it didn't meet quorum threshold?
![Uploading Screen Shot 2021-04-26 at 2.14.34 PM.png…]()

[2021-04-26 21:18] sichen1234 commented on #156
What does "Make sure the current addresses of the contracts you'd like to upgrade are in deployments/<network>/" mean?  Does it mean the
`  "address": "0xCf7Ed3AccA5a467e9e704C703E8D87F634fB0Fc9",`
in Governor.json?

[2021-04-26 21:23] sichen1234 commented on #155
Can you pls explain what all the parameters mean:
`npx hardhat completeTimelockAdminSwitch --network goerli --timelock 0xE13Ec0c623e67486267B54dd28E172A94f72B527 --governor 0x7c385742B2332b65D536396bdcb10EE7Db821eA9 --target 0xE13Ec0c623e67486267B54dd28E172A94f72B527 --value 0 --signature "setPendingAdmin(address)" --data 0x0000000000000000000000007c385742b2332b65d536396bdcb10ee7db821ea9 --eta 161

[2021-04-27 11:41] jamesondh commented on #156
When a contract is deployed, hardhat-deploy saves it to `deployments/<network>/` so this folder needs to be committed to the repo and if you want to upgrade the Governor/Timelock on a given network, these files need to be there (so that the deployment script can reuse DAOToken and NetEmissionsTokenNetwork).

[2021-04-27 11:49] jamesondh commented on #155
Since you are upgrading Governor/Timelock on localhost, it performs the Timelock switch automatically. When you perform it on a live testnet/mainnet, it will output the `npx hardhat completeTimelockAdminSwitch ...` command for you to run in two days.

completeTimelockAdminSwitch does two things: run executeTransaction() on itself to call setPendingAdmin() to the Governor contract (since it is depl

[2021-04-27 12:02] jamesondh commented on #146
Defeated can either mean for votes < against votes or for votes < quorum. For example, here I lowered the quorum to 100, voted 98 votes on proposal 1, and it failed. I voted 100 votes for proposal 2 and it succeeded (although the reward calculation needs to be fixed since it just counts votes currently). Quorum is the minimum of for votes rather than minimum total votes on a proposal.

![Screensho

[2021-04-27 21:02] sichen1234 commented on #117
See https://wiki.hyperledger.org/display/CASIG/DAO+Project for the latest:

Proposals can be broken up into attributes, so you can either vote on the proposal as a whole, which is the same as splitting your vote equally on all its attributes, or cast all your votes on one attribute of it.  When proposals are split into attributes:
- All attributes will be subject to quadratic voting based on the v

[2021-04-28 16:38] #146 closed

[2021-04-28 16:39] sichen1234 commented on #146
Implemented a new Quorum Failed state to distinguish between Defeated and not met Quorum.  This is all working now.

[2021-04-28 18:42] sichen1234 commented on #117
My recommendation here is to keep the way the Proposal works, but make a sub-proposal so that an attribute could be a proposal that is a sub-proposal of another proposal.

In the Governor there should be new attributes for the Proposal which are
1.  parentProposalId - for sub-proposals to identify the parent
2. subProposals [] - ids of all the sub-proposals of the parent

Then there could be a new

[2021-04-28 18:46] sichen1234 commented on #117
For UI, setting up attributes of proposal can be done by the create-proposal.  It can just automatically call makeMultiAttributeProposal to create an array [] of sub-proposals for the attributes of a carbon offset.

Then when displaying proposals with attributes, it can display each attribute with a vote for/against button, and the vote for/against button at the bottom for proposal as a whole.

[2021-04-28 21:16] sichen1234 commented on #57
Thanks for letting us know.  Actually at this point I think the solution we have implemented is adequate: Documents can be stored either in amazon s3 or locally at each node using serverless.  This helps meet data privacy requirements, such as those in Europe that require data to be stored in the EU.  Meanwhile the md5 hash is stored on chain to validate that the document is correct and unaltered.

[2021-04-28 21:16] #57 closed

[2021-04-28 21:18] sichen1234 commented on #31
During [this week's peer programming call](https://wiki.hyperledger.org/display/CASIG/2021-04-26+Peer+Programming+Call) we talked about using Indy/Aries to store user identities and TrustID to authenticate the user.  This may become the basis of a client side application.

[2021-04-29 16:52] #144 closed

[2021-05-03 08:00] knagware9 opened #159 "net-emissions-token-network - npm ERR! code ENOLOCAL"
To run this project Prerequisite  need to defined.

npm ERR! code ENOLOCAL
npm ERR! Could not install from "node_modules/ganache-core/node_modules/web3-provider-engine/node_modules/eth-sig-util/ethereumjs-abi@git+https:/github.com/ethereumjs/ethereumjs-abi.git" as it does not contain a package.json file.

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/kamleshnagware/.npm/

[2021-05-04 00:14] #155 closed

[2021-05-04 00:14] #156 closed

[2021-05-04 19:08] sichen1234 commented on #159
How did you get to this error?  Did you follow the steps from https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/net-emissions-token-network/docs/using-the-contracts.md?

[2021-05-07 00:22] #151 closed

[2021-05-15 10:59] slim-patchy commented on #98
Hi, I am new to this project, and would love to try working on this issue as a first-time contributor.

[2021-05-15 13:24] slim-patchy commented on #136
Hi, I really want to work on this issue as well.

[2021-05-17 15:23] udosson commented on #136
@slim-patchy! That would be great. Let us know if we can support you

[2021-05-17 17:16] sichen1234 commented on #98
Great.  Pls try it out and let us know.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Sat, May 15, 2021 at 3:59 AM Kris Stern ***@***.***> wrote:

[2021-05-24 13:49] slim-patchy commented on #136
Thanks, let me start work on this issue this week

[2021-05-24 13:49] slim-patchy commented on #98
Sure, let me start work on this issue this week

[2021-05-24 14:32] slim-patchy commented on #98
Hi! I got some questions that need some clarification. Regarding the [running-the-fabric-network-and-express-api](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md#running-the-fabric-network-and-express-api) section on the README.md for the `utilities-emissions-channel`, I think it is not very clear how to go about getting the necessary

[2021-05-24 15:32] sichen1234 commented on #98
1.  Just go to https://infura.io/ and you can sign up for an account
there.  Infura is basically a gateway to different ethereum testnets and
main nets

2.  It could work with any ethereum test network, so you can use Goerli for
testing.  We're using xDai for production data.  It is a Layer 2 network
which is much more energy efficient.

3.  We already have smart contracts under the net-emissios-t

[2021-05-27 06:28] udosson commented on #71
Does this issue still exist?

[2021-06-03 15:07] #117 closed

[2021-06-03 16:00] sichen1234 opened #165 "start of white paper"
Start the white paper on the voluntary carbon offsets directory, covering:

- Background of carbon offsets
- Ecosystem mapping of the participants
- Current issues and challenges based on research

White paper should be in academic research format with citations from existing literature.

[2021-06-03 16:30] sichen1234 opened #166 "integrate trustid into fabric utility emissions channel"
Get TrustId to work with Fabric utility emissions channel.  You can take a look at https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/50 as well.

[2021-06-03 16:38] sichen1234 opened #167 "get cactus set up for blockchain-carbon-accounting working"
Get @petermetz's cactus set up for blockchain-carbon-accounting working. See

- https://github.com/hyperledger/cactus/issues/540
- https://github.com/hyperledger/cactus/issues/665
- https://github.com/hyperledger/cactus/tree/main/examples/carbon-accounting

[2021-06-03 16:55] lamnd09 commented on #165
I can help with this issue. Could we start discussing the format and content?

[2021-06-03 18:52] sichen1234 commented on #165
That'd be great.

The content is based on
https://wiki.hyperledger.org/display/CASIG/Voluntary+Carbon+Offsets+Directory+Research+Project

The format is a white paper or paper suitable for publication in a
peer-reviewed journal on the topic.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Thu, Jun 3, 2021

[2021-06-03 20:32] petermetz commented on #167
@sichen1234 I can't self assign, could you please add me? Thank you in advance!

[2021-06-05 09:23] slim-patchy commented on #136
Am currently going through the relevant documentation to see how best to implement the solution

[2021-06-05 09:26] slim-patchy commented on #98
Thanks @sichen1234  for the info. I noticed that @Pihu1998 has self-assigned the issue, so is she also working on it now?

[2021-06-05 09:46] Pihu1998 commented on #98
HI @slim-patchy , yes I am also working on it now. I am currently fixing bugs in the utility emissions channel, will create commits soon today about those fix. :)
I guess, you may also try to get the channel up and running and fix bugs along the way. :)

[2021-06-05 11:22] slim-patchy commented on #98
Hi @Pihu1998 That's great! Maybe I can checkout your code and update the wordings of the documentation later, like adding the context by providing some backstories and motivations, especially to the `README.md`'s.

[2021-06-07 06:37] Pihu1998 commented on #98
Hi @slim-patchy , that's a great idea. I got the channel up and running by following the instructions under:  "Running the Fabric network and Express API" in the `README.md`.

In perspective of the README update, I believe two things need to be more clear here:

1. First is this step:
`
    Fill in Ethereum configuration settings in typescript_app/src/config/networkConfig.ts:

    export const PRI

[2021-06-07 06:48] Pihu1998 commented on #98
Hi @sichen1234 ,
I got the channel up and running successfully. But I see that it just created two Auditors: `Auditor1` and `Auditor2`in the process:
`{
	"approvals": {
		"auditor1": true,
		"auditor2": true
	}
}
`

, whereas in the [video](https://www.youtube.com/watch?v=zIYfjF4U2G8) you created, I saw there are 3 Auditors and organizations created.

Is this an issue

[2021-06-07 17:21] jaycenca commented on #76
Hi @sichen1234, I'm a Mac OS X user and I'm interested in working on this issue. Any suggestions on where I could start? Thanks.

[2021-06-07 23:16] sichen1234 commented on #76
That'd be great.  How about download the code from github and try the
README.md instructions.  See if you could get it working or if you get
stuck?
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Mon, Jun 7, 2021 at 10:21 AM jaycenca ***@***.***> wrote:

[2021-06-08 14:34] slim-patchy commented on #98
Sure @Pihu1998 Let me follow your suggestions and submit a PR soon regarding the docs. I agree some parts need substantially more info.

[2021-06-08 14:41] Pihu1998 commented on #98
HI @slim-patchy , sure. You may also create your commits on this PR (which is created for this issue): [#169](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/169)

Please let me know if you need any help. I am also constantly improving the docs and the repo constantly, as I see any flaws.

[2021-06-08 14:46] slim-patchy commented on #98
No problem @Pihu1998 I will do anything I can to help to fill in the gaps so that people will not be put off trying out the code due to missing or insufficient information. I will try to get everything done by this weekend.

[2021-06-09 22:58] sichen1234 commented on #98
@Pihu1998 That's not a problem.  That video was from a while ago and we've changed the startup config.  If you notice anything missing or incorrect with the documentation, though, definitely please create a pull request.

[2021-06-10 10:50] brioux commented on #166
Hey still facing an issue when starting up fabric utility emissions channel with docker-compose-setup (Mac). Auditor organization and peer containers are running, but the orderer service keeps failing on the following cmd in _/scripts/startAndConnectNetwork.sh_

`docker-compose -f ./docker/nodes/node-one/docker-compose-couch.yaml -f ./docker/nodes/node-one/docker-compose-carbonAccounting.yaml -f .

[2021-06-10 22:08] sichen1234 commented on #166
Try the ./start.sh script in the docker-compose-setup directory.  That has
worked better for me.  There are still a few issues with the startup
scripts that I'm working through.

-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Thu, Jun 10, 2021 at 3:50 AM brioux ***@***.***> wrote:

[2021-06-11 16:39] sichen1234 commented on #167
@Zzocker If you've gotten this to work then we can close this task.

[2021-06-11 16:43] sichen1234 opened #175 "re-factor blockchain-gateway to use Cactus Ethereum Connector"
Currently the utility emissions channel connects to Fabric and Ethereum through `utility-emissions-channel/typescript_app/src/routers/utilityEmissionsChannel/ivokeEmissionscontract.v0.ts`

Note it has a method `export const RECORD_AUDITED_EMISSIONS_TOKEN =`

which then goes through below to call Fabric
`
 emissionsRecord = await EmissionsContractInvoke.getEmissionsData( //...
`

then calls Ethereu

[2021-06-11 16:46] sichen1234 opened #176 "re-factor blockchain-gateway to use Cactus Fabric Connector"
Following up on #175, also refactor `/utility-emissions-channel/typescript_app/src/routers/utilityEmissionsChannel/ivokeEmissionscontract.v0.ts` to use the Cactus Fabric Connector.

[2021-06-11 16:49] sichen1234 opened #177 "outreach strategy for interviews"
@SherwoodMoore Please put together templates for reaching out to different groups about the voluntary carbon offsets market research we're doing.

[2021-06-11 16:50] sichen1234 opened #178 "ecosystem mapping of voluntary carbon offsets market"
For the voluntary carbon offsets research project, Dounia will map out the ecosystem of the different stakeholders, their interactions, and key issues.

[2021-06-11 17:58] Zzocker commented on #167
Yes !!! I am able to run the carbon accounting example from cactus. But I did not used docker setup instead run on my local machine. @petermetz I had to make some changes to make it work, have created a pull request in your fork.

[2021-06-11 18:00] #167 closed

[2021-06-11 22:27] sichen1234 opened #180 "create carbon offsets directory channel, chain code, load data from Berkeley Carbon Trading Project"
Initial phase of the implementation of the [Voluntary Carbon Offsets Database](https://wiki.hyperledger.org/display/CASIG/Voluntary+Carbon+Offsets+Directory+-+Implementation):
1. Create a Fabric channel using the same scripts, artefacts from utility-emissions-channel
2. Chain code to store and retrieve records - by UUID and by searching key/value pairs
3. Load the PROJECTS worksheet from the Berke

[2021-06-12 00:05] slim-patchy commented on #98
I have submitted PR #181 as a follow-up on this discussion.

[2021-06-12 02:43] slim-patchy commented on #98
I have some doubt regarding whether we should also update the versions to use say:
[code]
instead of the original in the [Running the Fabric network and Express API](https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#running-the-fabric-network-and-express-api) section under the instruction "Install binaries for linux distribution". This is because

[2021-06-12 05:30] Pihu1998 commented on #98
Hi @slim-patchy , thanks for creating a PR. Your changes looks good to me. :)

Regarding the Linux Binaries, we need to check if the new version sync up with other dependencies in the build process. Otherwise we would get several dependency errors while building.

[2021-06-12 07:44] slim-patchy commented on #98
Hey @Pihu1998 You are welcome!

I see, just wanted to double check if the versioning of the `fabrics-samples` dependencies need updated. Thanks for the info!

[2021-06-12 10:31] brioux commented on #166
Found the problem. Was missing fabric binaries (i think) on first start. Orderer container was initialized by docker-compose but never started. when trying to configure containers a 2nd time with BOOTSTRAPFILE the order.genesis.block had already been mounted to rootfs causing this issue.
Moving on now to deploying trustID chaincode...

[2021-06-13 10:52] douniamarbouh commented on #165
@ryjones could you please assign me to this issue?

[2021-06-13 11:44] lamnd09 commented on #165
Hi @sichen1234 @douniamarbouh,

I created a shared .doc file, we can start writing and adding the content to the whitepaper. Maybe it is more convenient to use google docs for everyone to join to contribute than using Latex.
https://docs.google.com/document/d/14J6LPLRUgzNIeY_Tz1lKZvcjhmftPe8lUrNq9naC4os/edit?usp=sharing

[2021-06-13 11:51] douniamarbouh commented on #165
Hi @lamnd09, that's great. We have also another google doc in which we started the paper. I will add you to the list of editors, I just need your email address.

[2021-06-14 17:01] sichen1234 commented on #165
@lamnd09 Could you pls take a look at Dounia's version and merge in any additional comments there.  Also we have a weekly call scheduled for this project at 8 AM PST on Thursday.  Would you like to join us as well?  If so I will send you the invite.

[2021-06-14 17:05] Zzocker commented on #176
currently all user's certificate and private keys are stored in aws-s3 and the time of invoking fabric chaincode certs and private key are firstly fetched from S3.

should I remove this S3 dependence and use cactus keychain (in memory for now). Later this in-memory keychain can be converted into cactus's vault keychain.

@sichen1234 @petermetz

[2021-06-14 17:26] sichen1234 commented on #176
That sounds good to me.
-----
Si Chen
Open Source Strategies, Inc.

Video: Fighting Climate Change with Blockchain and Open Source
<https://youtu.be/NgxNWXa_IjE>

On Mon, Jun 14, 2021 at 10:05 AM Pritam Singh ***@***.***>
wrote:

[2021-06-14 19:21] lamnd09 commented on #165
@sichen1234 @douniamarbouh,
Sounds great!
My email is: ndl@es.aau.dk
You can forward the link to the meeting to me, I would like to join, thanks.

[2021-06-14 20:46] #98 closed

[2021-06-14 20:58] sichen1234 opened #182 "test utility emissions channel and update documentation"
Follow steps from https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md, get the utility emissions channel up and running.

Pls also suggest any improvements and updates to the documentation.

[2021-06-15 02:23] petermetz commented on #176
@Zzocker +1, sounds good as a first step!

[2021-06-15 02:24] petermetz commented on #176
@Zzocker Might come in handy for testing purposes later (also might not, so this is just an FYI) the `@hyperledger/cactus-test-tooling` package on npm has a test class for pulling up a vault test container, see details here: packages/cactus-test-tooling/src/main/typescript/vault-test-server/vault-test-server.ts

[2021-06-15 02:25] petermetz commented on #167
@Zzocker Awesome, said this on that PR as well: I recommend submitting against the upstream repo otherwise it's not actually getting merged back to Cactus

[2021-06-15 22:17] jaycenca commented on #76
@sichen1234 Just to update, I'm done with all the set up, I'm start to investigate the issue.

[2021-06-15 22:26] sichen1234 commented on #76
Great!
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Jun 15, 2021 at 3:18 PM jaycenca ***@***.***> wrote:

[2021-06-17 00:58] hionnode commented on #182
Can I take this up?

[2021-06-17 14:32] sichen1234 commented on #182
Yes please try it!  Let us know if there are any problems or if anything in
the documentation is not clear.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Wed, Jun 16, 2021 at 5:58 PM Chinmay Pandey ***@***.***>
wrote:

[2021-06-17 16:50] sichen1234 opened #186 "Move automated tests to run outside of docker api container"
Currently the runTests.sh script runs inside of the docker api container.

Move this outside of the container to run directly in the OS.  This is better practice to run tests as independently of the code as possible.

[2021-06-17 16:52] sichen1234 opened #187 "test that the id is encrypted and not stored in raw format"
Add test that the id is stored encrypted and not in raw format in the utility emissions emissions records.

[2021-06-17 16:53] sichen1234 opened #188 "test that the md5sum check of the document is working"
This can be done by storing a document in the local serverless implementation of amazon s3 document storage.

If you store a document, and then move a different document outside of the emissions code to the same location, then request the emisisons record, it should fail because the document will have a different md5sum.

If you move the original document back and request the emissions record agai

[2021-06-17 16:54] sichen1234 opened #189 "load new egrid database records"
The 2019 eGrid database is out now: https://www.epa.gov/egrid/download-data

Please update the egrid data loading script so that we can load both the 2018 and 2019 datasets.

[2021-06-17 16:56] sichen1234 opened #190 "test that the emissions factors are retrieved for the correct year."
Add test that the emissions factors are retrieved for the correct year.

First complete #189

Then add test to verify that emissions in 2018 and 2019 are calculated with different emissions factors for the same utility and kwH of usage.

[2021-06-17 20:53] brioux commented on #11
I was able to reproduce offline private key signing using on a fabric test-network. I'll look into integrating the js funcitons I put together for offline signing into the REST API of the utility emissions channel.

[2021-06-18 17:07] Zzocker commented on #175
@sichen1234 I think this issue and 176 can be close .

[2021-06-21 22:07] sichen1234 commented on #189
This looks good.  Thank you!

[2021-06-21 22:21] sichen1234 commented on #186
@pihu1998 I just tried this, and by putting this in my /etc/hosts the tests ran:
`
127.0.0.1       auditor1.carbonAccounting.com
127.0.0.1       auditor2.carbonAccounting.com
127.0.0.1       peer1.auditor1.carbonAccounting.com
127.0.0.1       peer1.auditor2.carbonAccounting.com
`

As you can see from this screenshot, emissions records were created in Fabric:
![Screen Shot 2021-06-21 at 3 14 14 PM]

[2021-06-23 15:15] knagware9 commented on #186
I have updated these details in /etc/hosts file and all test case passed
127.0.0.1 auditor1.carbonAccounting.com
127.0.0.1 auditor2.carbonAccounting.com
127.0.0.1 peer1.auditor1.carbonAccounting.com
127.0.0.1 peer1.auditor2.carbonAccounting.com

127.0.0.1 orderer1.auditor1.carbonAccounting.com
127.0.0.1 orderer1.auditor2.carbonAccounting.com[
![Screenshot 2021-06-23 at 8 39 33 PM](https://user-ima

[2021-06-23 16:48] Zzocker opened #199 "require batch emission record update chaincode function"
The `recordAuditedEmissionToken` endpoint makes multiple [updateEmissionsRecord](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/b25f406d3f61b814683725ddbdee4b1a85f4a9fb/utility-emissions-channel/typescript_app/src/routers/carbonAccounting.ts#L191) to update tokenID of minted token on Ethereum to fabric network. there should be a chaincode method `updateMintedToken(uuids:stri

[2021-06-23 17:25] sichen1234 commented on #189
Actually there is a problem: The NERC regions for 2019 are loaded as
`
   "uuid": "USA_undefined_NERC_REGION_SERC",
  "year": "undefined",
`
![Screen Shot 2021-06-23 at 10 23 32 AM](https://user-images.githubusercontent.com/1706353/123141574-5fb08780-d40d-11eb-9128-b17660bfa349.png)

[2021-06-23 18:07] sichen1234 commented on #186
This is very strange.  I tried again with a fresh install and got the same errors.  The first time I got
     Uncaught AssertionError: Could not reach the gateway network
The second time
     Uncaught TypeError: Cannot read property 'includes' of undefined

The partyId error is the same in both runs.

As you can see something did record in the rest api on left hand side of screen.

What I did was

[2021-06-23 18:09] #189 closed

[2021-06-23 18:13] sichen1234 commented on #186
@knagware9 Could you post the output from your REST api?  What partyId do you show there?

[2021-06-24 05:05] brioux commented on #166
Hi

(1) The tutorial for working with with offline private keys taught me the following - Fabric CA does not support secp256k1 EC keys used by Ethereum/Bitcoin. Therefore this approach to integration with Metamask will not work (unless Farbic CA is extended to use secp256k1).

(2) I will continue working with TrustID, as it allows for enrolling DIDs with custom cryptography to a Fabric CA. Trust I

[2021-06-24 13:56] knagware9 commented on #186
info: 'Failed to submit transaction: Error: No valid responses from any peers. Errors:\n' +
I think its passing a test case when there is error in tax submission, see submit transaction failed and test case passed.
it("should record an emission as TestUser", function(done) {
    chai
      .request(host)
      .post(recordEmissionPath)
      // .field('myparam' , 'test')
      .set("content-type",

[2021-06-24 23:09] sichen1234 commented on #166
OK.  Is it possible to extend the Fabric CA to work with secp256k1 EC keys,
for example by adding some new libraries?  We can ask on the main fabric
list about it too.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Wed, Jun 23, 2021 at 10:06 PM brioux ***@***.***> wrote:

[2021-06-25 12:33] sichen1234 commented on #186
Are you able to try it if all nodes are working to see if you get the same
results as I do?

On Thu, Jun 24, 2021 at 6:56 AM Kamlesh Nagware ***@***.***>
wrote:

--
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

[2021-06-25 13:36] brioux commented on #166
So this is what I have found. secp256k1 is not an approved ECDSA by the NIST, and therefore does not qualify for Federal compliance ([see this article](https://poseidon01.ssrn.com/delivery.php?ID=896065081123021023081002127103112026058072085007048023105100087072106124090114025102107053023122008037061119074000001064109005048008022044047068086023014084121005093046094112117019108066083111009102125114

[2021-06-25 16:01] sichen1234 commented on #199
That sounds like a good idea.  Please work on this

[2021-06-25 16:16] sichen1234 opened #204 "lock Fabric records while Cactus transaction with Ethereum is in place"
This follows a discussion due to the latency of Ethereum networks.  @petermetz suggested:

_What I would investigate is how you can implement reentrancy for the recordAuditedEmissionToken endpoint, meaning that if the connection is dropped while the user is waiting for the endpoint to finish doing its work, how will they be able to retry without getting into some invalid state (double minting for

[2021-06-25 16:34] #175 closed

[2021-06-25 16:34] #176 closed

[2021-06-25 21:02] sichen1234 commented on #166
That's interesting.  How is the client signing for Fabric done then --
where is the private key stored on the client?

Yes please try TrustId next.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Fri, Jun 25, 2021 at 6:37 AM brioux ***@***.***> wrote:

[2021-06-26 18:35] Pihu1998 commented on #186
Hi @sichen1234 ,
After updating the `/etc/hosts` file, please make sure to rebuild the docker, and then starting the "automated-tests.sh" script.
This worked for me in removing all the errors, and for getting all the tests to run. :)

[2021-06-26 18:40] Pihu1998 commented on #186
Yes, for that test-case, I am getting the same error: `Failed to submit Transaction`:
`{
  info: 'Failed to submit transaction: Error: No valid responses from any peers. Errors:\n' +
    '    peer=peer1.auditor1.carbonAccounting.com:7051, status=500, message=error in simulation: transaction returned with failure: 83,84,65,84,69,95,78,79,84,95,70,79,85,78,68,32,58,32,97,115,115,101,116,32,119,105,1

[2021-06-27 16:08] brioux commented on #166
My understanding is TrustID chaincode allows for the registration of any DID (with desired PKI infrastructure). The TrustID proxy function verifies payload signatures by the DID and delivers this to the TrustID configured HF network (e.g. carbon accounting) using the accepted Fabric CA. In other words the TrustID chaincode is designed to process signatures that the FabricCA (used to deploy it) may

[2021-06-27 16:17] Pihu1998 commented on #187
Hi @sichen1234 ,
Is it for the `utilityId` ?
If that's, then I guess we already have the test for it:

`let entry = response.body[0];
          assert(entry.utilityId == "USA_EIA_11208", "GET request returned incorrect utilityId");
          assert(entry.partyId == "1234567890", "GET request returned incorrect partyId");`

[2021-06-27 17:48] Zzocker commented on #204
As per our discussion,in order to complete this feature successfully I will break it into two components.

- Two components
     - request manager chaincode
     - client sdk (using cactus connectors)

I have already started working working on the first components in my feature branch : https://github.com/Zzocker/blockchain-carbon-accounting/tree/req_manager_cc

Before I start writing any code, I

[2021-06-28 07:25] Pihu1998 commented on #182
Hi @sichen1234 ,

I believe this can be closed. The pull request to resolve this has already been merged. Thanks :)

[2021-06-28 07:27] Pihu1998 opened #209 "Integrate automated test to Github Pipeline"
Add the automated-tests to run for every commit, in the Github CI/CD pipeline.

[2021-06-28 15:31] sichen1234 commented on #187
It's for the partyId.  This tests that we get back the original partyId.
But how do we know that it has been encrypted in Fabric?
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Sun, Jun 27, 2021 at 9:17 AM Pranamika Pandey ***@***.***>
wrote:

[2021-06-28 15:31] sichen1234 commented on #182
This is an "evergreen" issue for everybody to try out when they join the project, so please leave it open.

[2021-06-28 15:51] sichen1234 commented on #166
Please first make a demo video of the offline signing, including:
1.  Creating the security key
2.  Running fabric transaction with security key

Then please find out what types of security keys are supported by Fabric,
and if any wallets support those types of security keys.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https:/

[2021-06-28 15:58] Pihu1998 commented on #187
Hi @sichen1234 ,

There can be two methods for it:
1. I guess, testing if the partyId is in `raw format`.
2. Using `bcrypt.compare` method to test a plaintext partyId against a hash, as mentioned here: https://stackoverflow.com/questions/42561968/using-chai-to-test-if-post-users-password-was-encrypted

[2021-06-28 15:58] sichen1234 commented on #204
I think I understand what you're trying to do.

But I'm not sure "Stage" is the best word for it:

   - stage : Multi ledger business logic are processed in stages. Each
stage are
   collection of one or more blockchain transition (preferably only one).
   Stage can be consider as a safe checkpoint from where business logic can
   again be resumed.

Perhaps "transaction" is a better word, since th

[2021-06-28 16:43] Zzocker commented on #204
GET_VALID_EMISSIONS_RECORDS "stage"/transaction is start of our  `recordAuditedEmissionToken`  request. during this stage from the uuids given by the user only those emissions records are `locked` for which (`tokenId == null` and `isnotLocked`). After locking next stage namely `issue` token and `updateEmissionRecord`  can safely be executed.

You are right use of `transaction` is better then `stag

[2021-06-28 16:49] sichen1234 commented on #204
So I think in that case, all of these should be part of 1 transaction or
stage:
- get valid emissions records
- issue tokens
- update emissions records

The emissions records should be locked until the tokens are issued and they
are updated again.  The locks should not be released inside the steps.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain a

[2021-06-28 22:36] sichen1234 commented on #204
So would you think of a transaction as a series of stages?  Do we need to
define the stage as well as the transaction?  Or is the stage of a
transaction just a way to think about it?

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Mon, Jun 28, 2021 at 9:58 AM Pritam Singh ***@***.***>
wrote:

[2021-06-29 03:30] Zzocker commented on #204
Stage is just way to think about it. At each stage firstly status of the request checked , then does some blockchain transactions (like updating emissions, minting). And at the end of the stage any output generated or new asset created during that stage is updated onto the request manager chaincode.

When request is resumed, client applicant will fetch the request from request manager chaincode. A

[2021-06-29 23:47] sichen1234 commented on #204
So going back again, are you thinking of stage and transaction as same?  In
that case, is there a separate stage/transaction around get emissions
record, then tokenize, then update emissions record?  Or is all 3 part of
the same stage/transaction?
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Mon

[2021-06-30 00:19] sichen1234 commented on #186
OK to get the tests to run you must install all the seed data, and then you won't get the Failed to submit transaction errors you've been getting.  I did this and now the tests are running.

To do this see the section in utility-emissions-channel/README.md:
[code]

To make it run faster, you can use this version of Utility_Data_2019.xlsx: It has just a few utilities for testing.
[Utility_Data_2019

[2021-06-30 00:36] sichen1234 commented on #187
Could you try adding test to compare the output of partyId from the REST
API?  Is it in the encrypted or unencrypted format right now?  If it is
encrypted then you can compare against the hash.  If the rest api is
already returning unencrypted then we'll have to find a way to get the
records directly on Fabric or in Couchdb.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate S

[2021-07-01 04:46] #199 closed

[2021-07-01 05:04] Zzocker commented on #204
All 3 will be part of a same business logic, Record audited emissions token. RecordAuditedEmissionsToken can be broken down to 3 blockchain calls (fetch valid emissions record,mint token , update emissions record) . Each stage will have definition of one blockchain call.

Docs that I prepared is not just about locking of fabric Data , but also to allow client to resume their request from a safe ch

[2021-07-01 16:03] udosson opened #221 "Integrate static code analysis into GitHub Actions pipeline"
To improve the quality of the code written in JavaScript and Typescript we need to integrate a static code analysis into the automated GitHub Actions pipeline.

- [ ] Evaluate different frameworks for static code analysis such as ESLint, JSLint, TSLint
- [ ]  Identify different groups of the repository (e.g. typescript app, chaincode, etc.)
- [ ] Run the frameworks locally for each group
- [ ] Bui

[2021-07-01 20:58] sichen1234 commented on #204
OK.  So I think in this case, the Fabric records need to be "locked" before the ethereum connector is called and then "unlocked" after the Fabric update is completed.  Do you think so?

[2021-07-01 21:01] sichen1234 commented on #190
What we need here is a test to also verify that the amount of emissions calculated is correct.  Pls take a look at the ST19 emissions factor of state CA.  It should be different than the ST18 emissions factor.  So for the same energy usage, ie 100 KWH, there should be different emissions calculated in 2018 and 2019.

[2021-07-01 21:15] Zzocker commented on #204
Yes, and I have implemented this part (locking and unlocking). Will discussion more about other problem that needs to solved on our next call.

[2021-07-01 21:19] sichen1234 opened #223 "refactor test to use random userid each time"
Refactor tests.js to use a random userid instead of TestUser each time, so it can be run each time without having to restart system without the same TestUser.

[2021-07-02 16:06] rybalko opened #228 "Outstanding issues on mentorship-cactus-integration branch"
- [ ] Fix cactus Hashicrop vault issues and start using it for storing keys
- [x] Implement aws s3 file saving similar to current typescript_app implementation
- [x] Merge node_modules/@hyperledger/cactus-plugin-ledger-connector-xdai/dist/lib/main/typescript/plugin-ledger-connector-xdai.js issue fix merged and test it with xdai and goerli
- [x] Modify docker-compose-chaincode.yaml to use krybalko/

[2021-07-05 12:03] udosson commented on #187
@sichen1234 do you want to store the encrypted partyId with AES or a similar cipher algorithm (https://cryptojs.gitbook.io/docs/#the-cipher-algorithms) or do you just want to check if the partyId is stored as a hash value?
Why do we need to encrypt the partyId?

[2021-07-05 13:31] brioux commented on #11
Here is a small demo replicating the tutorial for offline signing.
[https://github.com/brioux/fabric-client-signer](https://github.com/brioux/fabric-client-signer)

1. CA on Node Server registers users and opens gateway to fabric network.

2. Browser requests server to generate either an endorsement proposal or query request.

3. This is passed back to browser for signing with offline key.

4. sig

[2021-07-05 14:45] brioux commented on #166
First I setup the following demo where each step in the transaction submission process is handled by the private key stored by the client.
github: [https://github.com/brioux/fabric-client-signer](https://github.com/brioux/fabric-client-signer)
youtube: [ https://youtu.be/W_jGc_UpuoQ](https://youtu.be/W_jGc_UpuoQ)
However the initial gateway connection provided by the (node) app is still setup with

[2021-07-05 14:53] brioux commented on #166
Wondering if we can also create a new identity model that provides an identity context to setup a gateway connection, but requires sending the endorsement, commit, and query requests for signing by the original private keys. This might be more complicated than we need.

[2021-07-05 15:22] brioux commented on #166
Regarding supported certificate/private keys in fabric, [core requirement is that they are  generated by elliptical curve cryptography](https://hyperledger-fabric.readthedocs.io/en/latest/deploypeer/peerdeploy.html?highlight=elliptical%20curve#certificates).
[The supported EC by fabric are]
(https://lists.hyperledger.org/g/fabric/topic/supported_elliptic_curves_in/72672279?p=): prime256v1, secp384

[2021-07-05 15:35] sichen1234 commented on #187
We should already be encrypting them.  We did it because sometimes ID's
have sensitive information.  See
https://github.com/hyperledger-labs/blockchain-carbon-accounting/issues/135
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Mon, Jul 5, 2021 at 5:03 AM Robin Klemens ***@***.***>
wrote:

[2021-07-05 19:20] sichen1234 opened #232 "Investigate using Vault and HSM to sign Fabric transactions"
Please look into:

1. [Vault](https://www.vaultproject.io/) -- what it does, how it works with both [Soft hsm ](https://wiki.opendnssec.org/display/SoftHSMDOCS)and actual cloud HSM, how it compares to hosted services like [Azure Key Vault](https://azure.microsoft.com/en-us/services/key-vault/)
2. How to use Vault and HSM to sign Fabric transactions.

We'll eventually link these up with Cactus Fabr

[2021-07-05 19:21] sichen1234 commented on #11
Thanks for showing us this today.  This issue is now completed.  We'll move on to integrating with the Vault and HSM in #232

[2021-07-05 19:21] #11 closed

[2021-07-05 21:46] sichen1234 commented on #186
This can be closed now.  The tests are running outside of the docker container.

[2021-07-05 21:46] #186 closed

[2021-07-06 08:31] udosson commented on #187
@sichen1234, thanks for the information.
How much does the partyId vary for the different records? If we just use SHA256 to calculate a hash value of the partyId and if the partyIds are somehow similar or follow certain rules it could be easy to get the raw data via brute force hashing of the partyId schema.
To increase privacy we should consider using AES to really encrypt the data or calculate a

[2021-07-06 11:08] Zzocker commented on #232
@brioux You can have a look at this fabric sample https://github.com/hyperledger/fabric-samples/tree/main/asset-transfer-basic/application-typescript-hsm , I will also see how we can use HSM with cactus vault key chain.

[2021-07-06 11:54] brioux commented on #232
Ok thanks @Zzocker I'll check on this today.

[2021-07-06 17:03] sichen1234 commented on #187
The partyId is used for lookup of records.  If it is stored this way, how
will all members still be able to look up emissions records for a
particular party?

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Jul 6, 2021 at 1:31 AM Robin Klemens ***@***.***>
wrote:

[2021-07-06 17:59] Pihu1998 commented on #221
For this issue,

I would prefer to use **Gruntjs** (which is a Javascript task-runner) as a tool for configuring frameworks for `Static code analysis`. This might be an all-in-one solution for what we are looking for: from `linting`, to `recognizing different groups in the repository` `running our automated-test script`, and integrating this Grunt file containing all its configuration is the Githu

[2021-07-07 07:16] udosson commented on #221
@Pihu1998, thanks for your research and recommendation.
How would you suggest using gruntjs combined with the GitHub Actions pipeline? Gruntjs is a task runner and GitHub Actions could also be seen as something like a task runner.
How would gruntjs work together with mocha and chai?
Would it make sense to use ESlint (static code analysis) together with mocha and chai for unit and integration testi

[2021-07-07 15:40] sichen1234 commented on #221
We've not tried these tools so I don't really know.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Wed, Jul 7, 2021 at 12:17 AM Robin Klemens ***@***.***>
wrote:

[2021-07-07 23:31] petermetz commented on #228
FYI: The Hashicorp endpoints are now on the main branch in Cactus, release is coming soon as well.

[2021-07-08 06:23] Pihu1998 commented on #221
Hi @udosson ,

We can surely integrate Gruntjs with Github pipeline, as done here: https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/211

Gruntjs has a plugin for this: [grunt-mocha-test](https://www.npmjs.com/package/grunt-mocha-test), that we are using here: https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/233

`ESlint` (or the better one `JShint`) can be

[2021-07-08 10:17] udosson commented on #221
@Pihu1998, looks good to me. Can you integrate all your changes into the GHA pipeline to show that everything is working? This would help us to follow all your changes and merge your code. Thanks!

[2021-07-08 10:29] udosson commented on #187
@sichen1234, as @petermetz highlighted in #230, hashing != encryption.
If we just hash the partyId and store the hash value someone could get the raw data via brute force hashing.
If we encrypt the partyId only people with the passphrase could decrypt the partyId and get the raw data. However, the encrypted partyId will stay the same as long as the passphrase doesn't change. So you could just quer

[2021-07-08 17:01] sichen1234 commented on #187
You're right, hashes could be broken like that, but @petermetz had said in a discord chat that sha256 was stronger than md5sum.  See attached:
![Screen Shot 2021-07-08 at 9 57 49 AM](https://user-images.githubusercontent.com/1706353/124962252-41cd5000-dfd3-11eb-9b7f-ba38d2cbb3ab.png)

Is it strong enough?

On the other hand, if you encrypt the party id, will a different app going through a differe

[2021-07-11 07:24] petermetz commented on #187
@udosson  @sichen1234 Apologies for not going into more details earlier. SHA256 is much more secure than MD5, yes. Whether it's secure enough, it depends on the key space (maximum length of the account numbers) and a few other things.

What I meant by the hashing != encryption advice was just to not refer to it as encryption in documentation or anywhere else because it will confuse people who woul

[2021-07-12 23:06] sichen1234 commented on #187
Thanks for clearing that up.

I will check with @udosson about this.

[2021-07-19 06:02] brioux commented on #232
@Zzocker I have finished integrating HSM.  [see my fork of blockchain-carbon-accounting](https://github.com/brioux/blockchain-carbon-accounting/tree/mentorship-trustid). Waiting on @sichen1234 to finalized the pull request.

I don't see a peer programming call scheduled. We can discuss whenever you're free.

[2021-07-19 07:46] Amishakumari544 commented on #182
Hi everyone I want to work here can anyone please help me. @sichen1234

[2021-07-19 15:56] sichen1234 commented on #182
Sure.  What do you need help with?
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Mon, Jul 19, 2021 at 12:46 AM Amisha Kumari ***@***.***>
wrote:

[2021-07-19 18:52] sichen1234 commented on #187
@udosson If we could encrypt rather than just has the party Id then that would be a good thing to do.  Would you like to create a separate task for that?

[2021-07-20 08:30] udosson opened #263 "Encrypt partyId to protect sensitive information"
**Currently**: The `partyId` is currently not encrypted in rest. The client sends his request to record its emissions to the blockchain. He sends his enters his `partyId` into the frontend. The frontend submits the raw partyId to the middleware (express server/[typescript_app](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/typescript_app)). The

[2021-07-20 08:31] udosson commented on #187
@sichen1234, I think that encryption is the better option if we want to protect private data. Please, take a look at #263.

[2021-07-20 08:33] udosson commented on #263
@sichen1234, do you think we should implement a function that returns the decrypted `partyId` from the ledger?

[2021-07-20 14:45] sichen1234 commented on #263
Right now I don't think so.  We just need to be able to allow client
applications to find by party id.

As long as it encrypts the find by party id and uses the encrypted value as
a search parameter, that's all we need.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Jul 20, 2021 at 1:33 AM Ro

[2021-07-20 14:46] sichen1234 commented on #187
That sounds good.  Let's leave this task as an implementation of the
encryption then.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Jul 20, 2021 at 1:31 AM Robin Klemens ***@***.***>
wrote:

[2021-07-29 08:15] hs2361 commented on #263
I'm new to the Utility Emissions project, and I'd like to take this issue up. @udosson Just for some clarification on the issue:
* I need to use CryptoJS's AES encryption (I'll be using a 256 bit key since CryptoJS doesn't support a 512 bit one) here https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/079860c50fba40089c4201da292dd3700e55109c/utility-emissions-channel/typescript_a

[2021-07-29 13:06] udosson commented on #263
@hs2361, thanks for offering your help. This is really appreciated!

secret passphrase: For the beginning, you could either start with a constant or a config file. We are working on a HashiCorp Vault integration. This would be a much better way to store sensitive information like the passphrase. This, we can discuss in our next meeting on Monday.

npm package: node-forge is fine as well :)

[2021-07-30 11:09] Bhaarat-khatri commented on #182
Hello @sichen1234 I am interested to contribute for this Project.
I go through the Readme.md you mentioned above and start doing setup. At the point [](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md#start-network-create-channel-and-deploycc)
I got one issue.
When I run the command sh start.sh to build and start the npm server. I got "

[2021-07-30 11:16] Zzocker commented on #182
Hello @Bhaarat-khatri , you are right about adding `typescript` as devDependencies into `package.json`. But there is no need for you to create a PR for that , since this will be fixed in #261 PR.

[2021-07-30 12:02] Bhaarat-khatri commented on #182
Oh that's cool @Zzocker :-). Thanks for let me know. I will try to work some other issue.

[2021-08-02 09:38] Bhaarat-khatri commented on #136
Hello @sichen1234 @udosson I went through this issue. I get to know i have to create the script for creating generic utility for euorpean country. I have download the zip folder from ( European Environment Agency ) mentioned in docs and observe it too. I have some confusion What exactly script need to have done. Like what excatly generic utility is ?what its benefit ? Please explain a bit so i can

[2021-08-02 09:51] udosson commented on #136
Hi @Bhaarat-khatri, thank you very much for offering your help. I assigned the issue to you.
Could you please create a separate issue with the error you are facing? Thanks!

@sichen1234, could you help and clarify the open questions regarding the script?

[2021-08-02 10:06] slim-patchy commented on #136
Yeah, I think we will need some references regarding the original source data for the European utilities in order to proceed. It would be good if there is some reference somewhere. Otherwise really wouldn't know where to begin.

[2021-08-02 10:10] slim-patchy commented on #136
The European dataset to be downloaded is this (only)? https://www.eea.europa.eu/data-and-maps/data/approximated-estimates-for-the-share-3/eea-2017-res-share-proxies/2016-res_proxies_eea_csv

And I currently work with a laptop on macOS, not Ubuntu. It seems like not the right setup for the task, since supposedly

[2021-08-02 10:57] Bhaarat-khatri opened #266 "Directory issue in running node server."
During the setup of utility emmission channel setup in my ubuntu 18.04 i faced an issue at point. [seeding the fabric database](https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel#seeding-the-fabric-database).I am trying to run the node server by using command `node egrid-data-loader.js load_utility_emissions eGRID2018_Data_v2.xlsx NRL18` but i am g

[2021-08-02 11:08] Zzocker commented on #266
`Organisation/peerOrganisation/*` are flooded with crypto related folder (prvKey , signcert) for each organisation after successful execution of 'Generating crpyto and orgs...' script [here](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/079860c50fba40089c4201da292dd3700e55109c/utility-emissions-channel/docker-compose-setup/start.sh#L13) , from the log I can say `start.sh` f

[2021-08-02 13:42] Bhaarat-khatri commented on #266
I think you are right. Because I was bit confused to the directory where to run `sh start.sh`. Now when I run this command at "/docker-compose-setup" I get this log..
`bhaarat@khatri-inspiron-3585:~/Desktop/lfx/blockchain-carbon-accounting/utility-emissions-channel/docker-compose-setup$ sh start.sh
Starting blockchain-carbon-accounting repo
Checking for carbonAccounting network...
Got permission d

[2021-08-02 15:57] #223 closed

[2021-08-02 15:57] #228 closed

[2021-08-02 17:59] Zzocker commented on #266
You don't have a proper permissions for running docker in a non privileged mode.

to fix on ubuntu
[code]
then restart

more details : https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user

[2021-08-02 18:21] hs2361 opened #267 "Enhancements: Migrate to node-forge and enforce code style"
Currently, in the `utility-emissions` project, NPM package `crypto-js` is being used for all cryptographic needs. However, it does not extend support for AES-512 encryption or SHA-3 hashing. Moreover, `crypto-js` has lower performance when compared to some other cryptographic libraries. Another NPM package such as [node-forge](https://www.npmjs.com/package/node-forge) may be more suitable here, as

[2021-08-03 08:28] udosson commented on #267
@hs2361, thank you very much for your suggestions. I agree with both of them.
Could you make two separate issues out of this one, please?
Thanks!

[2021-08-03 08:32] Zzocker opened #268 "Move from TSLint to ESLint"
Both `typescript_app` and `chaincode/typescript` are using TSLint to keep the format consistent. As TSLint has been deprecated in favor of ESLint , it is better to use ESLint.

Folders Requiring Changes
- [ ] blockchain-carbon-accounting/utility-emissions-channel/chaincode/typescript/
- [X] blockchain-carbon-accounting/utility-emissions-channel/typescript_app/

[2021-08-03 08:34] Zzocker commented on #267
@udosson I have created a new issue for moving from TSLint to ESLint . #268 .

@hs2361

[2021-08-03 09:12] udosson commented on #267
Thanks @Zzocker!

@hs2361 could you change this issue to node-forge only, please? Thanks

[2021-08-04 07:03] unnati914 commented on #80
I am Unnati, a prefinal year student from India. I am applying for LFX Fall Mentorship Program this time. I saw the project and found the project interesting. The project really aligns my tech stack.  So how should I proceed with this? Like should I make a proposal or is there any task to be done before the deadline?

Please let me know the further steps so that I could submit the application befo

[2021-08-04 08:08] udosson commented on #80
@unnati914, thanks for your comment. Let's take about the application process for the mentorship program via email. I've already answered your email.
If you already want to contribute to our lab prior to the official start of the mentorship programs we'd really appreciate this.
Just let us know if there is any issue you want to start working on. Then, we'll assign it to you.

[2021-08-04 08:10] unnati914 commented on #80
sure I am just understanding the code.. then I will take one good first issue

[2021-08-04 11:22] unnati914 commented on #80
I am getting errors while installing docker on windows.. could you please help me

[2021-08-04 11:40] udosson commented on #80
Yes, I can support you. Please, use  https://chat.hyperledger.org/channel/climate-action-sig for general communication that is not directly related to the issues. I'll give some advice in the Hyperledger rocket cat

[2021-08-04 13:33] unnati914 commented on #268
As we have to move to ESLint
 We will install ESLint, then configure, run and then finally we will remove TSLint
This is my approach
Could I work on this?

[2021-08-04 13:36] unnati914 commented on #101
Could i take this up?

[2021-08-04 16:23] Zzocker opened #269 "Move content of multiple .gitignore file to a single file"
This repo has multiple `.gitignore` file dispersed over multiple folder. delete all those and move their content into `blockchain-carbon-accounting/.gitignore`

[2021-08-04 16:32] sichen1234 commented on #269
Sounds good.  Could you pls make a pull request?
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Wed, Aug 4, 2021 at 9:23 AM Pritam Singh ***@***.***>
wrote:

[2021-08-04 16:44] Zzocker commented on #269
I could, but this issue is best suited for new developer.

@unnati914 @hs2361 @Bhaarat-khatri

[2021-08-04 16:46] Bhaarat-khatri commented on #269
@Zzocker  @sichen1234
can you please assign me this...

[2021-08-04 16:46] sichen1234 commented on #269
Ok sounds good.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Wed, Aug 4, 2021 at 9:45 AM Pritam Singh ***@***.***>
wrote:

[2021-08-05 09:48] Bhaarat-khatri commented on #269
@Zzocker @sichen1234 please review my first patch. :-)

[2021-08-05 10:01] udosson commented on #268
@unnati914, your approach sounds correct.
I recommend to follow this steps described here: https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration
I'll assign this issue to you. Thanks for your help!

[2021-08-05 10:04] #269 closed

[2021-08-05 21:59] Bhaarat-khatri commented on #266
Thanks @Zzocker  I tried this and the permission error which i was getting previously was gone. But then after it I was getting some another error I am not sure but I think that error was because I didn't follow the point number 3 of [https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md#running-the-fabric-network-and-express-api](this).
So

[2021-08-06 04:08] Zzocker commented on #266
You don't need infura project for running this on your local machine.
[code]

Start local Hardhat network
[code]
Finally
[code]

Please let me know if you face any error .

[2021-08-08 15:02] Zzocker opened #272 "Missing Blockchain/Project Architecture"
Having a proper project  architecture can help in following way
- Organisations wanting to participate into our network will get a quick and better sense of all the capital requirement by simply looking the architecture diagram.
- Will ease new contribute in getting the idea of project's aim and structure.
- etc..

I think we should have a `blockchain-carbon-accounting/docs` folder wherein all pro

[2021-08-09 04:07] Amishakumari544 commented on #272
yes @Zzocker  You are right I am here newbie and struggling a lot while running this project on my local machine it should have one proper documentation to follow everything step by step .

[2021-08-09 15:44] sichen1234 commented on #272
I agree the documentation could be a lot better, but the 3 sub-directories
are pretty different.  You may not need one of them when running another.
So could we have the right documentation in the root
blockchain-carbon-accounting to guide people, and then separate directories
would still have their own documents?

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions w

[2021-08-12 12:45] Bhaarat-khatri commented on #266
Thanks @Zzocker for your help server started working now.
Sorry for the late response I am busy with my 4th sem exam a bit.
Now CouchDB is running perfectly.I have loaded the files using node commands mentioned and make some queries to couchDB.
I have implemented majority thing mention at [here](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/RE

[2021-08-12 12:57] Zzocker commented on #266
Please close this issue if your issue has be resolved.

To get more understating about the project ,
- Start with Si video  : https://www.youtube.com/watch?v=zIYfjF4U2G8&feature=youtu.be
- Try running and understanding end-to-end test : https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/typescript_app/tests/e2e.test.ts

Thank you

[2021-08-12 12:58] Bhaarat-khatri commented on #266
Ok sure.
Thanks :-)

[2021-08-12 12:58] #266 closed

[2021-08-14 13:24] Bhaarat-khatri opened #273 "Unable to register as an org admin using auditor1 and auditor2"
I am following [this](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/README.md#working-with-the-express-server-api)  documentry. So I am trying to work on express API but I am unable to register as an org admin.

[code]
![image](https://user-images.githubusercontent.com/73925684/129447698-c66a6cf4-e58f-4482-abdd-254f9d367295.png)

I am getting

[2021-08-14 13:30] Zzocker commented on #273
auditor1_ca.auditor1.carbonAccounting.com is not running, check it by doing `docker ps`

also
`./scripts/fabricNetwork.sh reset` is for resting fabric network , which mean it will remove all the running docker containers

[2021-08-14 13:41] Bhaarat-khatri commented on #273
After doing docker ps ```
CONTAINER ID   IMAGE                                       COMMAND                  CREATED         STATUS         PORTS                                                                                                                                                                                NAMES
0bed7daa2672   zzocker20/local-s3                          "docker-entry

[2021-08-14 20:44] skant7 commented on #80
hi @udosson I ran the tests on my local machine it seems that 3 tests pass and remaining 3 of them fail can you please check if its the same on your side.And any hints on where should I look upon for the test to get them working ?
Here's a screenshot of the tests:-
![Screenshot from 2021-08-15 02-13-04](https://user-images.githubusercontent.com/65185019/129459583-1410a22a-5aef-477f-9c7e-76d75b96dc

[2021-08-16 00:57] skant7 commented on #268
Hi @Zzocker can i  work on this?

[2021-08-18 11:20] Bhaarat-khatri commented on #268
Hello @unnati914 are You still working on this issue?
If not can i take this up?
Thanks :)

[2021-08-18 11:30] Bhaarat-khatri commented on #273
Hello @Zzocker I started everything fresh and  I am still getting this issue. As you mentioned that "auditor1_ca.auditor1.carbonAccounting.com" container is not running so I checked it by using `docker ps` but by seeing the log I feel "auditor1_ca.auditor1.carbonAccounting.com" is running. Can you please help me?  why i am getting error in registering as org admin?

[2021-08-18 11:56] Zzocker commented on #273
Did you paste these in `etc/hosts` ?

[code]

[2021-08-18 14:12] Bhaarat-khatri commented on #273
My bad..Firstly I thought etc/hosts directory is should somewhere inside blockchain-carbon-accounting directory. So I was unable to locate that..lol, but I get it now...
everything is working fine now
thanks @Zzocker

[2021-08-18 14:12] #273 closed

[2021-08-19 07:23] pratikpatil024 opened #276 "Connect Node SDK to multi-cloud-deployment"
Once the network is up and running on AWS EKS, how can I create Node SDK and connect it with the network?
Thanks!

[2021-08-19 22:40] sichen1234 commented on #276
Do you mean how to create an app with node sdk to connect with the fabric emissions channel?

[2021-08-20 07:16] pratikpatil024 commented on #276
Yes, correct.

[2021-08-20 15:41] sichen1234 commented on #276
You can connect to the typescript app which has a rest api.  Or you could
use opentaps seas, which is a client with built-in integration:
github.com/opentaps/opentaps_seas

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Fri, Aug 20, 2021 at 12:16 AM Pratik Patil ***@***.***>
wrote:

[2021-08-30 18:50] #276 closed

[2021-08-30 18:54] sichen1234 opened #277 "Ethereum private key for signing cross-ledger transactions in Cactus"
The Ethereum private key for signing transactions to tokenize Fabric records is currently stored in a config file.

When using Cactus to create Ethereum tokens, is it possible to get Metamask to sign the transaction?

If not, could we store the Ethereum private key in Vault Transit engine, like we will be doing for the Fabric private keys?

@Zzocker @petermetz Please let me know what you think.

[2021-08-30 19:11] sichen1234 opened #278 "Integrate websocket for signing Fabric transactions"
Integrate websocket code for signing fabric transactions into blockchain carbon accounting app

Create command line scripts to generate keys, register and enroll users, invoke, and query Fabric chain code

[2021-09-01 04:46] Zzocker commented on #277
Storing Ethereum private key inside `vault transit engine` won't be be possible for now , since signature format used by Ethereum isn't provide in vault transit engine . To make it work I will have to write encoding of the signature of my own . encoding used by eth is defined here : https://eips.ethereum.org/EIPS/eip-712 .

I can start working on this once we see how vault and fabric works on an a

[2021-09-02 06:56] #232 closed

[2021-09-02 06:57] brioux commented on #232
Can resist HSM integration later. Focusing on WebSocket based identity provider for client side fabric security

[2021-09-02 18:56] sichen1234 commented on #277
What about Cactus calling on Metamask to sign the transaction?  Would that
be possible?

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Aug 31, 2021 at 9:46 PM Pritam Singh ***@***.***>
wrote:

[2021-09-02 22:04] brioux commented on #277
Cactus offers a plugin for connecting to besu networks, an open-source Enterprise Ethereum client. The connector covers "Build and sign transactions using different keystores." Imagine it could be setup to work with the metamask keystore. I'll look into this after implementing the web-socket identity provider for the cactus-plugin-ledger-connector-fabric

[2021-09-03 16:13] #165 closed

[2021-09-03 22:11] sichen1234 commented on #277
If the Cactus Besu plugin just stores the private key and doesn't access Metamask for signing, is it encrypting the Ethereum private key in any way?  We just need it encrypted.  Going through Vault to get a private key out is more work and doesn't seem to be better necessarily.

[2021-09-11 18:05] knagware9 commented on #277
In Besu Ethsigner component also provide ethereum transaction signing if user don't want to use metamask.  The key used to sign transactions can be stored externally using HashiCorp Vault or Azure Key Vault, or in a V3 keystore file.https://docs.ethsigner.consensys.net/en/stable/HowTo/Use-Single-Signer/

[2021-09-11 18:18] Zzocker commented on #277
Nice , similar approach as ours for fabric, but they are providing the `EthSigner` as separate service. We will have to make decision whether to go with a service kind of approach (EthSigner) or implement our own signer for vault and extensions. If we implement are own, then we could support `one wallet connecting to fabric and Ethereum both`. along with storing of private in Vault.

Because at th

[2021-09-16 05:32] hs2361 commented on #80
Hi, @sichen1234. In commit 739178fcd0edd333f4461a489efdc1efb15e85a0 by @Zzocker , end-to-end testing was added which seems to account for all the cases that are covered by the automated tests in the [test.js file](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/typescript_app/tests/test.js). The tests can be run by running `npm run test`, and it

[2021-09-17 07:07] Zzocker commented on #80
e2e test covers all the test cases of test.js along with 3 to 4 more test which checks some more corner cases. Also for running e2e test you won't have to put data by running the scripts form docker-setup folder. By running e2e test one mock emission record is inserted into the fabric.

[2021-09-17 18:34] hs2361 commented on #80
@Zzocker Do you think we can remove the test.js file entirely since the E2E tests are a superset of those tests? Please also take a look at the test case required by #190. If even that case is covered, @sichen1234 I think we can simply remove the file and close this issue, as well as #190.

[2021-09-17 18:40] Zzocker commented on #80
Yes, it covers #190
- here : https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/2a8e15fcf842ccef6ae3d8567d51c6c7e33f41d8/utility-emissions-channel/typescript_app/tests/e2e.test.ts#L197

Also can you add a `try/catch` block here : https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/2a8e15fcf842ccef6ae3d8567d51c6c7e33f41d8/utility-emissions-channel/typescript_app

[2021-09-18 05:45] hs2361 commented on #80
@sichen1234 Do you suggest that we close this issue, and then open a fresh issue for the changes suggested by @Zzocker?

[2021-09-20 11:38] hs2361 opened #283 "E2E tests get stuck if registerAdmin fails"
As pointed out by @Zzocker, in the End to End tests if registerAdmin fails, the entire test will get stuck since there is no try/catch block present there. The relevant test is given below:
https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/2a8e15fcf842ccef6ae3d8567d51c6c7e33f41d8/utility-emissions-channel/typescript_app/tests/e2e.test.ts#L71-L78

Also, the new E2E tests cover a

[2021-09-20 12:17] udosson commented on #283
Thanks for reporting this. All tests shall always be completed even if one or more fail.

[2021-09-20 12:24] udosson commented on #80
@hs2361, yes you can close this issue and create a new issue with the changes suggested by @Zzocker. Thanks!

[2021-09-22 16:26] #283 closed

[2021-09-22 16:33] #80 closed

[2021-09-22 16:33] #190 closed

[2021-09-26 07:55] hs2361 commented on #209
Hello, @udosson
I've developed a CI pipeline and integrated the E2E tests as well, taking some reference from work already done by @Pihu1998. However, I'm facing some issues with the build step:
`Error: ENOENT: no such file or directory, open '../docker-compose-setup/organizations/peerOrganizations/auditor1.carbonAccounting.com/connection-auditor1.json'`

I'm encountering this error when I run `./

[2021-09-26 09:44] Zzocker commented on #209
@hs2361 , docker container are not properly starting which is why `connection.json` file is not generated. `auditor1.carbonAccounting.com/connection-auditor1.json` is generated at the time of org's fabric ca creations.
First line of `./start.sh` script
https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/86616fa54650a81d334a10b3e4bfa33264ffaa02/utility-emissions-channel/docker-com

[2021-09-26 09:58] hs2361 commented on #209
Hey @Zzocker, thanks for looking through my PR. I had originally thought the `the input device is not a TTY` was just a warning, as it didn't stop the script's execution, but I think that is the underlying issue here due to which none of the Docker containers are running. This can be supposedly fixed by running `docker run -t ...` (i.e. using the -t flag instead of the -it flag we are using curren

[2021-09-26 12:04] Zzocker commented on #209
I think, `./start.sh` can run on local machine also, with removal of `-it`. I'm not sure please try.

[2021-10-04 10:05] udosson opened #291 "Publish test reports in GHA workflow"
The test reports of the GHA workflow should be published to debug the tests if they fail.

The following action could be helpful:
https://github.com/marketplace/actions/test-reporter

[2021-10-04 10:12] Zzocker commented on #268
@udosson , update this issue as a task.

[2021-10-04 12:00] #209 closed

[2021-10-04 15:36] #177 closed

[2021-10-04 15:36] #178 closed

[2021-10-04 15:37] sichen1234 opened #292 "Add net emissions tokens network tests to github CI pipeline"
Please add the tests for the net emissions tokens network (npx hardhat tests) to the github CI pipeline.

[2021-10-05 06:13] hs2361 commented on #268
@udosson @Zzocker Do I follow [this migration guide](https://code.visualstudio.com/api/advanced-topics/tslint-eslint-migration)? Or should I just use the same ESLint configuration that's [being used for the typescript_app](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/typescript_app/.eslintrc) for the chaincode as well? Do I also need to add t

[2021-10-05 06:57] Zzocker commented on #268
Please use existing one from the typescript folder and also include prettier (same configurations)

[2021-10-05 07:44] udosson opened #294 "Add about section of repository"
Provide a short summary of the project and what it is about:
![image](https://user-images.githubusercontent.com/39259938/135981317-c33af114-6fe7-4f4d-b107-9376dcfa92fc.png)

[2021-10-05 12:13] #268 closed

[2021-10-05 12:16] udosson commented on #221
@hs2361 could you work on this as your next task?
This should be straightforward. Please, create different steps for typscript_app and chaincode. Thanks

[2021-10-05 14:25] hs2361 opened #296 "Fix linting in TypeScript chaincode"
PR #295 migrated the chaincode from TSLint to ESLint. However, the files are not formatted correctly, and so the lint job fails with several errors as can be seen in the screenshot below.
![image](https://user-images.githubusercontent.com/51477130/136042317-74133b65-f37c-4e59-baf6-122e61e4ed2b.png)
Most of these errors can be fixed by running `npm run lint:fix`. The remaining errors will have to b

[2021-10-08 16:22] #294 closed

[2021-10-08 16:24] sichen1234 opened #298 "documentation for web socket server and wallet"
Please add documentation for the web socket server and wallet, and including the ideas behind from #166 to the instructions for setting up the server and wallet and using it with Fabric.

[2021-10-08 17:16] sichen1234 opened #300 "update documentation for Vault and Cactus integration"
Please update documentation to show how to integrate with Vault and Cactus integration.

For example, in the utility-emissions-channel/README.md,
1. There should be a section linking to a document on how to set up the Vault server,
2. There should be a section linking to the web socket server and wallet (#298)
3. the section below "Starting the Express server (REST API)" needs to be updated to inc

[2021-10-08 17:22] sichen1234 opened #301 "npm install error for net emissions tokens network"
Trying to follow the steps in utility-emissions-channel/README.md to run tests, I got this error:
[code]

Have you tried running the tests this way?

[2021-10-08 17:32] sichen1234 opened #302 "test correct year of emissions factors is used for calculations"
Set up different emissions factors for different years for a real utility, based on the differences in the egrid 2018 and 2019 data.
Stores emissions calculated for first year (ie 2018) for an energy amount.
Stores emissions calculated for second year (ie 2019) for same energy amount.
Should check if both are unequal.
Should check both are the correct energy amount * emissions factor for their yea

[2021-10-11 12:24] udosson opened #305 "Fix lint warnings in typescript_app and chaincode directory"
Linting has been implemented recently into the CI pipeline. The good news all errors have been fixed.
However, there are still some warnings we should try to get rid of to improve the overall quality of code.

Please, fix all the current warnings of the `typescript_app` and `chaincode` directories.
The warnings can be found at https://github.com/hyperledger-labs/blockchain-carbon-accounting/action

[2021-10-11 12:27] Zzocker opened #306 "Missing Linter and test CI for dataLock chaincode"
DataLock chaincode has both linter and test script, so it would be nice to include it in CI.

scripts are defined in `blockchain-carbon-accounting/utility-emissions-channel/chaincode/datalock/Makefile`

- [ ] test: `make test`
- [ ] lint : `make lint`

@hs2361 @udosson

[2021-10-11 12:35] hs2361 commented on #306
@Zzocker I think we can use [this GitHub action](https://github.com/actions/setup-go) for setting up Go. I can create linting and testing as separate jobs in the pipeline.

[2021-10-11 15:11] sichen1234 opened #307 "Document CI pipeline"
Please add a document for the github CI pipeline which describes:
1.  How it's configured -- the YAML file, links to documentation and resources on how it was set up and deployed.
2. How to change it -- For example, if we modify the tests and that would break the original tests, what would we do?

[2021-10-11 15:24] #159 closed

[2021-10-12 21:30] sichen1234 opened #311 "finish tests for web socket security"
Please complete the e2e tests using web socket security

[2021-10-12 21:31] sichen1234 opened #312 "move vault to secure-identities directory"
Move vault from utility emisisons channel to secure-identities since it is a security feature

Update all tests and documentation

[2021-10-12 21:33] sichen1234 opened #313 "UI for client applications to get authentication token"
Similar to how Google and Facebook generate tokens for third party apps, we should have a similar UI which could be configured to get tokens from either Vault or Web socket wallet.  This could be based on the current identity management API but needs to run outside of the Express API for the utility emissions channel.

The sequence should be:

1. Client app has a button to "Authorize"
2. This take

[2021-10-13 07:18] brioux commented on #313
@sichen1234 I have a question, I may have misunderstood the terminology. If the Client app you describe above represents a users mobile device why does it need a token. In my WS-X.509 setup, our typescript ap must be provided with a token to access the clients private key...

[2021-10-13 17:32] sichen1234 opened #316 "modify tests to use actual utilities"
Please modify the tests to use actual utilities rather than the mockUtilityId.

This means loading in the files and loading in at least one utility.

You can modify the script to load a single utility from a sample file, and then reference that utility for the tests.

[2021-10-13 17:35] sichen1234 opened #317 "test correct emission factor is found based on state/region/country"
The test should test that the correct emissions factor is found base don the state/region/country and year.

This means creating a dummy European utility which is at the country level (ie Germany) - #136

Then test for a US utility and a European utility.  The US utility should be based on its state's emissions factors, and the European utility should be based on its country level emissions factor

[2021-10-14 03:39] sichen1234 opened #319 "refactor chain code to work with new emissions type"
Add new field for Emissions Type (UTILITY_EMISSIONS_ELECTRICITY, TRAVEL_CAR, TRAVEL_AIR) so that we can distinguish between different types of emissions for Scope 3 emissions calculation

Modify the data loading script, the recordEmissions chain code, and the tests to add support for this type field with UTILITY_EMISSIONS_ELECTRICITY.  Current chain code for getEmissionsRecord should stay the same

[2021-10-14 03:39] sichen1234 opened #320 "separate Fabric data channels for different emissions types"
Can we create separate Fabric data channels for different types of emissions (Scope 1, 2 ,3 or by type UTILITY_EMISSIONS_ELECTRICITY, TRAVEL_AIR, TRAVEL_CAR)

[2021-10-14 03:40] sichen1234 opened #321 "move emissions factors to OrbitDB"
Move emissions factors to OrbitDB instead of loading them in Fabric

Change the data loading script and the Fabric chain code to store and get the emissions factors from OrbitDB

[2021-10-14 03:42] sichen1234 commented on #316
For example we can use this as the test utility file:
[Utility_Data_2019_test.xlsx](https://github.com/hyperledger-labs/blockchain-carbon-accounting/files/7342838/Utility_Data_2019_test.xlsx)

[2021-10-14 03:44] sichen1234 opened #322 "rename utility emissions channel"
Since we're going to support all emissions calculations, let's change utility-emissions-channel to the more generaly emissions-data-channel or something like it.

[2021-10-14 12:13] #305 closed, assigned to singhamarbir

[2021-10-14 12:14] udosson commented on #305
PR is merged. Thanks @A-5ingh

[2021-10-14 16:38] brioux commented on #313
@sichen1234

 yes your understanding is correct, and how the ws-identity Docker image is setup. Reflecting on your initial post this is how i imagine the the ws-identity authentication should work with Fabric app:

1. Client app has a button to "Authorize" connection between the ws-identity server and the Fabric app.
2. This takes the user to page from our Fabric app to issue a new ws-identity ses

[2021-10-14 17:55] sichen1234 commented on #320
OK I agree with you on that.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Thu, Oct 14, 2021 at 9:55 AM Bertrand Rioux ***@***.***>
wrote:

[2021-10-18 13:07] hs2361 opened #324 "Add a pre-commit hook for lint checks"
Normally, static code analysis is performed first at the developer's local system before it is run on the CI. This will help us enforce code formatting and styles to an even greater degree, since developers will be prompted to fix their linting right before they commit their code.

For the purpose of adding pre-commit hooks to our project, we can use [Husky](https://typicode.github.io/husky/#/). T

[2021-10-18 17:22] hs2361 commented on #291
@brioux, Could you please take a look at [this CI run](https://github.com/hs2361/blockchain-carbon-accounting/runs/3929058336#step:7:31)? The error says that the `open` function requires atleast 1 parameter, and none were supplied. I took a look at the type definitions for the `open` function, and in the `node_modules/ws-wallet/dist/src/index`, the open function has the following function signatur

[2021-10-20 11:49] brioux commented on #313
@sichen1234 I have opened [PR 325](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/325). Please note I am facing build issues after merging with commit [Lint warning fixes](https://github.com/hyperledger-labs/blockchain-carbon-accounting/commit/afb687e41650e2a19e061af20c2bce97dbb2296b). I have referenced a comment to @A-5ingh, might be an issue with my local build. need to ve

[2021-10-25 20:15] #301 closed, assigned to hs2361

[2021-10-25 23:14] brioux opened #333 "error: [Transaction]: Error: No valid responses from any peers"
Started receiving 'No valid responses from any peers' when running tests. Any idea why? Coming from chaincode-utilityemissions

2021-10-25T23:00:00.841Z info [c-api:EMISSION_RECORD_CHAINCODE] importUtilityFactor method called with args : mock-utility-factor,2019,USA,NERC_REGION,MRO,SERC_Reliability_Corporation,46112136.165,MWH,47582155.875,tons,https://www.epa.gov/sites/production/files/2020-01/eg

[2021-10-25 23:30] #333 closed, assigned to nobody

[2021-11-03 15:26] sichen1234 opened #340 "document for production deployment of Vault engine"
Please provide documentation on how to set up and deploy Vault engine in a production setting.

For example, should there be a separate Vault engine for each Fabric node?

Are there deployment scripts or documentation available?

[2021-11-03 15:45] Zzocker commented on #340
@sichen1234 I had already add a documentation for this, here  : https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/utility-emissions-channel/minikube-setup

It uses mini-kube for the deployment of vault server in Kubernetes.

[2021-11-03 20:20] hs2361 commented on #263
@udosson @sichen1234 As per today's discussion, we should be hashing and not encrypting the partyId. The rationale behind this being:
* Since the purpose of not storing the partyId in plaintext is to provide confidentiality, hashing is sufficient for this task
* Using encryption would make sense when we want to retrieve the plaintext partyId at a later point in the future by decrypting it. However

[2021-11-03 20:24] #188 closed

[2021-11-03 20:58] sichen1234 commented on #340
@udosson What do you think about this?  Should we do it this way for our emissions network?

[2021-11-04 07:47] #306 closed

[2021-11-04 08:04] hs2361 opened #341 "Publish test reports for Datalock chaincode tests"
PR #338 added in tests for the Datalock chaincode written in Go-lang. At the moment, test reports are published for the results of the tests of the TypeScript chaincode, with the help of the [test-reporter Action](https://github.com/marketplace/actions/test-reporter). However, this Action does not yet provide support for Go tests. One option would be to contribute to this Action, and add a parser

[2021-11-04 14:50] sichen1234 opened #342 "implement encryption of security key for ws-wallet"
ws-wallet should be encrypting the private key it generates and stores, for example with crypto-js (see #263)

It would also serve as an authorization mechanism for use of the private key

Please implement:
* on ws-wallet new-key, prompt the user for a passphrase and use that passphrase to encrypt the private key before storing it in the file system
* on ws-wallet connect,
** add a parameter `-p <

[2021-11-04 14:54] sichen1234 opened #343 "implement rest endpoint for ws-wallet connect"
Please implement one rest endpoint for ws-wallet which would allow a client application to open a connection with the ws-identity on the server side.

It should pass in the parameters from ws-identity such as sessionId and URL, pass it to ws-wallet, and then return the signature and session key from the ws-wallet.

Following #342 If the ws-wallet is set with the passphrase in the parameter, then i

[2021-11-04 22:25] brioux commented on #343
@sichen1234 [PR344](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/344) implements the REST API for ws-wallet to connect to the ws-identity server of the fabric app in a single command. The API takes as inputs

1. endpoint on the fabric app to request new session
2. keyname

I am working on encryption of the keyfile for [#342](https://github.com/hyperledger-labs/blockchain-c

[2021-11-04 23:13] sichen1234 commented on #343
I don't think we need so much complexity.  Just providing the key is enough
for now as approval for incoming signatures as well.

Also if it requires so many signatures, is it OK that the -p parameter in
the ws-wallet will take care of them by providing the passphrase in the
command line so you don't have to approve each transaction.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating

[2021-11-04 23:15] brioux commented on #342
@sichen1234 ok.
In the ws-wallet single rest API setup in [PR344](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/344) the passphrase will be required on initial request to issue and open (sign) a session.

What I will do is require additional approval to sign the first incoming tx, and will set a timelock requiring regular approvals from the user, or request to re-enter pass

[2021-11-05 08:12] brioux commented on #343
@sichen1234  I edited the response before reading this. In
[#342](
https://github.com/hyperledger-labs/blockchain-carbon-accounting/issues/342)
I propose how we can setup ws-wallet approvals for batches of signature on each REST API tx after providing passphrase.

[2021-11-05 15:08] #313 closed

[2021-11-05 15:13] sichen1234 commented on #342
I think this may not be necessary or even desirable in some cases.  For example for an IOT device you really don't want a user to sign each transaction.  You'd just want them to start the wallet, and then it'll authorize all incoming transactions.

That's why I thought if we just allowed either a parameter for the passphrase or if it's not a parameter, prompting it each time, it will be good enoug

[2021-11-05 19:08] #277 closed

[2021-11-06 21:15] brioux commented on #342
@sichen1234 now prompt user for password when creating new-key or opening session with key
See [PR 354](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/354)
include -p cli option for password.
We can discuss handling of multiple txs (signature batches) on monday. Will depend on how ws-wallet is integrated...

[2021-11-08 12:27] hs2361 commented on #263
@sichen1234 @udosson I think we can close this issue now, since we're already hashing the partyId with SHA-256?

[2021-11-08 16:18] #307 closed

[2021-11-08 16:20] #263 closed

[2021-11-08 17:00] udosson commented on #340
The documentation looks good to me. We could do this for our emissions network. This could however require starting the network from scratch. @Zzocker what steps do you think should we follow to switch our cloud deployment from "native" fabric to the vault enhanced version?

[2021-11-08 17:17] rybalko opened #357 "utility-emissions-channel/typescript_app does not start"
There is an error in the typescript_app after latest changes:

[code]

[2021-11-08 18:04] sichen1234 commented on #343
Based on today's call, the REST endpoint should be running while ws-wallet connect has been run.  This will allow an external application to call ws-wallet for the signature and session key.

If the -p passphrase was passed in when ws-wallet connect was run, then it should automatically return the signature and session key.

Otherwise each time it receives the request, it should prompt the user
"R

[2021-11-08 18:06] sichen1234 opened #358 ".env sample file"
Please commit/push your .env file as .env.sample file for other users.

[2021-11-08 18:08] sichen1234 opened #359 "minimize handling of Ethereum private key"
Based on today's demo, can the Vault engine sign the ethereum transaction directly instead of returning the ethereum private key?

[2021-11-08 18:24] sichen1234 opened #360 "pass Vault token back to requesting application instead of storing it in browser session"
Please change the vault identity UI authorization screen to pass the Vault token back to the requesting application instead of storing it in the browser session.  This is the standard process for OAuth that we should also follow.

The vault identity UI authorization screen should take as parameters:
* Name of calling application
* Return URL with string ${vaultToken}

It should then ask the user t

[2021-11-10 03:58] brioux commented on #358
@sichen1234 are you referring to [this .env file]](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/utility-emissions-channel/typescript_app/.env)?

[2021-11-10 15:46] sichen1234 commented on #358
Yes  Should we keep that as a sample .env or is it OK as it is?
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Nov 9, 2021 at 7:58 PM Bertrand Rioux ***@***.***>
wrote:

[2021-11-10 16:27] brioux commented on #357
@rybalko
I faced this issue last night. Should be resolved with npm run build using recent commits.

[2021-11-10 17:16] brioux commented on #343
@sichen1234 solved in
[PR 361](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/361)
Wallet user must input passphrase when a web socket session key is requested (before the ticket is even created or session opened).
This is more secure as the wallet user is asked to verify the endpoint of the app that will use the requested ws session ticket , i.e., does the wallet user know/

[2021-11-12 04:26] Zzocker commented on #359
For now no, since vault transit engine doesn't support ecdsa-secp256k1 signature. An issue and a PR is opened on vault repo for the ecdsa-secp256k1 support.

Issue : https://github.com/hashicorp/vault/issues/4594
PR : https://github.com/hashicorp/vault/pull/11469

[2021-11-12 04:28] Zzocker commented on #358
keeping it to just `.env` will be easier for `dotenv` package to read the environment variable.

[2021-11-12 15:46] #358 closed

[2021-11-15 13:29] #292 closed

[2021-11-15 16:19] #187 closed

[2021-11-17 23:27] #357 closed

[2021-11-17 23:27] #342 closed

[2021-11-17 23:27] #343 closed

[2021-11-18 00:20] sichen1234 opened #364 "importing emissions factors from UK Greenhouse gas reporting: conversion factors 2019"
This is to import the emissions factors from [Greenhouse gas reporting: conversion factors 2019](https://www.gov.uk/government/publications/greenhouse-gas-reporting-conversion-factors-2019) using
[conversion-factors-2019-flat-file-v01-02.xls.zip](https://github.com/hyperledger-labs/blockchain-carbon-accounting/files/7558725/conversion-factors-2019-flat-file-v01-02.xls.zip) after #319

The field ma

[2021-11-18 00:21] sichen1234 commented on #319
I think we can work with the flat file from https://www.gov.uk/government/publications/greenhouse-gas-reporting-conversion-factors-2019

We currently store the utility emissions factors from eGRID and EIA with country and state.  Following the format of this spreadsheet, we can refactor the UtilityEmissionsFactorInterface in utilityEmissionsFactor.ts to have the following fields:
Year
Scope = "Sco

[2021-11-21 07:16] hs2361 commented on #316
@sichen1234 Since #302, #316 and #317 are related, I was under the impression that we would have to load in (atleast) the NRL18 and NRL19 emissions data from the EPA eGRID data for 2018 and 2019 (to test for the correct year). Furthermore, we would have to import the European Environment Agency data as well (in order to test for the correct region). However, these files are quite large and so load

[2021-11-21 17:49] sichen1234 commented on #316
Yes you can just load in one for now.  How about the Los Angeles Department
of Water and Power?

On Sat, Nov 20, 2021 at 11:17 PM Harsh Sharma ***@***.***>
wrote:

--
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

[2021-11-22 16:20] hs2361 opened #366 "Use Renovate bot for updating package-lock.json"
Currently, because of committing the `package-lock.json` file, our commit diffs have a lot of noise. Furthermore, it is very difficult to resolve merge conflicts inside of the file, as it is very long. Using a bot such as [Renovate](https://github.com/apps/renovate) might be helpful, as it can automate the process of generating the `package-lock.json` file every time the `package.json` file is cha

[2021-11-22 16:22] slim-patchy commented on #116
Hi @sichen1234 I am interested in taking up on this issue in any way possible, but will need some guidance in grasping what exactly needs to be done to prepare a PR for the issue. For now the problem statement seems rather conceptual. One natural question I have is that if this issue expects a purely programming answer to solve, or will some additional research be needed for the background as a mo

[2021-11-22 16:57] #302 closed

[2021-11-22 17:03] #316 closed

[2021-11-22 18:27] sichen1234 commented on #366
The renovate bot is set up.  I'm able to sign in at https://app.renovatebot.com/dashboard

I think it's looking for some config files:
<img width="1680" alt="Screen Shot 2021-11-22 at 10 23 52 AM" src="https://user-images.githubusercontent.com/1706353/142915113-c780282e-9903-4ce3-aba9-a6fe2ad8bf29.png">

[2021-11-22 20:02] sichen1234 opened #369 "consolidate docker images into hyperledger-labs account"
Please put the docker images you created in your own account into hyperledger-labs account

See https://github.com/hyperledger-labs/solang/tree/main/.github/workflows for example of how to publish images from hyperledger-labs

[2021-11-23 07:16] udosson opened #370 "Fix lint warning in `blockchain-gateway/signer.ts`"
The lint analysis currently shows a warning in `blockchain-carbon-accounting/utility-emissions-channel/typescript_app/src/blockchain-gateway/signer.ts` with the following message:
`Warning:   84:92  warning  Unexpected any. Specify a different type  @typescript-eslint/no-explicit-any`

This is the message in GHA: https://github.com/hyperledger-labs/blockchain-carbon-accounting/runs/4295926586?chec

[2021-11-23 09:52] hs2361 commented on #317
@sichen1234 @udosson I had a look at this issue, and I went through some of the code and the data. I'm experiencing the following problem:
- The data from the EEA is given in the following format (the 2019-RES_proxies_EEA.csv file)
![image](https://user-images.githubusercontent.com/51477130/143000712-569400e5-a18c-4689-8f75-9f21b45cd30a.png)
As you can see, only data about the percentage of renewa

[2021-11-23 17:46] sichen1234 commented on #317
The correct file is  co2-emission-intensity-6.csv

The latest one can be downloaded from
https://www.eea.europa.eu/data-and-maps/data/co2-intensity-of-electricity-generation

I'll update the documentation.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Nov 23, 2021 at 1:52 AM Harsh Sharma **

[2021-11-23 19:36] hs2361 commented on #317
The link you added points to a file called 2017_CO2_IntensEL_EEA.csv. It contains the grams of CO2 emitted per unit of electricity consumption. So, since the older file isn't being used, should we remove the parsing logic for it? Also, does any new parsing logic have to be added in for this new file you shared? Moreover, the data pertains to 2017, while the 2019-RES_proxies_EEA.csv contained data

[2021-11-23 19:42] sichen1234 commented on #317
It is the same file as this, so the same parsing logic should apply:

node egrid-data-loader.js load_utility_emissions
co2-emission-intensity-6.csv Sheet1

Where is the "older file" you're referring to?

Yes, this is up to 2017 and the renewables is for 2019, but it's close
enough for our purposes.

-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain a

[2021-11-23 19:45] hs2361 commented on #317
Is the co2-emission-intensity-6.csv you're referring to the same as the 2017_CO2_IntensEL_EEA.csv file? Then is the 2019-RES_proxies_EEA.csv file also needed?

[2021-11-23 19:48] sichen1234 commented on #317
It is the same format, the 2017 file is newer.  The RES_proxies has the %
renewables information.  The documentation says to load both.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Tue, Nov 23, 2021 at 11:46 AM Harsh Sharma ***@***.***>
wrote:

[2021-11-29 14:28] hs2361 commented on #317
@sichen1234 @udosson I found the co2-emission-intensity-6.csv file [here](https://www.eea.europa.eu/data-and-maps/daviz/co2-emission-intensity-6). I loaded both the 2019-RES_proxies_EEA.csv file as well as the co2-emission-intensity-6.csv file, as per the documentation. The records show up correctly on CouchDB as well:
![image](https://user-images.githubusercontent.com/51477130/143884940-3402460a-

[2021-11-30 00:16] sichen1234 commented on #317
The problem here is the first parameter of recordEmissions is not the
country.  It should be a utility like USA_EIA_11208.  So to test a European
utility you will need to set up a European utility with something similar to
sudo bash ./scripts/invokeChaincode.sh
'{"function":"'importUtilityIdentifier'","Args":["USA_EIA_11208","2019","11208","Los_Angeles_Department_of_Water_&_Power","USA","CA","{\"d

[2021-12-02 09:22] hs2361 commented on #317
@sichen1234 `USA_EIA_11208` which you are referring to is a utility identifier available in the `Utility_Data_2019.xlsx` file. However, there is no need for utility identifiers for the utility emissions factors for Germany (as per the documentation, and neither is there any file containing any such utility identifiers). `COUNTRY_DE_2019` is the utility ID which is generated for the emissions facto

[2021-12-02 12:52] brioux opened #372 "New tokenTypeId for NET network: fuel/feedstock unrealized emissions"
This is a proposal for adding a new tokenTypeId to NET.
**tokeTypeId 4**: unrealized emissions in traded fuels and feedstocks (e.g., oil, gas, coal, biomass).

The purpose of this (fungible) token is to track the gradual production of CO2e GHG across a supply chain by different industries/end users.

The tokens have the following characteristics

- Minted by registered energy producers (new NET ro

[2021-12-02 13:21] hs2361 commented on #317
@sichen1234 I think I've identified the issue. It is a bug in the chaincode for getting the utility emissions factors. Specifically, this line:
https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/35f923ca12fc9b20e1b69ff7d5534886e68b37b0/utility-emissions-channel/chaincode/typescript/src/lib/utilityEmissionsFactor.ts#L131
As you can see, we are calling `.length` on the `state_prov

[2021-12-02 17:58] sichen1234 commented on #317
Please make that change.  However, COUNTRY_DE_2019 should not be imported as a utility ID.  It is not a utility.  It should only be imported as an emissions factor.  So this is correct:
![Screenshot from 2021-12-02 19-12-25](https://user-images.githubusercontent.com/1706353/144477165-34d910e5-f79f-4ea3-9bc2-28a8061bef92.png)

But this is not correct:
![Screenshot from 2021-12-02 18-42-26](https://

[2021-12-02 19:27] sichen1234 commented on #116
This is just a programming change to the code of the dCLM8 contract for the
DAO.  Currently it has a limited supply.  We want it to have an unlimited
supply.  Also we want them to automatically expire if they are not used to
vote.
-----
Si Chen
Open Source Strategies, Inc.

New Video: Creating Climate Solutions with Blockchain and Open Source
<https://youtu.be/gtO3COq8crQ>

On Mon, Nov 22, 2021 at

[2021-12-03 00:29] sichen1234 commented on #372
This sounds good.  Just a few thoughts:

1.  I see the flow as the embedded emissions token is transferred from the
producer to the consumer when fuel is purchased, so it could be attached to
the units of fuel.

2.  When the fuel is consumed (or for simplicity's sake, just as it is
purchased), it becomes Scope 1 emissions of the consumer and Scope 3
emissions of the producer.

3.  I don't think th

[2021-12-03 13:18] hs2361 commented on #317
@sichen1234 @Zzocker Could you please help me with packaging and installing the chaincode? I'm not able to get the new chaincode to be packaged and run (the `docker-compose-setup/scripts/installChaincode.sh` script only creates a tar file containing some JSON configurations, it does not actually run the `peer chaincode package` command). Could you please tell me where is the contract being package

[2021-12-06 14:37] brioux commented on #372
as pointed out by my colleague this extended token ecosystem supports forensic carbon accounting.
Forensic Accounting Carbon Tokens (FACTs) :)

[2021-12-06 14:48] NothingToContribute commented on #372
Technically, you are creating a double-entry accounting ledger, with a corresponding credit/debit for each transaction.
Strangely, this would allow you to leverage much of the existing generally accepted accounting practices (GAAP), or international financial reporting standards (IFRS).  Double-entry is helpful, in that it helps find errors (intentional or unintentional) in tracking.   I will read

[2021-12-08 10:53] NothingToContribute commented on #372
Weird idea: if we are talking about expanding the token types, can't we just make ones that follow the scopes directly?
Scope 1 (primary fuel), Scope 2 (electricity/heat), Scope 3 (products)
Every incoming token, of any type, generates an outgoing Scope 3 token that can be passed along
If you wanted to track the total carbon in the system, just measure the scope 1 (as scope 2 and 3 are ultimately

[2021-12-08 14:36] brioux commented on #372
@NothingToContribute
I have thought of this. I think what your are describing is already in the works.

- The supply side carbon token is scope 3 downstream - yet to be burnt.
- Once burnt it becomes holders scope 1. burnt carbon token are transformed into a new audited emission certificate/token.
- These can be sent as indirect scope 2 and other upstream scope 3 to consumers. The utility emission

[2021-12-08 16:27] sichen1234 commented on #317
@hs2361 have you tried using network.sh deployCC to update your chain code?  Not sure if you still need that to finish this task but this command is available.

[2021-12-08 18:07] sichen1234 commented on #372
@brioux I see what you're saying.

When some of the fuel is burnt during the production process it does add to the carbon intensity of the final product, and burning the tokens is the right thing to do there.

What about other emissions in the exploration and production process, such as electricity for office buildings and gasoline or diesel for vehicles, or energy used by drilling equipment?  Sho

[2021-12-08 19:04] #317 closed

[2021-12-09 11:21] brioux commented on #372
@sichen1234
Regarding other emissions (scope 2/3) for E&P (or other industrial processing), this is a good question and is part of carbon loop/cycle problem. What is transferred onto consumers is based on need, applicant and optics:
1. Fuel used by E&P vehicles/equipment are tokens received/minted and burnt by the producer. Audited emission certificates (e.g., scope 2 electricity, or scope 3) cycl

[2021-12-10 19:12] sichen1234 commented on #372
That sounds good.
Do you have any references on the full lifecycle emissions of plastics?

When should we consider the embedded emissions of plastics released?

-----
Si Chen
Open Source Strategies, Inc.

Free e-Book: Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>

On Thu, Dec 9, 2021 at 3:21 AM Bertrand Rioux ***@***.***>
wrote:

[2021-12-13 07:40] brioux commented on #372
@sichen1234
I'll dig for some refs on lifecycle emissions of plastics.
Regarding realized emission of residual carbon (plastic) tokens. As with fuel, burning is an option of the holder(s).
Accumulation of unburnt carbon is a sign that a company is not actively manage waste associated with its sales (could be the plastic producer, wholesaler, distributor or a consumer/municipal aggregator) .

Compa

[2021-12-13 08:13] udosson commented on #317
@sichen1234 @hs2361 is this issue still relevant?
The deployment of the chaincode follows the [chaincode lifecycle](https://hyperledger-fabric.readthedocs.io/en/release-2.2/chaincode_lifecycle.html). I'm happy to support you.

[2021-12-13 16:40] sichen1234 commented on #317
This issue is closed but could you show Harsh how to do this on the next
peer programming call?
-----
Si Chen
Open Source Strategies, Inc.

Free e-Book: Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>

On Mon, Dec 13, 2021 at 12:13 AM Robin Klemens ***@***.***>
wrote:

[2021-12-13 18:40] sichen1234 commented on #372
Yes, that is actually a very complicated topic on its own.  Maybe we'll
start a separate project just for plastics related issues.

For example I was thinking about these bottles that say "Made from Recycled
Plastic"  Given how much energy it takes to re-process old plastic into new
plastic, how quickly they're used up, and then how few of them are recycled
again, is that a good thing?  Or is it b

[2021-12-21 18:32] hs2361 opened #376 "Create a local deployment script for development"
At the moment, the chaincode is deployed as an external service (inside Docker containers), to keep it in line with the deployment pipeline. However, this makes it difficult to change the chaincode, test, update and debug it, since the chaincode isn't deployed locally but rather on a separate Docker container. Hence, creating a separate script (following the standard Fabric chaincode lifecycle giv

[2021-12-27 09:51] hs2361 commented on #51
@udosson Just to clear things up, I'm supposed to do the following:
* Delete the `chaincode/go` and `chaincode/node` directories
* Move the `typescript`, `packaging` and `deploy` directories into a new `emissionscontract` directory
Also, there is a `emissions_calc_test` directory, which has a single test in it. I think we can get rid of that as well, since that test is already covered by our exist

[2021-12-27 17:10] sichen1234 commented on #51
Yes this sounds correct to me.
-----
Si Chen
Open Source Strategies, Inc.

*Please give me your feedback on my e-book Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>*

On Mon, Dec 27, 2021 at 1:51 AM Harsh Sharma ***@***.***>
wrote:

[2021-12-29 15:44] brioux opened #378 "Move requires/modifiers of net-emissions-token-network transfer()to safeTransferFrom"
https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/1c5bc0aced65f24fd1befd133700c0c82a85d8d4/net-emissions-token-network/contracts/NetEmissionsTokenNetwork.sol#L593

We should move the require statements/modifiers in the transfer() function to the _beforeTokenTransfer() hook.
This will ensure they are not skipped by users directly calling safeTransferFrom() or safeBatchTransferFr

[2021-12-29 17:27] sichen1234 commented on #378
Sure that sounds good.
-----
Si Chen
Open Source Strategies, Inc.

*Please give me your feedback on my e-book Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>*

On Wed, Dec 29, 2021 at 7:45 AM Bertrand Rioux ***@***.***>
wrote:

[2021-12-29 17:31] #51 closed

[2022-01-11 19:27] #376 closed

[2022-01-17 17:11] sichen1234 commented on #319
Instead of changing the fabric emissions factors entities, create a new OrbitDB database.

Modify the egrid data loader to load the data into OrbitDB using this new format.  Instead of using invokeChainCode, create a new function to record Emission factors on OrbitDB.

Modify the record emissions chain code to get the emissions factors from orbitdb using this new format.

[2022-01-17 17:13] sichen1234 commented on #319
Modify the test to use the existing OrbitDB database.  You would not have to re-load it every time you run the tests.

[2022-01-25 19:36] sichen1234 commented on #321
@hs2361 I merged your PR #397 and tested it.  I was able to load one utility identifier:
`
$ ts-node src/dataLoader.ts load_utility_identifiers Utility_Data_2019.xlsx  States
OrbitDB address: /orbitdb/zdpuAzP5MaUNVYhoFLLyWiwFVEpAM3jDGbP1KTegJbBAtykfB/org.hyperledger.blockchain-carbon-accounting
Parsing worksheet |███████████████████████████████████████░| 96% || 55/57 rows
Loading into OrbitDB |███

[2022-01-26 16:22] hs2361 commented on #321
Hi @sichen1234, thanks for testing my PR. Since you're loading emissions factors (and not identifiers) from the `egrid2019_data.xlsx` file, you need to load them in using:
`ts-node src/dataLoader.ts load_utility_emissions egrid2019_data.xlsx NRL19`
instead of
`ts-node src/dataLoader.ts load_utility_identifiers egrid2019_data.xlsx NRL19`

Also, for the utility identifiers, only the `Utility_Data_20

[2022-01-26 16:36] sichen1234 commented on #321
Great.  It worked.  Thank you!
-----
Si Chen
Open Source Strategies, Inc.

*Please give me your feedback on my e-book Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>*

On Wed, Jan 26, 2022 at 8:22 AM Harsh Sharma ***@***.***>
wrote:

[2022-01-31 19:49] hs2361 commented on #321
@sichen1234 As discussed in today's call, I've sent a [message](https://lists.hyperledger.org/g/fabric/message/10844) to the Fabric mailing list.

[2022-01-31 19:50] sichen1234 commented on #321
I saw that.  Thanks!
-----
Si Chen
Open Source Strategies, Inc.

*Please give me your feedback on my e-book Open Climate Investing
<https://climate-investing-book.opensourcestrategies.com/v/main/book>*

On Mon, Jan 31, 2022 at 11:50 AM Harsh Sharma ***@***.***>
wrote:

[2022-01-31 22:13] sichen1234 commented on #321
@hs2361 Could you factor out the code for getting the emissions factors from OrbitDB and calculating the emissions from the chain code itself, so that it could also be called from another place?  That way we could reuse it, for example to tokenize via chainlink or a DAO, instead of Fabric?

[2022-02-01 17:51] hs2361 commented on #321
Hi @sichen1234, I've opened a draft PR containing all my changes. Please take a look at that.

[2022-02-01 18:08] hs2361 commented on #321
@sichen1234 I actually had a suggestion for the project. I think the main motive behind using OrbitDB to store the emissions factors was as follows:
1. De-coupling the data storage from the chaincode, so as to be able to have a public database of emissions factors
2. OrbitDB is built on top of IPFS, making it peer-to-peer and decentralized.

I think for the purposes of our project, we could benefi

[2022-02-01 20:07] sichen1234 commented on #321
That is an interesting project.  We should watch how it develops.
Meanwhile I think OrbitDB works well for our needs because the data will be
universally and publicly available when it is loaded.  Just having a set of
emissions factors that are available like that should be very useful.
-----
Si Chen
Open Source Strategies, Inc.

*Please give me your feedback on my e-book Open Climate Investing
<h

[2022-02-05 00:19] sichen1234 commented on #321
@hs2361 I'm having some problem getting it to run now:
[code]

I have the `ipfs daemon` running.   Could you tell me what else needs to be installed first?

[2022-02-05 09:40] hs2361 commented on #321
Hi @sichen1234, this is probably because I changed the dependencies. Please run
`rm -rf node_modules && yarn install --ignore-engines`
to install the new dependencies.

[2022-02-07 07:36] hs2361 commented on #319
@sichen1234 You mentioned

Level 2 = the current Country (ie USA)
Level 3 = the current Division Type and ID, combining the two. So it could be "NERC_REGION: WECC" or "STATE: CA"

Could you just clarify if these "level-" fields are a replacement for our current 'division_type', 'division_id' and 'division_name' fields or not?

[2022-02-07 16:53] sichen1234 commented on #319
Yes, they do replace those fields.  Also feel free to add some Level fields if the spreadsheet has them.

[2022-02-09 20:43] renovate[bot] opened #433 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] fix(deps): pin dependencies (`@apollo/react-hooks`, `apollo-boost`, `apollo-client`, `apollo-utilities`)
 - [ ] fix(deps): pin dependenci

[2022-02-10 00:05] sichen1234 opened #434 "set up remote orbitdb and load carrier service mapping into orbitdb"
There are 2 parts of this closely related issue:

1. In `blockchain-carbon-accounting/utility-emissions-channel/docker-compose-setup/data` are the scripts `dataLoader.ts` and `getData.ts` which can now be used to load the emissions factors to a local testing version of orbitdb:
`ts-node src/dataLoader.ts load_utility_identifiers egrid2019_data.xlsx NRL19`
and
`ts-node sr/getData.ts`

After startin

[2022-02-10 00:54] sichen1234 opened #436 "tokenize UPS emissions token from supply-chain using net-emissions-tokens-network"
From `supply-chain/ups.js`:
1.  encrypt the UPS JSON
2. calculate a sha256 hash of the UPS JSON output
3. store the UPS JSON file on IPFS
4. make a sha256 hash of the tracking number
5. create a token of Audited Emissions (type=1) based on the `net-emissions-tokens-network` with attributes for the location of the IPS file, hash of the JSON stored on IPS, and hash of the tracking number.

The `net-

[2022-02-18 18:11] sichen1234 opened #450 "roles not working with react app"
After some recent changes, it seems that the roles feature is not working with the net-emissions-tokens-network/interface react app any more.

On all pages, there is a "Not Connected" warning in the upper right corner, even though the Metamask wallet is connected and you can see tokens issued:
![Screen Shot 2022-02-18 at 10 07 58 AM](https://user-images.githubusercontent.com/1706353/154738378-5164

[2022-02-21 22:14] sichen1234 opened #452 "refactor ups.js to general purpose emissions.js"
Refactor the supply-chain/ups.js to a general purpose emissions.js:
* emissions.js will take the parameters which could be different types of shipments.  It will then call
* ups.js which just gets the ups tracking information and returns the distance, weight, and shipping package JSON

emissions.js could now take a list of activities in json format:
* unique ID - identifier of the activity
* type

[2022-02-21 22:15] sichen1234 opened #453 "REST api for supply chain emissions calculations"
REST API for #452 so that the input and output JSON can be delivered via REST API instead of files.

[2022-02-21 22:23] sichen1234 opened #454 "dApp dashboard support looking up another wallet"
Add support in dApp dashboard (http://localhost:3000/dashboard) of the net-emissions-token-network interface with a parameter to lookup the tokens of another wallet.  For example, it could be http://localhost:3000/dashboard/0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266

[2022-02-21 22:25] sichen1234 opened #455 "store tokens metadata in JSON format"
Modify the emission.js from #452 to store the emissions tokens' meta data in JSON format instead of plain text.

This should be done after #452 is done.

[2022-02-21 22:40] sichen1234 opened #456 "dApp dashboard show breakdown of tokens by metadata fields"
In the net-emissions-tokens-network interface dApp, add filtering for tokens by search criteria.  The searches should be done against the JSON in the metadata of the tokens.  They will be auto-filled with #455 but meanwhile you can copy/paste some JSON metadata when creating the tokens in the interface.  The metadata should have fields and sample values:
* Scope: 1 2 or 3
* Type: Electricity | Shi

[2022-02-22 00:25] sichen1234 opened #457 "Lookup emissions factors with orbitdb in supply chain emissions calculator"
After #452, look up emissions factors with Orbitdb instead of the hardcoded emissions factors.

[2022-02-23 05:16] brioux commented on #450
@sichen1234

 I have fixed this last week in my latest changes that I will be pushing today.
I also updated the outages contract ABI json files.

[2022-02-23 17:59] sichen1234 opened #463 "fix issuer address when tokenizing supply chain emissions"
From #436, if you tokenize emissions from supply chain emissions,

in .env
ETH_ISSUER_ACCT=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC
ETH_ISSUEE_ACCT=0x70997970c51812dc3a010c7d01b50e0d17dc79c8

ups.js output
"issuer": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
"issuee": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8",

dapp
Issuer  0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
Issuee  0x70997970C5181

[2022-02-23 18:00] sichen1234 commented on #436
This is done for now.  #463 is a remaining issue which needs to be fixed alter.

[2022-02-23 18:00] #436 closed

[2022-02-23 20:16] sichen1234 commented on #450
Yes that fixed it!  Thank you!

[2022-02-24 00:42] sichen1234 commented on #450
@brioux This is causing the regular tokens not to show up in the dashboard any more.  For example try:
1.  Login as the emissions auditor
2. Issue some tokens like Audited Emissions to another wallet
3. You should see the tokens your Dashboard as "Tokens You've Issued"
4. Login as the recipient.
5. You should see the tokens in your Dashboard as "Your Tokens"

I reverted your commit PR for now, and

[2022-02-25 08:20] brioux commented on #450
@sichen1234 I can't replicate this issue on my local [Hardhat Network using the default NET address.](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/a3f41e6ce98cef02d76135778c38a1fa1a15a031/net-emissions-token-network/interface/packages/contracts/src/addresses.js#L9)

<img width="1680" alt="Screen Shot 2022-02-25 at 10 52 53 AM" src="https://user-images.githubusercontent.com

[2022-02-25 15:22] #452 closed

[2022-02-25 16:15] sichen1234 commented on #450
You're right.  It works now.  Later we can re-deploy the contracts.  Thanks for checking.

[2022-03-09 02:19] #454 closed

[2022-03-11 16:23] #322 closed

[2022-03-11 16:23] #455 closed

[2022-03-11 21:09] sichen1234 opened #498 "Get emissions data fabric channel to work with OrbitDb"
With the recent refactoring to put emissions factor data in Orbitdb, we need to get Fabric data channel in emissions-data/ to work with OrbitDB.  OrbitDB requires Node 16, and Fabric comes by default with Node 12.

See https://wiki.hyperledger.org/display/CASIG/2022-02-28+Peer+Programming+Call for steps taken so far to do this, but which were not successful.

[2022-03-14 23:28] sichen1234 opened #499 "Update to the new version of the Berkeley Carbon Trading Project offsets database"
The latest version is available at https://gspp.berkeley.edu/faculty-and-impact/centers/cepp/projects/berkeley-carbon-trading-project/offsets-database

Update it in our open-offsets-directory/

[2022-03-18 00:26] #498 closed

[2022-03-18 00:27] sichen1234 commented on #457
Got this to work but with postgresql.

[2022-03-18 00:27] #457 closed

[2022-03-18 00:27] sichen1234 commented on #434
Got this to work but with postgresql.

[2022-03-18 00:27] #434 closed

[2022-03-18 00:27] #364 closed