[2022-03-18 00:29] sichen1234 opened #500 "change utility emissions factors to load into postgresql"
Change the utility emissions factors loading in emissions-data/ to load into postgresql using data/postgres, instead of directly into fabric channel.

[2022-03-18 00:30] sichen1234 opened #501 "modify fabric to get emissions factors from postgres database"
Modify fabric to get emissions factors from postgres database in data/postgres/ instead of directly from Fabric's couchdb, possibly by specifying ip address/port connection to postgres or using a docker container if really necessary.

[2022-03-18 00:32] sichen1234 commented on #321
Replaced with #500 and #501 to use postgresql.

[2022-03-18 00:32] #321 closed

[2022-03-18 23:05] #453 closed

[2022-03-18 23:06] #298 closed

[2022-03-19 03:57] cmjagtap commented on #500
@sichen1234 I am working on this.

[2022-03-22 19:28] sichen1234 opened #503 "should "industry" role be given by contract owner?"
@brioux I think the "industry" role should be given by the contract owner, like emissions auditor and offsets dealer.  Otherwise if anybody could claim to be an "industry" member the system could get chaotic.  What do you think?

[2022-03-28 22:52] sichen1234 opened #505 "5 minute pitch for Methane Emissions Project"
Create the 5 minute project pitch for the methane emissions project for the [Hyperledger Challenge 2022](https://wiki.hyperledger.org/display/events/Prototype+Challenge)

[2022-03-29 15:32] sichen1234 opened #507 "Use case for methane project"
Details of a use case for the methane emissions reduction project, including

- Users and their roles
- Source of data
- How the token would be issued
- How the token would be used

[2022-03-31 23:53] sichen1234 commented on #503
Hi @brioux What do you think of this change?

[2022-04-01 00:00] sichen1234 opened #510 "Add table for user identity"
For now, store basic user identity information in a Postgres database table:
* Address
* Name
* Organization
* Public Key name and key (could be an HSTORE combination)
* Roles (could be a list or string that could be searched for later, ie all addresses which are Auditors)

When a user is granted a role in the Manage Roles screen, it is currently asking for address only.  Prompt for the following

[2022-04-01 00:22] sichen1234 opened #511 "random queue for issuing emissions audit tokens"
Implement a random queue for issuing emissions tokens based on #510

Create a Postgres data table which would hold all the requests for an emissions audit from emission.js, including the input file, the public key name for the encryption.  This table should be part of the Postgres database set up in the data/postgres/ component and be in the net-emissions-tokens component since it is part of the d

[2022-04-01 17:03] sichen1234 opened #512 "add Tokens Transferred Info and make Input Data decodeable again"
Add the Tokens Transferred Info to the [tokens created](https://testnet.bscscan.com/tx/0x31d3e0a58803c800586939fb35db68d2b4cee37962e0b3cb4bf932933efd315a) by our NetEmissionsTokens.sol, so that it is more like [this token on BSC testnet](https://testnet.bscscan.com/tx/0x4d89d0ec096b7c0d784567da826650f7e46f6ce54367f02b2e39d694c9628085)

Make it possible to decrypt the input data again.  We've made

[2022-04-01 21:42] sichen1234 opened #514 "deploy emissions tokens to Hedera testnet"
Deploy emissions tokens to Hedera Hashgraph testnet to test compatibility

[2022-04-01 23:53] sichen1234 commented on #102
Done

[2022-04-01 23:53] #102 closed

[2022-04-02 00:34] sichen1234 opened #515 "move Tokens You've Issued from dashboard to Issue Tokens"
Move the Tokens You've Issued from the dashboard to "Issue Tokens"

In Issue Tokens, it should have:
- Tokens you've issued with search and pagination below
- Button for [Issue] which opens the current Issue Tokens screen

[2022-04-02 13:03] 0x0-github commented on #512
Hi, I got your answer on the feed. I will need some extra information, the two links you provided are the same tx (so I can't see any difference).
Can you also describe me a little more precisely what you expect regarding the json data decoded.
I also don't understand the why is there a scenario where there's no Transfer event emitted

[2022-04-02 13:12] 0x0-github commented on #512
The only difference between the two screenshots regarding the input data is that it is in default or original view in first one and in utf-8 in second one which is logical since data aren't decodable with utf-8, it just uses slots filled by function selector and arguments as an hex number.

[2022-04-04 16:56] sichen1234 commented on #512
@0x0-github Sorry I fixed the links and uploaded images of the 2 transactions.  Now they are different.

For a point of comparison, look at what we deployed to goerli last year: https://goerli.etherscan.io/tx/0x6014fc62c05cd4670cb63e15f63123afcc64a39c802bf6238ac87b042954002d
![Screen Shot 2022-04-04 at 9 53 40 AM](https://user-images.githubusercontent.com/1706353/161593741-d3f01e3b-9811-40a1-bd8f-

[2022-04-04 20:48] developerfred commented on #512
@sichen1234 a solution to take this information and display in any kind of decoding is using a subgraph it works on almost all EVM networks (ethereum, binance smartchain, avalanche, harmony, fuse...)

[2022-04-04 22:19] sichen1234 commented on #512
@developerfred Are you suggesting graphql?  We thought that it would not do so well if we tried to query a large number of tokens, so we implemented a token-query-server/ which sync's the tokens with a postgresql database.  It is working now, though I thought it'd be better to get the on-chain data correct as well.  Do you think so?

[2022-04-04 22:33] developerfred commented on #512
@sichen1234 I'm suggesting https://thegraph.com/en/, it uses graphQL depending on how the queries are consumed it is ideal for a large amount of information, if you use the mainnet then the synchronization is very fast and the storage is in ipfs, you can make a crown that takes the information from the subgraph and throws it in postgress so you will have two sources of asyncronous information

[2022-04-04 22:43] sichen1234 commented on #512
@developerfred Interesting.  So then are the changes/fixes in this issue not necessary?  Pls email me at sichen@opensourcestrategies.com - I'd like to discuss that further.

[2022-04-05 02:55] 0x0-github commented on #512
The difference you get on the decode is up to etherscan/bscscan and I don't think bsc scan development is that far. I alway had weird characters trying to decode with utf-8.
For the Token transferred, this is displayed if you triggered your transfer event in your smart contract.

Indeed I agree with developerfred if you need to query large amount of data, consider using thegraph wich is pretty awe

[2022-04-06 00:16] #515 closed

[2022-04-06 00:20] sichen1234 opened #517 "modify dApp to connect to Hedera through HashConnect"
Modify the dApp to connect to Hedera through HashConnect

[2022-04-06 00:26] sichen1234 opened #518 "Page of pending emissions audits"
Add a link to the Dashboard above "Your Tokens": If the user is an emissions auditor and pending emissions audits from the queue (#511), then it should say "You have ${n} pending emissions audits"

Also add this link in Issue Tokens above "Tokens You've Issued"

This list should show the issuance which are in the queue.

Clicking on the token should take you to the Issue token screen with the valu

[2022-04-06 15:35] sichen1234 opened #519 "Allow user sign in with email through wallet stored in database"
Allow users to sign in with email through a wallet stored in the database, so that a casual user who doesn't have metamask could still use the system.

The way it works:
1.  User can sign up for an account by providing an email address and password
2. Once user is verified, we will create a wallet with public and private key.  This can be stored in the `WalletModel` of `data/postgres/src/model.ts`

[2022-04-06 15:42] sichen1234 opened #520 "screen for user to request audit"
Related to #511 and #519

If the user is a consumer, then instead of the screen to "Issue Token", create a screen "Request Audit"

The user can choose from a list of activities already in supply-chain, such as shipment or flight, and then the screen would change to request the fields required.

If shipment, asking for "UPS Tracking Number" or Shipment Details.  If user chooses UPS tracking number,

[2022-04-06 23:11] sichen1234 commented on #507
See https://wiki.hyperledger.org/display/CASIG/2022-04-06+Peer+Programming+Call

[2022-04-07 06:26] naftalimurgor commented on #519
Hi @sichen1234 I'd like to express interest in working on this feature as it is pretty much straight forward

[2022-04-07 16:09] sichen1234 commented on #519
Hello @naftalimurgor Thanks for working on this.  Pls let me know if you have any questions.

[2022-04-11 21:52] sichen1234 commented on #519
@naftalimurgor Any updates about this?

[2022-04-12 06:17] naftalimurgor commented on #519
@sichen1234
Hi, I'm working on the feature and will submit a WIP PR to set the ball rolling.

[2022-04-13 01:52] sichen1234 opened #523 "add field for Sender to emissions tokens"
An emissions tokens could have 3 fields:
- Issued by: A third party auditor
- From: A company which is issuing the emissions tokens
- To: The company or person who is receiving the emissions tokens

Example is a utility which transfers emissions for electricity generated to a customer.  The emissions are audited by a third party auditor.  In this case, the From = utility, To = customer, and Issued

[2022-04-13 16:02] sichen1234 commented on #500
Currently we are loading data into the couchdb with commands like
[code]
What we need is for the data to be loaded into a postgres database as configured in https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/data/postgres

[2022-04-13 16:02] sichen1234 commented on #501
After #500, once the data is loaded into postgres, modify the chaincode that is accessing this seed data, for example in https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/emissions-data/chaincode/emissionscontract/typescript/src/lib/emissionsFactor.ts, to access it directly from postgres database.

As a test try accessing any postgres database from chaincode and see if it

[2022-04-15 00:40] sichen1234 commented on #519
@naftalimurgor how is it going?  When will you be sending a pull request?

[2022-04-15 06:26] naftalimurgor commented on #519
@sichen1234  It's going well, Let's give it an ETA of  8 days for the pull request. I will stop by in case of any questions

[2022-04-15 15:01] sichen1234 commented on #519
@naftalimurgor Could you pls email me at sichen@opensourcestrategies.com about this?

[2022-04-15 16:03] sichen1234 commented on #523
The new fields will be

- IssuedFrom - the company A issuing the token
- IssuedTo - the company B receiving the token
- IssuedBy - the auditor issuing the token

These will be added for all token types.

[2022-04-15 19:44] sichen1234 opened #526 "change unit of emissions token from tCO2e to kgCO2e"
The emissions token is by itself unitless, but by convention we chose tons of CO2e before because the US EPA eGRID database's utility emissions factors were in tCO2e.  Now looking at other applications, kgCO2e is more typical and manageable, so we will change the standard to be kgCO2e going forward.

This does not require changes to the emissions tokens contracts but rather to the emissions factor

[2022-04-18 16:19] sichen1234 commented on #369
See https://wiki.hyperledger.org/display/CASIG/2021-11-22+Peer+Programming+Call?preview=/62228282/62229116/zoom_0.mp4

[2022-04-19 16:30] #456 closed

[2022-04-21 15:20] #523 closed

[2022-04-26 21:54] #518 closed

[2022-04-27 16:33] sichen1234 commented on #526
This has been fixed for the way the supply-chain/ and scope 3 emissions tokens are calculated.

Still need to change the data loaded for the utility emissions factors and those calculations, when we get to them next.

[2022-04-27 22:25] sichen1234 opened #533 "display token dateCreated on dApp"
Add display of token dateCreated on dApp, under the from and thru dates.

[2022-04-27 22:33] sichen1234 opened #534 "Tests for the supply-chain and emissions audit process"
The test should cover these steps:
1.  Generate 2 public/private key pairs
2.  Store the public keys for the 2 default auditors in hardhat, not the demo ones.
3.  Generate emissions audit requests from the input.json file.  We can add a TEST mode so that the code will automatically return a fixed emissions for the shipments and flights, instead of requiring Google and UPS API's in the tests.  Just

[2022-04-28 21:51] #520 closed

[2022-04-28 21:51] #511 closed

[2022-04-28 21:54] sichen1234 commented on #507
See also

- https://wiki.hyperledger.org/display/CASIG/2022-04-11+Peer+Programming+Call
- https://wiki.hyperledger.org/display/CASIG/2022-04-15+Peer+Programming+Call
- https://wiki.hyperledger.org/display/CASIG/2022-04-25+Peer+Programming+Call

This is now completed.

[2022-04-28 21:54] #507 closed

[2022-05-02 19:58] sichen1234 opened #538 "add date range in emissions audit request form"
Add date range (from and thru) in the emissions audit request form, after the user has chosen the emissions factor.  This should be the same as the from and thru date in emissions_request

emissions.js processrequest should get the correct emissions factor by year based on the user's request date range, which is either the year for the thru date or the last year available.

[2022-05-02 20:10] sichen1234 opened #539 "add carrier and carrier wallets to demo data and audit requests"
The flights and shipments should have carrier (airline or shipping company) which is linked to specific wallets in the system.

Modify the request audit form:
1. Carrier for flight is a lookup from the wallets
2. If UPS is chosen, add a field for carrier and set it by default to the first wallet with organization name = UPS
3. If another shipment method is chosen, add a field to lookup a wallet wi

[2022-05-02 20:23] sichen1234 opened #540 "calculate emissions on pending issue page instead of request audit page"
The request audit page currently is calculating the emissions.  Move this to the pending issue page so that at least for emissions requests through the dApp UI, the calculation is made when the emissions request is being issued.

[2022-05-02 20:25] #540 closed

[2022-05-02 20:50] sichen1234 opened #541 "add emissions activity type Natural Gas with conversion"
Add emissions activity type "Natural Gas" (in addition to flight and shipment) to request audit which will map to
Level 1  FUELS
Level 2 GASEOUS FUELS
Level 3 NATURAL GAS

The input unit is [Therm](https://en.wikipedia.org/wiki/Therm) which is 2.83 cubic-meters

The calculated result is then therms * 2.83 * the emissions factor = kgCO2e.

With 2.02135 kg per cubic metres in the latest date set it

[2022-05-02 22:50] sichen1234 opened #542 "add emission activity type Electricity"
Add new activity type Electricity

User can then choose country

Any country other than United States will be mapped to
WTT- UK & OVERSEAS ELEC
WTT- OVERSEAS ELECTRICITY (GENERATION)
ELECTRICITY: + country

plus
WTT- UK & OVERSEAS ELEC
WTT- OVERSEAS ELECTRICITY (T&D)
ELECTRICITY:  + country

For UK it would be the sum of
WTT- UK & OVERSEAS ELEC
WTT- UK ELECTRICITY (GENERATION)
ELECTRICITY: UK

and

[2022-05-06 21:05] #538 closed

[2022-05-06 21:05] #534 closed

[2022-05-06 21:58] sichen1234 opened #544 "add tests for date range in scope 3 emissions calculations"
Add tests for date range in scope 3 emissions calculations, so that we know the emissions calculated are using the emissions factors of the right year.

[2022-05-06 22:00] sichen1234 opened #545 "add funnel to open search filters for tokens list"
On dashboard and issue tokens screens, the search for tokens list is looking too big.  Add a funnel icon next to the Your Tokens
 on Dashboard and Issued From You on Issue Tokens.  Clicking on this opens the search dialog below.

On Issue Tokens, move the Issue button to align with right side of screen.

[2022-05-11 00:01] sichen1234 opened #547 "load European percentage of renewables data for all years"
Currently in `data/postgres` I'm able to load the 2019 share of renewables for European data:
[code]

The data loader needs to be fixed for the others.

[2022-05-13 13:56] brioux commented on #503
@sichen1234  I have updated the role assignment for industry in the recently added [CarbonTracker branch](https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/CarbonTracker).

There are two industry roles: admin assigned industry dealer, and self or peer assigned industry. Both roles have the same function, they can receive and trade emission tokens and emission certificates (C-NF

[2022-05-16 22:22] #544 closed

[2022-05-16 22:39] #542 closed

[2022-05-16 22:40] sichen1234 commented on #542
This was implemented differently.  The WTT - emissions factors are not the scope 2 emissions factors but rather are the additional emissions (wheel to tank) to be added on top of scope 2 emissions.  Right now we're using the EPA emissions factors for USA, the EEA ones for Europe.

[2022-05-16 22:40] #541 closed

[2022-05-16 22:41] #545 closed

[2022-05-16 22:42] #539 closed

[2022-05-20 16:05] sichen1234 commented on #503
Do you see the Industry role as someone who could issue carbon tracker
NFT's and attach products?

In that case could it be any producer who wants to break down their
emissions audit to products?

What is the difference between industry and industry dealer then?  Do we
need the industry dealer?

-----
Si Chen
Open Source Strategies, Inc.

*Why aren't we decarbonizing when it's profitable?  How can

[2022-05-20 16:15] sichen1234 commented on #519
This is now working!

[2022-05-20 16:15] #519 closed

[2022-05-20 16:15] sichen1234 commented on #505
Done!

[2022-05-20 16:15] #505 closed

[2022-05-20 16:16] sichen1234 commented on #500
Done.  Now just need to get #501 to have fabric get them from postgresql database

[2022-05-20 16:16] #500 closed

[2022-05-31 17:07] sichen1234 opened #551 "refactoring of directory structure"
I think the current directory structure is getting confusing and propose a refactoring like this:
* data/: loading base data into database, such as emissions factors, and the dataLoader scripts for loading them
* common/: common code for calculating emissions from data/
* fabric/: code for storing emissions on Hyperledger Fabric, deploying Fabric, and tokenizing from Fabric to Ethereum
* solidity/

[2022-06-02 02:08] brioux commented on #551
These changes makes sense.
For secure-identities, not sure these should go to the fabric directory. While the identity connectors (web-socket, vault) have been configured to integrate with fabric, it could be setup differently, or generalized in the future.

Identity solutions could also be built for other network components, e.g. IPFS, or a key manager/multisig tool for EVM or other public networ

[2022-06-02 15:56] sichen1234 commented on #551
That makes sense.  We'll leave the secure-identities in its own directory.

[2022-06-03 18:38] brioux commented on #369
These images can be moved to the github [ContainerRegistry (ghcr.io)](https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry) for hyperledger-labs.

 This will require owner access to ghcr.io/hyerledger-labs and connecting ghcr.io images to hyerledger-labs/blockchain-carbon-accounting repo. [see Upgrading a workflow that accesses ghcr.io](ht

[2022-06-06 21:29] sichen1234 commented on #369
Actually it should be ***@***.***

Please ask them
-----
Si Chen
Open Source Strategies, Inc.

*Why aren't we decarbonizing when it's profitable?  How can we fix it?  See
our Blog
<https://www.opensourcestrategies.com/2022/04/13/using-the-blockchain-for-supply-chain-decarbonization-with-emissions-transfers/>
and White Paper
<https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4082449> *

On Fri, J

[2022-06-08 16:23] brioux commented on #503
1. TO-DO
2. is now configured for both the contract owner (admin) and assigned auditor. This allows auditor to register industry that emission certificates are assigned. The industry will submits product certificates assigned to CarbonTracker (emission certificate) before it is approved by the auditor.
3. Done

[2022-06-15 16:36] sichen1234 commented on #501
I don't want to use a different database with Fabric, only that the chain
code be able to access an external data source.  All the Fabric
transactions should stay on whatever database it uses.

In the very beginning we got the chain code to connect to Amazon's Dynamodb
using external API calls.

Can we set it up so the chain code can access postgres as well to get the
emissions factors?

-----
Si

[2022-06-15 17:01] brioux commented on #501
Ok, I understand better the issue now.
The emissions will not be stored on the Fabric state DB (i.e., couch), instead the chaincode call an external sevice (i.e., postgreSQL DB). I don't see why not. This makes sense as it will avoid loading entire datasets into Fabric stateDb.

[2022-06-15 17:02] brioux commented on #501
In this case I think a good first task for @Ackintya is to work on revising the chaincode to pull data from an external resource. You can start by connecting to the [postgreSQL database where all the emissions data is no being loaded](https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/data/postgres).

[2022-06-15 17:23] brioux commented on #501
The emissions data will no longer be loaded into fabric couchDB using [egrid-data-loader](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/emissions-data/docker-compose-setup/egrid-data-loader.js). A more recent dataLoader.sh script is located in the data/postgres directory.

[2022-06-19 16:08] brioux commented on #501
I have been thinking about this issue over the weeknd. There are the two approach, both can use external postgres databse to access emission records.

1. New approach: the chaincode is designed such that the records are queried from an external DB using an API call. each fabric peer has to submit a query and expects the API to return same result.
2. Old approach: An organization first queries the

[2022-06-19 16:28] brioux commented on #501
@Ackintya, @sichen1234 is asking to implement 1 where each peer has to call an external service when an emission audit is requested. The organization tells each peer where to get the data from (API call) .

[I read this threads that warns doing this can result in consensus issues, i.e., peers receive different results from the API call](https://stackoverflow.com/questions/50021124/accessing-extern

[2022-06-19 16:44] brioux commented on #501
Benefits of the new approach (assuming consensus is not an issue).
1. The chaincode can be configured to whitelist recognized/trusted emission record APIs
2. No need for internal state DB to replicate existing emission record database

[2022-06-20 15:56] sichen1234 commented on #501
I don't think we need to try to fix the consensus issue.  A lot of smart
contract code execution relies on some external service to provide them
data.  Oracles are designed to address the reliability of the external
data.  We can deal with that when we get there.

This new approach to get emissions factors is better in that it keeps the
Fabric database only for transaction records, and keeps the e

[2022-06-20 16:13] sichen1234 opened #563 "research and document bevel deployment steps"
Research bevel deployment steps

Create directory in fabric/bevel

Create README.md document to describe the bevel deployment steps.

[2022-06-20 17:08] sichen1234 opened #564 "Separate functions for retire and burn in emissions audits and offset tokens"
In the past we've used the burn function in NetEmissionsTokens.sol to retire emissions audits and offsets.  This means that the offsets cannot be transferred again.  Emissions audits are automatically retired so they can never be transferred to someone else.

I think we should create separate retire and burn functions.  Retire will continue to mean that the offsets are used, ie not transferred aga

[2022-06-20 17:10] sichen1234 commented on #369
Based on [today's call](https://wiki.hyperledger.org/display/CASIG/2022-06-20+Peer+Programming+Call), we should use the startDev.sh script instead of the start.sh script for now.

[2022-06-20 19:07] sichen1234 commented on #501
These commits have code that show how to access amazon dynamodb from chain code:
74ec825b2178de0b079e4fe565f245d4f2286704 [74ec825b]
b5ffcfece12dc271eea5bba6f8dfdbc958391e1a [b5ffcfec]
7c5c3fabbad18509a752a146a262f2fdb6197825 [7c5c3fab]
c21a1c4e6d25f37e895b6dae831bcf6836ed8a61 [c21a1c4e]

This could be a good example for accessing external data sources from chain code, even if we're using postgres

[2022-06-20 20:36] sichen1234 commented on #503
I still see the Industry Dealer role in the UI:
<img width="1728" alt="Screen Shot 2022-06-20 at 1 35 44 PM" src="https://user-images.githubusercontent.com/1706353/174674506-ef5f14e3-2b03-4667-ba13-dee4abb60f4b.png">

Should we remove it?

[2022-06-23 16:56] sichen1234 commented on #551
This is done now.

[2022-06-23 16:56] #551 closed

[2022-07-04 03:32] adityajoshi12 commented on #563
Added steps for bevel deployment. Docs can be found [here](https://github.com/hyperledger-labs/blockchain-carbon-accounting/tree/main/fabric/bevel)

[2022-07-05 02:56] brioux commented on #501
@Ackintya
Looking at your modifications to the emissionsRecordContract.ts
We will no longer be accessing the following from the Fabric state DB:
[getUtilityLookupItem](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/8957af2a6b5fd1d1d5d8d6b419702001134e38b0/fabric/chaincode/emissionscontract/typescript/src/lib/emissionsRecordContract.ts#L44)
[getEmissionsFactorByLookupItem](ht

[2022-07-05 03:42] brioux commented on #501
As an example we can use `activity-emissions` cmd to get data for uuid 3622b20d-1e94-4490-ba8b-6e0b73910e2 by sending the following args
scope: "SCOPE 2"
level1: "eGRID EMISSIONS FACTORS"
level2: "USA"
level3: "STATE: VA"

Note: If multiple scope 2 emission factors entries exist in postgres DB for different years, `activity-emissions` will return the most recent (no year arg as input).

[2022-07-06 15:42] sichen1234 commented on #501
I definitely think the better way to do is @brioux's option 1.  The chain code should call the API, which should call [getCO2EmissionByActivity](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/8957af2a6b5fd1d1d5d8d6b419702001134e38b0/data/src/repositories/emissionsFactor.repo.ts#L411).

[2022-07-13 18:40] sichen1234 commented on #501
@Ackintya Pls look in lib/src/emissions-utils.js process_electricity method.  It maps the utility fields into the emissions factors fields.  You can call this method from the REST API directly and map the fields to its input, or follow its logic to call the utility item lookup and then map the output to call get emissions factors.  Since we're just getting electricity emissions in the Fabric chain

[2022-07-13 22:13] sichen1234 opened #577 "Use CarbonTracker to calculate emissions from natural gas use"
Currently we are calculating natural gas use emissions from standard emissions factors.

In this task, we'll use the CarbonTracker to calculate emissions from a natural gas utility.  For example, [Sempra Energy's 2021 Sustainability Report](https://www.sempra.com/sites/default/files/content/files/node-report/2022/sempra_sustainability-report_2021_5.18.22.pdf) shows:
1. Scope 1 emissions = 4.8 + 2

[2022-07-13 22:15] sichen1234 opened #578 "Encrypt metadata and supporting documents for multiple parties"
Right now the supporting document for an emissions token is encrypted for one party, the emissions auditor, using their key.  The metadata is not encrypted.

Could the documents be encrypted for multiple parties, for example, the contract owner, the recipient of the emissions audit, and the auditors.

Could the metadata be encrypted the same way.

Could the data be encrypted and distributed to par

[2022-07-13 22:27] sichen1234 opened #579 "request emissions audit UI allow other request, supported by document"
Currently the dApp request emissions audit UI allows the user to choose a type of emission, and then enter the values and upload a supporting document.   The system then calculates an emissions amount and sends it to the auditor.

For more complex audits, it should be generalized to allow the user to just upload a document.  Then the emissions auditor should get the document and review it, and iss

[2022-07-14 02:31] brioux opened #581 "Add dataLoader scripts for product table"
Add to [dataLoader.ts](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/main/data/src/dataLoader.ts) command to load data into product model added to postgres DB in [PR 580](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/580).

 similar to [load_og_assets](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/ea57504d24d87615fd60ecc5fe0d0

[2022-07-14 15:14] brioux commented on #501
@sichen1234 clarification first i think you mean call [lib/supply-chain/src/process_electricity](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/ea57504d24d87615fd60ecc5fe0d0f4d2bb5aef8/lib/supply-chain/src/emissions-utils.ts#L371)...

@Ackintya, you can use your REST API (oracle) to call DB directly using `process_electricity` (I made a mistake, there is no need to use the a

[2022-07-14 16:12] brioux commented on #501
@sichen1234
These two functions (process_electricity and getCP2EmissionByActivity) expect different inputs (ElectricityActivity and ActivityInterface), and both do not align with what the original FabricChaincode expects from an organization, i.e. [`recordEmissions(utilityId ....`](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/ea57504d24d87615fd60ecc5fe0d0f4d2bb5aef8/fabric

[2022-07-14 16:17] brioux commented on #501
One more comment regarding the outputs of (`process_electricity` and `getCO2EmissionByActivity`)
[ActivityResult](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/ea57504d24d87615fd60ecc5fe0d0f4d2bb5aef8/lib/supply-chain/src/common-types.ts#L88)
[CO2EmissionFactorInterface](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/ea57504d24d87615fd60ecc5fe0d0f4d2b

[2022-07-14 19:14] brioux commented on #577
@sichen1234 Yes. The only question I have is how emissions would be distributed among Sempra's products, electricity and natural gas.

A CarbonTracker is issued unitless product tokens that determine the weighting of tracked emission tokens.

E.g., total 1000 product tokens = 300 natural gas + 700 electricity => 30% of reported emissions attributed to gas sales, 70% electricity.

Note: physical pr

[2022-07-14 19:22] brioux commented on #578
n-of-m multisig can solve the multi party problem by supplying all of the authorized public keys during encryption.
Where does the encryption currently take place?

[2022-07-14 21:30] sichen1234 commented on #501
You're right.  There's no reason that the Fabric chain code only handles
electricity.  We could generalize it more.

I think the best way is to set up a REST API endpoint for each process_
method in

lib/supply-chain/src/emissions-utils.ts

The current method in chain code also outputs more data, like the
percentage of renewables.  If we need that I think we should modify it in
the lib/supply-chai

[2022-07-14 21:34] sichen1234 commented on #578
Interesting.  Do you have any examples of this?
Encryption is currently done during the

npm run supply-chain:cli -- -processrequests

step.  When an auditor is chosen, the document is encrypted with their
public key and placed on IPFS.

-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog P

[2022-07-14 23:34] sichen1234 commented on #577
I think, for a utility, burning fuel to generate electricity would be Scope 1 emission, whereas supplying natural gas to customers would be Scope 3 emissions.  So the numbers for electricity and natural gas should be separated into Scope 1 and Scope 3.

Could you help me check my math here?

I updated their numbers above based on totals for all their divisions.

For electricity, the total is 155,6

[2022-07-14 23:45] brioux commented on #501
@Ackintya to avoid having to change the Fabric chaincode **FOR NOW**, you can setup a new EmissionsFactorRepo method  similar to `getCO2EmissionByActivity` that is called by the Oracle.

It would require only the utilityId, or uuid of utility_lookup_item table, to query the emission-factor.
Use [`db.getUtilityLookupItemRepo().getUtilityLookupItem(uuid)`](https://github.com/hyperledger-labs/blockch

[2022-07-18 14:39] brioux opened #584 "Calculation error for emission factor & unit consistency."
There are inconsistencies between how emission_factor data is being loaded from spreadsheets to postgres and how emissions are calculated.

The dataLoader script calls [`loadEmissionsFactors`](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/c536016f66f090422210ed76755364ef8acd4e05/lib/data-common/spreadsheetImport.ts#L160) , to store values in the `co2_equivalent_emissions` c

[2022-07-18 15:59] brioux commented on #577
@sichen1234 the order of magnitude difference between reported and calculated scope 1 may be because of differences in generation tech, assuming they use a lot of low carbon infrastructure... Have to look at their power generation stats.

[2022-07-21 15:38] sichen1234 commented on #584
Thanks for pointing that out.  We're looking into this.
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensourcestrategies.com/2022/06/01/why-open-source-carbon-accounting/>*

On Mon, Jul 18, 2022 at 7:39 AM Bertrand Rioux ***@***.***>
wrote:

[2022-07-26 08:12] jwickers commented on #584
We've updated the data import (if you are testing locally do try to reimport them) and fixed the emission calculation, but let me know if you see an issue.

[2022-07-26 17:10] brioux opened #591 "Dynamic loading of node-fetch"
[Update `import fetch from 'node-fetch'`](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/7066486717d7b2efe25f4d1843626fc154774ca4/fabric/chaincode/emissionscontract/typescript/src/lib/emissionsRecordContract.ts#L12)
using the following dynamic import
`import { RequestInfo, RequestInit } from 'node-fetch';
const fetch = (url: RequestInfo, init?: RequestInit) =>
  import('node

[2022-07-27 16:18] sichen1234 opened #592 "separate deploy js for carbon tracker"
Could we move the deployment of carbon tracker out of hardhat/deploy/net-emissions-token-network.js and into its own file?

[2022-08-02 12:27] brioux commented on #592
Working on it

[2022-08-03 21:28] sichen1234 opened #594 "remove open zeppelin contract upgradability"
For security reasons, remove the open zeppelin contract upgradability from the solidity contracts.

[2022-08-06 16:40] hyperledger-bot opened #598 "Create a MAINTAINERS.md file"
Example: https://github.com/hyperledger-labs/solang/blob/main/MAINTAINERS.md Example of a pointer: https://github.com/hyperledger-labs/homebrew-solang/blob/main/MAINTAINERS.md

[2022-08-08 17:34] sichen1234 commented on #594
This is done now.

[2022-08-08 17:34] #594 closed

[2022-08-09 01:40] #591 closed

[2022-08-09 17:44] brioux commented on #592
This issue resolved in PR referenced above

[2022-08-09 17:45] brioux commented on #581
Resolved in PR referenced above

[2022-08-09 21:12] jamesondh opened #601 "Remove upgradability from CarbonTracker"
After a discussion with @sichen1234 we deemed that upgradability adds too much operational complexity and security risks than what it's worth (see https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/597 for removal from NetEmissionsTokenNetwork). Instead, we deemed to make the token contracts non-upgradable and in the event that a token contract must be replaced, we index all of

[2022-08-11 01:54] sichen1234 commented on #601
@brioux Please take a look at this.  We've removed the upgrade feature from the net emissions tokens contract already.

[2022-08-11 03:49] brioux commented on #601
Ok, Will look at this next week.

[2022-08-16 21:34] sichen1234 opened #605 "loading of oil and gas data"
@brioux I tried loading the oil and gas data.  Is this correct?
[code]

Then after npm install
[code]

I see a table product in my database with data, oil_and_gas_asset which is empty, and no other new tables.

[2022-08-21 17:58] brioux commented on #605
@sichen1234

The errors reported above are because the download.sh script does not yet work for the following files.

1. All the VIIRS_Global_flaring_d. ([https://eogdata.mines.edu/global_flare_data](https://eogdata.mines.edu/global_flare_data) requires free subscription)
2. Oil_and_Natural_Gas_Wells.geojson [available here](https://hifld-geoplatform.opendata.arcgis.com/datasets/geoplatform::oil-a

[2022-08-26 18:00] dubgeis commented on #517
Hi Si - Did you succeed in deploying Carbon Emissions Tokens?

[2022-08-29 20:41] sichen1234 commented on #605
This is working now.  I updated the README.md in data/oil_and_gas/ a little bit.

[2022-08-29 20:41] #605 closed

[2022-08-30 23:36] sichen1234 opened #613 "Using Google travel impact model"
We could look at using https://github.com/google/travel-impact-model to calculate flight emissions.

Also we may need to multiple the carbon footprint by 1.9x, as per [this article](https://www.bbc.com/news/science-environment-62664981)

[2022-08-31 07:58] brioux commented on #601
@sichen1234 - should be resolved in [PR 614](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/614)

[2022-08-31 21:15] sichen1234 commented on #601
Yes thanks!

[2022-08-31 21:15] #601 closed

[2022-09-02 17:16] #584 closed

[2022-09-02 17:16] #581 closed

[2022-09-02 17:17] sichen1234 commented on #579
This has been implemented.

[2022-09-02 17:17] #579 closed

[2022-09-02 17:17] sichen1234 commented on #533
This has been implemented.

[2022-09-02 17:17] #533 closed

[2022-09-02 17:19] sichen1234 commented on #503
Hi @brioux Just wanted to check on this again.  There is a button for "Register as Industry" under My Roles.

Who should be able to be registered as Industry?  Should this be done only by the contract owner?

[2022-09-05 20:48] brioux commented on #503
@sichen1234
CarbonTrackers will only be assigned to registered Industry roles.
Since they are issued by auditors, this role is authorized to register them
See the registerIndustry contract function.

Is the add role options showing up in other cases?

[2022-09-05 21:35] sichen1234 commented on #503
Yes it is.  You can try it on emissions-test.opentaps.org  You can register
just with an email address, and then you'll see it there.
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensourcestrategies.com/2022/06/01/why-open-source-carbon-accounting/>*

On Mon, Sep 5

[2022-09-12 17:23] sichen1234 commented on #577
Based on [today's call](https://wiki.hyperledger.org/display/CASIG/2022-09-12+Peer+Programming+Call):
- Issue scope 1 2 and 3 emissions tokens to an account for Sempra
- Create CarbonTracker token for the amount of electricity and natural gas
- sign it with audit
- transferProduct to transfer it to the user's account
- getTotalEmissions to get the total emissions of the tracker.  Calculate your em

[2022-09-13 16:26] #592 closed

[2022-09-27 20:26] brioux opened #627 "Adopt Typescript 3.0 references and composite tsconfig.json setting?"
### Discussed in https://github.com/hyperledger-labs/blockchain-carbon-accounting/discussions/625

<div type='discussions-op-text'>

<sup>Originally posted by **brioux** September 23, 2022</sup>
@sichen1234
I propose we add references with the composite tsconfig.json setting to help structure the sub-typescript programs across the project...  https://www.typescriptlang.org/docs/handbook/project-re

[2022-10-09 21:49] #627 closed

[2022-10-09 22:15] brioux opened #629 "Private Key exposure during Wallet signup"
New users that register with the NET are provided a random wallet including a public and private key pair.

Private key exposure issues currently exist and should be addressed:

The private key file is [stored in the Wallet entity unencrypted](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/d56dee186d02c6c5c329e5b4c159e1e4f81186f5/app/api-server/controller/wallet.controller.t

[2022-10-10 20:43] sichen1234 commented on #629
This feature was implemented because I felt that UI flow requiring metamask is not intuitive for non-crypto users.   The goal was to make it easy for a user to sign up and use the application without a wallet like Metamask or signing every transaction.

You bring up a good point that the private key should be encrypted in the database.  I'd rather not require the user to enter their password, thou

[2022-10-11 00:41] sichen1234 opened #630 "scripts and documentation for deploying Fabric chain code using Bevel"
Push instructions and scripts for deploying Fabric chain code using Bevel to the fabric/bevel/ directory.

[2022-10-11 00:42] sichen1234 opened #631 "scripts and documentation for deploying Solidity smart contracts to Besu using Bevel"
Push and deploy scripts and documentation for deploying Solidity smart contracts to Besu using Bevel, and then how to connect the dApp and Metamask to the Besu network.

[2022-10-11 07:24] sichen1234 commented on #501
Wouldn't it be better to call the REST API from inside chain code, so that
later we can substitute it for another API if needed?
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensourcestrategies.com/2022/06/01/why-open-source-carbon-accounting/>*

On Thu, Jul 14, 20

[2022-10-11 07:58] sichen1234 commented on #517
Yes, on avalanche thought, did not do this for Hedera.  You can check it
out at emissions.opentaps.org
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensourcestrategies.com/2022/06/01/why-open-source-carbon-accounting/>*

On Fri, Aug 26, 2022 at 11:00 AM dubgeis ***

[2022-10-11 09:20] sichen1234 commented on #369
We should ask Ry Jones at ***@***.*** for access.

-----
Si Chen
Open Source Strategies, Inc.

*Why aren't we decarbonizing when it's profitable?  How can we fix it?  See
our Blog
<https://www.opensourcestrategies.com/2022/04/13/using-the-blockchain-for-supply-chain-decarbonization-with-emissions-transfers/>
and White Paper
<https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4082449> *

On Fri, J

[2022-10-11 15:38] brioux commented on #629
@sichen1234

agree with the approach you adopted. Metamask is a powerful tool but not for everyone and will create adoption barriers.

at a minimum server side private key encryption using secure environment secret. If a backup of the db is leaked all the users private keys are exposed.

[2022-10-11 16:06] brioux commented on #501
The approach adopted in [PR 616](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/616) was to introduce a new oracle api into the chaincode, rather than an explicit connection to the existing rest API.

The oracle can then be configured to relay connections to an approved rest-api with the required DB connection.

For now the DB connection was hardcoded into the Oracle API. Th

[2022-10-11 16:41] sichen1234 commented on #629
@brioux Good point.  I think a passphrase in the config file is better.  What do you think?

[2022-10-12 00:16] sichen1234 commented on #563
This will be continued w #630 and #631

[2022-10-12 00:16] #563 closed

[2022-10-12 01:22] sichen1234 commented on #577
Thinking about this, I think we should make these modifications:
1. The CarbonTracker should have some additional fields:
* an amountUsed in addition to amount, to track the amount that has been used in emissions audits
* product type to record what the tracker is for, ie "natural gas"
* tracker to record the address of the seller of the product (vs trackee being the recipient)
* fromDate and thru

[2022-10-15 09:25] brioux commented on #577
@sichen1234 thanks for the suggestions

I am taking these into consideration  as I finalize the integration of the tracker with of the methane react-app.

[2022-10-16 08:43] brioux commented on #577
@sichen1234 With regards to the above

This is achieved through the [ProductDetails available](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/25bc6eb48c61ea21e7d1485b9e5da80f36ec8533/hardhat/solidity/CarbonTracker.sol#L117)
amountUsed is amount-available.

Can be set using [ProductDetails name](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/25bc6eb48c6

[2022-10-17 16:42] sichen1234 commented on #577
Hi @brioux:

1.  Yes, we can use the ProductDetail.amount - available to track the amount used.  It seems you're thinking of amount as the original producer's (natural gas producer) total amount of output (MMCF or Boe).  I'm thinking of it as a user (building owner) using the token to calculate their emissions.
2. I think ProductDetails.name can be used as a product type, but it could become ambig

[2022-10-18 21:20] sichen1234 commented on #629
This has been fixed.  Thanks for bringing it up.

[2022-10-18 21:20] #629 closed

[2022-10-24 20:27] sichen1234 commented on #577
Hello @brioux about this one:
The issuing the request will both create the token and add it to the tracker contract address and link it to the tracker Id. We can include the trackerId in the metadata, but this is redundant as the tracker reference each NET token by design.

I think there are 2 different use cases:
1.  A carbon tracker is issued from an audited emissions certificate.  This is when

[2022-10-24 20:31] sichen1234 opened #637 "UI to select multiple data points for an audited emissions certificate"
Based on [today's call](https://wiki.hyperledger.org/display/CASIG/2022-10-24+Peer+Programming+Call) I think it would be helpful to have a UI where the operator could request an audit by checking off many different data points, for example satellite upper, lower bounds, company reported figures, etc. for many different fields.

Right now the UI will allow you to choose "Other" as your activity typ

[2022-10-24 20:35] sichen1234 opened #638 "Disallow operations on the network with server side stored private key"
Just watched the [video of signing with users wallet](https://wiki.hyperledger.org/display/CASIG/2022-10-24+Peer+Programming+Call?preview=/78020911/78020916/SigningWithUserWallet.mp4)

I think this feature should not be allowed so that we're not passing the private key from the server to the client.

The consumer or operator could request a transaction, but then it should be stored in the database

[2022-10-25 03:30] brioux commented on #577
@Sichen, first response to your questions from last week. -

Regarding the User vs. Producer product amounts.
Their are two different entities for tracking products:
- [ProductDetails amount stored within the tracker](https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/17f46b56a5b9303685c51cac19f9fb8875b8ed2b/hardhat/solidity/CarbonTracker.sol#L116). static a record of the produc

[2022-10-25 03:39] brioux commented on #577
@sichen1234
Regarding the  2 different use cases:
The original design was for consumers to receive products issued to an audited carbon tracker linked to the original producers emission - not for the tracker to be used to release new emissions.

There is the option of releasing the orignal emission balances to the receiver of the product - but i don't think necessary.

This is because the products

[2022-10-25 16:23] brioux commented on #577
There are two ways to do this.
1. In the transaction where emissions are derived from an existing product, both are used as inputs to a new carbon tracker, linking them to the source tracker ...
2. The emissions are issued standalone to a consumer. In this case it makes sense to reference the CarbonTracker contract address and the product Id in the metadata.

[2022-10-25 16:28] brioux commented on #577
In the second case custom instructions are needed to track emissions to the previous contract. I.e., standardize protocol for reading the carbon tracker address and product Ids from the NET metadata

[2022-10-25 16:36] brioux commented on #637
This makes sense. As I understand the proposed request mechanism using multiple data points is for issuing a single token. multiple calculations are generated and sent to an auditor to asses the correct amount of emissions to be issued...

I just need to figure out how to package multiple emissions requests/calculations into a single package for distribution to an auditor.

[2022-10-25 16:52] brioux commented on #637
For a new carbon tracker contract the request is sent with the requested CarbonTracker ID set to 0. multiple data points can be relayed to the auditor to assess what tokens should be assigned to the tracker, e.g., methane flaring, venting, ...

The assigned auditor can use different calculators, including leveraging the supply-chain utility for converting industrial emissions into kg CO2e.

[2022-10-25 17:00] brioux commented on #638
Restricting all token creations operation to auditors makes sense. Even if it is to just initialize a request. See comment in [issue637](https://github.com/hyperledger-labs/blockchain-carbon-accounting/issues/637#issuecomment-1290861230) for handling new carbon tracker requests from an oil & gas operator.

[2022-10-25 17:27] brioux commented on #638
Not sure we need to limit transactions to accounts that have opted to store their keys on the server side when signing up.

It is better practice for accounts to hold keys directly, in line with the principles of web3.0 transaction. But an auditor may prefer to use a key management service.

Server side key management was introduced to the user sign-up function to help with onboarding of consumers

[2022-10-25 17:33] sichen1234 commented on #638
What do you think of signing the transaction on the server, instead of transferring the private key to the client and signing it there?

[2022-10-25 17:34] sichen1234 commented on #637
Sure.  The code does not have to calculate the final emissions in this case, just forward all the data points for the auditor to perform the calculation.

[2022-10-25 17:39] brioux commented on #638
@sichen1234 I was just writing this up...

Here are some ideas for improving security.

Private keys never leave the server side to sign transactions, only when exporting keys and permanently deleting it from the server. This is structurally different from what was shown in the referenced video. Transaction messages could be sent encrypted to the server (using the public key) where the message is

[2022-10-25 17:39] brioux commented on #638
Use the [window.Crypto object](https://developer.mozilla.org/en-US/docs/Web/API/Crypto) (a secure mechanism to use javascript to access the DOM) to store privateKeys in the clients browser when receiving the keys from the server during sign in.

[2022-10-25 17:50] brioux commented on #638
The Wallet interface with private key is loaded around here from the server on the sign in page
https://github.com/hyperledger-labs/blockchain-carbon-accounting/blob/17f46b56a5b9303685c51cac19f9fb8875b8ed2b/app/frontend/react-app/src/pages/sign-in.tsx#L68

The private key should be sent by the server to the client's Wallet interface encrypted by a public key address generated by the clients window

[2022-10-25 17:58] brioux commented on #638
At discussed at the end of this [older post](https://crypto.stackexchange.com/questions/35530/where-and-how-to-store-private-keys-in-web-applications-for-private-messaging-wi) a variety of modern browser features can be used to securely store the keys with the client -- this is basically what browser extensions like Metamask achieve - with the keys stored in the browser

[2022-10-25 18:02] sichen1234 commented on #638
This makes the dApp implement a metamask-like wallet.  What is the
advantage of doing this, versus just signing the transaction on the
server?  I feel more comfortable if the private key does not leave the
server.
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensou

[2022-10-25 18:24] brioux commented on #638
both require similar security development.

Keeping keys on the server limits attack vectors to server breaches.The benefit of relegating the signing to the client is probably the legal context in how the server uses the private keys.

If the server is setup to sign transactions on behalf of the client, but used in a malicious transaction, the company operating the server could be held accountable

[2022-10-25 18:31] brioux commented on #638
A secure and legally sound application should have baked in client key gen and storage (e.g., electron or mobile app).
Both are patchy solutions at best.

[2022-10-25 20:40] sichen1234 commented on #638
OK, I see your point and it makes sense.

Something like this would take more time to develop.

Meanwhile for security purposes we'll remove the passing of private keys to
the client side for signing transactions.
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<https://www.opensou

[2022-10-25 22:11] brioux commented on #638
Agree.

As long as the signed in user is only received retired tokens, no need to access the privateKey.

Minimize key management to the bare minimum, and rely on third party wallet party providers and custom built client applications.

Suggest putting private keys into a separate write only schema, with read access limited to key export and deletion.

Once transferable tokens are issued to the us

[2022-10-25 22:34] brioux commented on #638
Question, if a client has connected their external wallet to NET, is there a form they can use to register information about their public address with the Postgres server - e.g. organization, name, email... ?

I have started a separate discussion on managing user information using separate Distributed identity management tools. A topic of discussion as feature for future development.

[2022-10-25 23:54] sichen1234 commented on #638
Right now not.  We can add a form for the user to update that and sign it
to submit.  That should be pretty simple.

The bigger question is how the whole process of user identity should be
handled.  We can discuss that over time.
-----
Si Chen
Open Source Strategies, Inc.

*Why open source and blockchain for carbon accounting?  Video
<https://www.youtube.com/watch?v=eNM7V8vQCg4> and Blog Post
<htt

[2022-10-28 16:49] brioux commented on #637
@sichen1234 This issue is addressed initially in [PR 642](https://github.com/hyperledger-labs/blockchain-carbon-accounting/pull/642).

The test-typescript-app is failing but i explain why in the comments.

[2022-11-07 18:13] sichen1234 commented on #577
Thinking about this, I think we should make these modifications:
1. The CarbonTracker should have some additional fields:
* an amountUsed in addition to amount, to track the amount that has been used in emissions audits -> CarbonTracker is just an NFT tracking the amount of product, so no need to track amounts in it.
* product type to record what the tracker is for, ie "natural gas"  --> use Produ

[2022-11-07 23:50] sichen1234 opened #647 "deploy solidity contracts locally with bevel scripts"
Please deploy our solidity contracts locally with bevel scripts, instead of with cloud based frameworks.

[2022-11-14 18:05] sichen1234 commented on #647
Thanks for the PR.

Can you show this to us on the next peer programming call?

[2022-11-15 22:07] ayush110 commented on #100
Hi, getting started as a new developer for this project. Is this task being worked on?